<!-- <h1>Listado de empresas del Sistema</h1>
<a routerLink="registrar" class="btn btn-sm btn-success mb-2">Registrar empresa</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Identificacion de Empresa</th>
            <th style="width: 40%">Nombre Sociedad</th>
            <th style="width: 25%">Cédula Jurídica</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let business of businesss">
            <td>{{business.id}}</td>
            <td>{{business.nombre}}</td>
            <td>{{business.cedulaJuridica}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{business.id}}" class="btn btn-sm btn-primary mr-1">Actualizar</a>

                <button (click)="deleteBusiness(business.id)" class="btn btn-sm btn-danger mr-1" [disabled]="business.isDeleting">
                    <span *ngIf="business.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!business.isDeleting">Eliminar</span>
                </button>

            </td>
        </tr>
        <tr *ngIf="!businesss">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table> -->