<h1 style="display: inline; color:#1A5276">Asignar Acceso de Usuario en Compañías</h1>
<br><br>
<a routerLink="{{HTTPListUserPage}}" class="btn btn-light mb-2 mr-3">Volver</a><br>
<div class="card">
    <div class="card-body">

        <h3 style="display: inline;">Usuario: </h3><h3 style="display: inline; color:#1A5276"><b>{{userToAssign.identificacion}} </b></h3>
        <h3 style="display: inline;">Nombre: </h3><h2 style="display:inline; color:#1A5276">{{userToAssign.nombreCompleto}}</h2>
        
        <br><br>
        
        <h4 *ngIf="existeRol" style="display: inline;">Rol asignado: </h4>
        <h4 *ngIf="existeRol" style="display:inline; color:#1A5276"><b>{{role.nombre}}</b></h4>
        <h4 *ngIf="!existeRol" style="display: inline;">&emsp;<b>Rol de usuario no asignado</b></h4>

        <button *ngIf="listBusinessUser" (click)="desAsignAllBusinessUser(userToAssign.id)" class="btn btn-outline-danger mb-2 float-right">
            <span *ngIf="isDesAsignBusiness" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!isDesAsignBusiness">Eliminar Acceso de TODAS las Empresas</span>
        </button>

        <br>
        
        <div *ngIf="listBusinessUser">
            <br>
            <h3 style="color:#1A5276">Eliminar Acceso de Usuario en Compañía</h3>
            <table class="table table-striped">
            
                <thead>
                    <tr>
                        <th style="width: 15%">Identificación</th>
                        <th style="width: 25%">Nombre de la Compañía</th>
                        <th style="width: 15%">Correo Electrónico</th>
                        <th style="width: 15%">Número de Teléfono</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bussiDess of listBusinessUser">
                        <td>{{bussiDess.cedulaJuridica}}</td>
                        <td>{{bussiDess.nombre}}</td>
                        <td>{{bussiDess.correoElectronico}}</td>
                        <td>{{bussiDess.telefono}}</td>
                        
                        <td style="white-space: nowrap">
                            <button (click)="dessAssignBusinessUser(bussiDess.id)" class="btn btn-sm btn-outline-danger mr-1">
                                <span *ngIf="isDesAsignBusiness" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!isDesAsignBusiness">Eliminar Acceso</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div *ngIf="listAllBusiness">
            <br>
            <h3 style="color:#1A5276">Otorgar Acceso de Usuario en Compañía</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 15%">Identificación</th>
                        <th style="width: 25%">Nombre de la Compañía</th>
                        <th style="width: 15%">Correo Electrónico</th>
                        <th style="width: 15%">Número de Teléfono</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let businessAss of listAllBusiness">
                        <td>{{businessAss.cedulaJuridica}}</td>
                        <td>{{businessAss.nombre}}</td>
                        <td>{{businessAss.correoElectronico}}</td>
                        <td>{{businessAss.telefono}}</td>

                        <td style="white-space: nowrap">
                            <button (click)="assignBusinessUser(businessAss.id)" class="btn btn-sm btn-outline-success mr-1">
                                <span *ngIf="isAsignBusiness" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!isAsignBusiness">Otorgar Acceso</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>