<article class="articulo">
  
  <section>
    <div>
      <div>
        <p class="articulo__contenedor__tittle__h1">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.TITLE' | translate }}</p>
        <p class="articulo__contenedor__tittle__h2">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.SUBTITLE' | translate }}</p>
      </div>

      <hr>

      <div>
        <button class="administracion-contenedor__content__item__second-back-ico"
              title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
              mat-icon-button 
              (click)="redirectListUsersPage()"> <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
  </section>

  <section>
    <div class="card">
      <div class="card-body">
    
        <section>
            <div class="row">

                <div class="col-md-12">
                    <p *ngIf="updateBusiness" class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.PARAMETERS_COMPANY' | translate: { companyName: companyName } }}</p>
                    <p *ngIf="addBusiness" class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.REGISTER_COMPANY' | translate }}</p>
                </div>
                
            </div>
        </section>

        <br>
    
        <form [formGroup]="form" class="row" (ngSubmit)="onSubmit()">
    
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-5">
            <span for="lblnombre" class="col-form-label-lg">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.TXT_NAME' | translate }}</span>
            <input  type="text"
                    maxlength="300"
                    formControlName="nombreCompania"
                    id="id_nombreCompania"
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.nombreCompania.errors }" />
            <div *ngIf="submitted && f.nombreCompania.errors" class="invalid-feedback">
              <div *ngIf="f.nombreCompania.errors.required">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.VALIDATE.NAME' | translate }}</div>
            </div>
          </div>
    
          <div class="form-group col-md-4">
            <span for="lblcedulajuridica" class="col-form-label-lg">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.TXT_ID' | translate }}</span>
            <input  type="text"
                    maxlength="50"
                    formControlName="cedulajuridica" 
                    id="id_cedulajuridica"
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.cedulajuridica.errors }" />
            <div *ngIf="submitted && f.cedulajuridica.errors" class="invalid-feedback">
              <div *ngIf="f.cedulajuridica.errors.required">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.VALIDATE.ID' | translate }}</div>
            </div>
          </div>
          <div class="form-group col-md-2"></div>
    
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-11">
            <mat-checkbox formControlName="mantenimientoReportes">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.CHK_POWER_BI' | translate }}</mat-checkbox>
          </div>
    
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-11">
            <mat-checkbox formControlName="tamanoModuloDefecto">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.CHK_DEFAULT_SIZE' | translate }}</mat-checkbox>
          </div>
    
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-11">
            <mat-checkbox formControlName="cuentaCorreoDefecto">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.CHK_DEFAULT_EMAIL' | translate }}</mat-checkbox>
          </div>
    
          <div class="form-group col-md-8"></div>
          <div class="form-group">
    
            <button *ngIf="updateBusiness" class="btn btn-outline-warning mb-2 float-right">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{ 'GENERAL.BTN_UPDATE' | translate }}
            </button>
    
            <button *ngIf="addBusiness" class="btn btn-outline-success mb-2 float-right">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{ 'GENERAL.BTN_REGISTER' | translate }}
            </button>
    
          </div>
    
        </form>
      </div>
    </div>
  </section>
</article>