<h1 style="color:#1A5276">Compañías</h1>
<h4>Lista de compañías registradas en el sistema</h4>
<a routerLink="{{URLAdministratorPage}}" class="btn btn-light mb-2 mr-3">Volver</a>


<div class="card">
    <div class="card-body">
        <a routerLink="/_AdminModule/AddEditBusinessPage" class="btn btn-sm btn-success mb-2 float-right">Registrar Empresa</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Identificación</th>
            <th style="width: 30%">Nombre de la Compañía</th>
            <th style="width: 15%">Correo Electrónico</th>
            <th style="width: 15%">Número de Teléfono</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let business of listBusiness">
            <td>{{business.cedulaJuridica}}</td>
            <td>{{business.nombre}}</td>
            <td>{{business.correoElectronico}}</td>
            <td>{{business.telefono}}</td>
            <td style="white-space: nowrap">
                <!-- <a routerLink="/_GeneralesModule/ConfiguracionCompania/{{business.id}}" class="btn btn-sm btn-dark mr-1">Parámetros de Configuración</a> -->
                <a routerLink="/_AdminModule/AdminListModulePage/{{business.id}}" class="btn btn-sm btn-dark mr-1">Módulos Asociados</a>
                <a routerLink="/_AdminModule/AddEditBusinessPage/{{business.id}}" class="btn btn-sm btn-warning mr-1">Actualizar</a>
                <button (click)="deleteBusiness(business.id)" class="btn btn-sm btn-danger mr-1" [disabled]="business.isDeleting">
                    <span *ngIf="business.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!business.isDeleting">Eliminar</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!listBusiness">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>

</div>
</div>