<div class="card">
  <h4 class="card-header">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.TITLE' | translate }}</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.TXT_NAME' | translate }}</label>
        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.VALIDATE.NAME' | translate }}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="cedulajuridica">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.TXT_ID' | translate }}</label>
        <input type="text" formControlName="cedulajuridica" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cedulajuridica.errors }" />
        <div *ngIf="submitted && f.cedulajuridica.errors" class="invalid-feedback">
          <div *ngIf="f.cedulajuridica.errors.required">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.VALIDATE.ID' | translate }}</div>
        </div>
      </div>
      <div class="form-group">
        <mat-checkbox formControlName="mantenimientoReportes">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.CHK_POWER_BI' | translate }}</mat-checkbox>
      </div>
      <div class="form-group">
        <mat-checkbox formControlName="tamanoModuloDefecto">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.CHK_DEFAULT_SIZE' | translate }}</mat-checkbox>
      </div>
      <div class="form-group">
        <mat-checkbox formControlName="cuentaCorreoDefecto">{{ 'CONFIGURATION.ADD_EDIT_COMPANY.FORM.CHK_DEFAULT_EMAIL' | translate }}</mat-checkbox>
      </div>
      <div class="form-group">
        <a routerLink="{{urladminListBusiness}}" class="btn btn-outline-secondary mb-2"> {{ 'GENERAL.BTN_BACK' | translate }}</a>

        <button *ngIf="updateBusiness" [disabled]="loading" class="btn btn-outline-warning mb-2 float-right">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{ 'GENERAL.BTN_UPDATE' | translate }}
        </button>
        <button *ngIf="addBusiness" [disabled]="loading" class="btn btn-outline-success mb-2 float-right">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{ 'GENERAL.BTN_REGISTER' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
