<h1 style="display: inline; color:#1A5276">Compañías del Sistema</h1>
<br><br>
<a routerLink="{{HTTPListUserPage}}" class="btn btn-light mb-2 mr-3">Volver</a><br>
<div class="card">
    <div class="card-body">

        <h3 *ngIf="existeRol" style="color:#1A5276"><b>{{role.nombre}} </b></h3>
        <h3 *ngIf="!existeRol">&emsp;<b>Rol de usuario no asignado</b></h3>
        <br>

        <h3 style="display: inline;"><b>{{userToAssign.identificacion}} </b></h3>
        <h2 style="display:inline; color:#1A5276">{{userToAssign.nombreCompleto}}</h2>
        <br>

        <button *ngIf="listBusinessUser" 
                (click)="desAsignAllBusinessUser(userToAssign.id)" 
                class="btn-sm items__btns__danger float-right">
            <span>Eliminar Acceso de TODAS las Empresas</span>
        </button>

        <br>
        
        <div *ngIf="listBusinessUser">
            <br>
            <h3 style="color:#1A5276">Lista de Compañías Con Acceso</h3>
            <table class="table table-striped">
            
                <thead>
                    <tr>
                        <th style="width: 15%">Identificación</th>
                        <th style="width: 30%">Nombre de la Compañía</th>
                        <th style="width: 25%">Correo Electrónico</th>
                        <th style="width: 20%">Número de Teléfono</th>
                        <th style="width: 1%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bussiDess of listBusinessUser"
                        class="item-list__list">

                        <td>{{bussiDess.cedulaJuridica}}</td>
                        <td>{{bussiDess.nombre}}</td>
                        <td>{{bussiDess.correoElectronico}}</td>
                        <td>{{bussiDess.telefono}}</td>
                        
                        <td style="white-space: normal; text-align: center;" 
                            class="item-list__delete"
                            (click)="dessAssignBusinessUser(bussiDess.id)">
                            <mat-icon>remove_from_queue</mat-icon>
                            access
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div *ngIf="listAllBusiness">
            <br>
            <h3 style="color:#1A5276">Lista de Compañías Sin Acceso</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 15%">Identificación</th>
                        <th style="width: 30%">Nombre de la Compañía</th>
                        <th style="width: 25%">Correo Electrónico</th>
                        <th style="width: 20%">Número de Teléfono</th>
                        <th style="width: 1%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let businessAss of listAllBusiness"
                        class="item-list__list">

                        <td>{{businessAss.cedulaJuridica}}</td>
                        <td>{{businessAss.nombre}}</td>
                        <td>{{businessAss.correoElectronico}}</td>
                        <td>{{businessAss.telefono}}</td>

                        <td style="white-space: normal; text-align: center;" 
                            class="item-list__confirm"
                            (click)="assignBusinessUser(businessAss.id)">
                            <mat-icon>add_to_queue</mat-icon>
                            access
                        </td>

                        <!-- <td style="white-space: nowrap">
                            <button (click)="assignBusinessUser(businessAss.id)" class="btn btn-sm btn-outline-success mr-1">
                                <span *ngIf="isAsignBusiness" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!isAsignBusiness">Otorgar Acceso</span>
                            </button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>