// @mixin bg-color-orange { background-color: #F9A01B; }
// @mixin bg-color-dark-blue { background-color: #0F426A; }
// @mixin bg-color-darkest-blue { background-color: #053254; }
// @mixin bg-color-blue { background-color: #005188; }
// @mixin bg-color-skyblue { background-color: #00AEEF; }
// @mixin bg-color-light-gray { background-color: #B3B3B3; }

// @mixin font-aero {
//     font-family: "../../assets/fonts/Aero.ttf";
//     font-size: 1.8rem;
//     font-weight: 750;
//     text-align: center;
//     @media (max-width: 800px) {
//         font-size: 1.5rem;
//     }
// }
// @mixin font-info {
//     font-size: 0.8rem;
//     font-weight: 550;
//     text-align: center;
// }

// .info {
//     height: 25px;

//     @include bg-color-darkest-blue;
//     display: flex;
    
//     justify-content: flex-end;
//     flex-direction: row;
    
//     &__logout {
//         margin-top: 1px;
//         margin-right: 2%;
//         color: white;
//     }
//     &__user {
//         display: flex;
//         padding-right: 1%;
        
//         color: white;
//     }
//     &__user__icon {
//         margin-right: 2%;
//         margin-top: 5px;
//     }
//     &__logout__icon {
//         margin-left: 2%;
//         margin-top: 5px;
//     }
//     &__user__icon:hover {
//         cursor: pointer;
//         color: #F9A01B;
//     }
//     &__logout__icon:hover {
//         cursor: pointer;
//         color: #F9A01B;
//     }
// }

// .title {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-evenly;
//     background: linear-gradient(#00AEEF 1%, #005188, #053254 90%);

//     &__description {
//         color: white;
//         display: flex;
//         padding-top: 1%;
//         @include font-aero;
//     }

//     &__deco--left {
//         height: 13%;
//         width: 13%;
//         padding-left: 1%;
//     }

//     &__deco--right {
//         height: 13%;
//         width: 13%;
//         padding-right: 1%;
//     }
// }

// .footer {

//     position: fixed;
//     bottom: 0px;
//     left: 0px;

//     flex-direction: row;
//     align-items: center;
//     justify-content: space-evenly;
//     display: flex;

//     width: 100%;
//     height: 3%;

//     padding-left: 20%;
//     padding-right: 20%;

//     @include bg-color-darkest-blue;

//     &__compra{
//         margin-top: 2.1%;
//         @include font-info;
//         color: white;
//     }

//     &__venta{
//         margin-top: 2.1%;
//         @include font-info;
//         color: white;
//     }
// }

// .styleLayout {
//     margin-top: 1%;
//     padding-bottom: 3%;
//     margin-left: 2%;
//     margin-right: 1%;
// }

// .content {
//     height: calc(100vh - 98px);
//     margin: 16px;
//     margin-left: 32px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     font-size: 2rem;
//     color: lightsteelblue;

//     border-radius: 10px;
// }

// mat-sidenav-container {
//     height: calc(100vh - 65px);
// }

// .menu-button {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     font-size: 1rem;

//     mat-icon{
//         margin-right: 8px;
//     }
// }

// .avatar {
//     margin-top: 16px;
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
// }

// .name {
//     margin-top: 8px;
//     font-weight: normal;
// }

// .designation {
//     margin-top: 2px;
//     font-size: 0.7rem;
//     color: lightgrey;
// }

// mat-divider {
//     margin-top: 16px;
//     margin-bottom: 16px;
//     background-color: rgba(255, 255, 255, 0.5);
// }
// // -- >> FIN CAMBIOS DEL MENÚ HAMBURGUESA