@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

@mixin font-aero {
    font-family: "../../assets/fonts/Aero.ttf";
    font-size: 1.8rem;
    font-weight: 750;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 1.5rem;
    }
}

.header {
    width: 100%;
    &__logo {
        background-image: url("../../assets/images/inra/img_bankap_fondo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__img {
        margin: 1% 1% 1% 2%;
        height: 50%;
        width: 10%;
    }
}
// .footer {
//     position: fixed;
//     bottom: 0px;

//     flex-direction: row;
//     align-items: center;
//     justify-content: space-evenly;
//     display: flex;

//     width: 100%;
//     // height: 2%;

//     // padding-left: 20%;
//     // padding-right: 20%;

//     @include bg-color-darkest-blue;

//     &__compra{
//         color: white;
//     }

//     &__venta{
//         color: white;
//     }
// }
.alertMessage {
    width: 75%;
    padding: 2% 1% 5% 1% ;
    position: absolute;
}