@use "sass:color";

@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

@mixin bg-color-maleku { background-color: #07360b; }

@mixin font-aero {
    font-family: "../../assets/fonts/Aero.ttf";
    font-size: 1.6rem;
    font-weight: 750;
    text-align: center;
    @media (max-width: 1146px) { font-size: 1.2rem; }
}
::ng-deep .cdk-overlay-container { z-index:2000; }
// ********************************
// ********************************
// componentes HTML Actualizados
td { vertical-align: middle; }
// ********************************
// ********************************

.contenidoFooter {
    background-color: var(--color_malek);
    color: var(--color_fondo);
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.table_responsive{
    width: 100%;
    @media (max-width: 1200px) { overflow-x:auto; }
}

.tittle_h2{
    color: #B3B3B3;
    font-size: 1.2rem;
    font-weight: 500;
    @media (max-width: 800px) { font-size: 1rem; }
}
.tittle_h3{
    color: #005188;
    font-size: 1.2rem;
    font-weight: 500;
    @media (max-width: 800px) { font-size: 1rem; }
}
.tittle_form_h1{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    @media (max-width: 800px) { font-size: 0.9rem; }
}

// BOTONES
.button_form_new{
    margin-right: 1%;
    margin-bottom: 1%;
    &:hover { color: #005188; cursor: pointer; }
}
.button_form_update{
    margin-bottom: 1%;
    &:hover { color: #F9A01B; cursor: pointer; }
}
.button_form_delete{
    margin-left: 1%;
    margin-bottom: 1%;
    &:hover { color: #b82424; cursor: pointer; }
}
.button_form_create{
    margin-bottom: 1%;
    &:hover { color: #129523; cursor: pointer; }
}
.button_form_others{
    margin-right: 1%;
    margin-bottom: 1%;
    &:hover { color: #00AEEF; cursor: pointer; }
}


// ********************************
// ## -- >> mensaje de alerta
.alerta {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    &__messaje{
        margin-top: 35px;
        text-align: center;
    }
}

.var-menu {
    @include bg-color-maleku;
    border-top: 1px solid rgb(202, 202, 202);

    &__prev-icons { width: 10%; display: inline-block; padding-left: 1%; }

    &__prev {
        width: 20%;
        display: inline-block;
        text-align: right;
        &__div { &__img { width: 50%; padding-bottom: 3%; } }
    }
    &__center {
        justify-content: center;
        text-align: center;
        width: 40%;
        display: inline-block;
        &__titulo{
            color: white;
            padding-top: 2%;
            font-size: 1.8rem;
            font-weight: 600;
            text-align: center;
            @media (max-width: 800px) { font-size: 1.5rem; }
            @media (max-width: 500px) { font-size: 1.3rem; }
        }
    }
    &__next {
        width: 20%;
        display: inline-block;
        text-align: left;
        &__div { &__img { width: 50%; padding-bottom: 3%; } }

        &__logout {
            color: white;
            &:hover { color: white; background-color: #f91b1b; cursor: pointer; }
        }
        &__home {
            color: white;
            &:hover { color: white; background-color: #F9A01B; cursor: pointer; }
        }
        &__config {
            color: white;
            &:hover { color: white; background-color: #005188; cursor: pointer; }
        }
    }
    &__next-icons { width: 10%; display: inline-block; text-align: center; }
}

 // ## -- >> Contenido INDEX Módulos
.content {
    height: calc(52vh - 1px);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_gris);
    border-radius: 10px;

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        padding-top: 2%;

        &__item {
            text-align: center;
            &__titulo {
                color: #005188;
                font-size: 1rem;
                font-weight: 700;
                transition: color 0.2s ease-in-out;

                @media (min-width: 1500px) {
                    font-size: 1.5rem;
                }
            }
            &__subtitulo {
                color: #F9A01B;
                font-size: 1rem;
                font-weight: 700;
                transition: color 0.2s ease-in-out;

                @media (min-width: 1500px) {
                    font-size: 1rem;
                }
            }
            &__logo{
                margin-top: 5%;
                border-radius: 50%;
            }
        }
    }
}

// ## -- >> contenedor selección compañía
.select-business {

    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;
    flex-wrap:       wrap;
    background-color: var(--color_fondo);

    &__item {
        color: #005188;
        transition: color 0.2s ease-in-out;
        &:hover { color: #F9A01B; cursor: pointer; }
        &__business {
            width: 80%;
            display: inline-block;
            text-align: left;
            &__name{
                color: #B3B3B3;
                font-size: 1.2rem;
                font-weight: 500;
                &:hover { color: #053254; cursor: pointer; font-weight: bold; }
            }
        }
        &__ico {
            width: 20%;
            display: inline-block;
            text-align: center;
        }
    }

    &__card {

        padding-top: 10%;
        width: 30%;

        @media (max-width: 1500px) { width: 40%; padding-top: 12%; }
        @media (max-width: 1200px) { width: 50%; padding-top: 14%; }
        @media (max-width: 1000px) { width: 60%; padding-top: 16%; }
        @media (max-width: 800px) { width: 75%; padding-top: 18%; }
        @media (max-width: 600px) { width: 90%; padding-top: 20%; }
        @media (max-width: 400px) { width: 90%; padding-top: 18%; }
        
        &__tittle {
            color: #053254;
            font-size: 2rem;
            font-weight: 450;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        &__spinner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: red;
        }
    }
}

.items {

    &__btns {

        &__list {

            &__otro {
                margin-left: 0.2%; margin-right: 0.2%;
                &:hover { color: #00AEEF; cursor: pointer; }
            }
            &__warn {
                margin-left: 0.2%; margin-right: 0.2%;
                &:hover { color: #F9A01B; cursor: pointer; }
            }
            &__ok {
                margin-left: 0.2%; margin-right: 0.2%;
                &:hover { color: #129523; cursor: pointer; }
            }
            &__danger {
                margin-left: 0.2%; margin-right: 0.2%;
                &:hover { color: #b82424; cursor: pointer; }
            }
        }

        &__header {
            &__ok {
                margin-left: 0.2%; margin-right: 0.2%;
                &:hover { color: #129523; cursor: pointer; }
            }
        }

        &__new{
            color: #053254;
            transition: color 0.2s ease-in-out;
            margin-left: 0.2%;
            margin-right: 0.2%;
            &:hover {
                color: #005188;
                cursor: pointer;
            }
        }
        &__danger{
            color: #053254;
            transition: color 0.2s ease-in-out;
            margin-left: 0.2%;
            margin-right: 0.2%;
            &:hover {
                color: #b82424;
                cursor: pointer;
            }
        }
    }
}

.item-list {

    &__admin {

        &__menu {
            &:hover {
                color: white;
                background-color: #053254;
                cursor: pointer;
            }
        }
        &__user {
            &__ok {
                &:hover {
                    color: white;
                    background-color: #129523;
                    cursor: pointer;
                }
            }
            &__warn {
                &:hover {
                    color: white;
                    background-color: #F9A01B;
                    cursor: pointer;
                }
            }
            &__danger {
                &:hover {
                    color: white;
                    background-color: #f91b1b;
                    cursor: pointer;
                }
            }
        }
        &__plan {
            &__danger {
                &:hover {
                    color: white;
                    background-color: #f91b1b;
                    cursor: pointer;
                }
            }
        }

        &__view {
            text-align: center;
            border-radius: 5px;
            padding: 2px 4px 2px 4px;
            &:hover {
                color: white;
                background-color: #053254;
                cursor: pointer;
            }
        }
        &__ok {
            text-align: center;
            border-radius: 5px;
            padding: 2px 4px 2px 4px;
            &:hover {
                color: white;
                background-color: #129523;
                cursor: pointer;
            }
        }
        &__alt {
            text-align: center;
            &:hover {
                color: white;
                background-color: #00AEEF;
                cursor: pointer;
            }
        }
        &__warn {
            text-align: center;
            border-radius: 5px;
            padding: 2px 4px 2px 4px;
            &:hover {
                color: white;
                background-color: #F9A01B;
                cursor: pointer;
            }
        }
        &__danger {
            text-align: center;
            border-radius: 5px;
            padding: 2px 4px 2px 4px;
            &:hover {
                color: white;
                background-color: #f91b1b;
                cursor: pointer;
            }
        }
    }
    &__add {
        color: #129523;
        transition: color 0.2s ease-in-out;
        float: inline-end;
        &:hover {
            color: #053254;
            cursor: pointer;
        }
    }
    &__edit {
        color: #053254;
        transition: color 0.1s ease-in-out;
        &:hover {
            color: #F9A01B;
            cursor: pointer;
        }
    }
    &__view {
        color: #053254;
        transition: color 0.2s ease-in-out;
        text-align: center;
        &:hover { color: #129523; cursor: pointer; }
    }
    &__list {
        color: #053254;
        transition: color 0.2s ease-in-out;
        &:hover { 
            color: #F9A01B; 
            cursor: pointer; 
        }
    }
    &__delete {
        color: #053254;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #f91b1b;
            cursor: pointer;
        }
    }
    &__confirm {

        color: #053254;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #129523;
            cursor: pointer;
        }
    }
    &__search {
        color: #053254;
        transition: color 0.2s ease-in-out;
        &:hover { color: #129523; cursor: pointer; }
    }
    &__calendar {

        color: #053254;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #129523;
            cursor: pointer;
        }
    }
}

.item-seleccionable {
    color: #053254;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: #F9A01B;
        cursor: pointer;
    }
}

.item-seleccionable-delete {
    color: #053254;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: #f91b1b;
        cursor: pointer;
    }
}

// .center-menu-items {
//     display:         flex;
//     flex-direction:  row;
//     justify-content: center;
//     align-items:     center;
//     flex-wrap:       wrap;
// }

// .bloq {
//     padding: 0.2% 1% 0.4% 1%;
// }

.cont-modal {
    width: 100%;
    &__header {
        &__prev {
            width: 50%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            display: inline-block;
            text-align: right;
        }
    }
    &__footer {
        border-top: 1px solid rgb(202, 202, 202);
        padding-top: 1%;
        &__prev {
            width: 50%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            display: inline-block;
            text-align: right;
        }
    }
}
.cont-index {
    border-radius: 10px;
    background-color: var(--color_gris);
    &__body{ padding: 1%; }
}



.contenedor {
    margin: 1% 1% 1% 1%;
    border-radius: 10px;
    background-color: var(--color_gris);

    &__header-modal {
        width: 100%;
    }
    &__footer-modal {
        width: 100%;

        &__prev {
            width: 50%;
            padding: 0 0 0 2%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            padding: 0 2% 0 0;
            display: inline-block;
            text-align: right;
        }
    }

    &__header {
        border-bottom: 1px solid rgb(202, 202, 202);
        &__prev {
            width: 50%;
            padding: 1% 0 0 2%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            padding: 1% 2% 0 0;
            display: inline-block;
            text-align: right;
        }
    }
    &__footer {
        border-top: 1px solid rgb(202, 202, 202);
        &__prev {
            width: 50%;
            padding: 1% 0 1% 2%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            padding: 1% 2% 1% 0;
            display: inline-block;
            text-align: right;
        }
    }
    &__body {
        padding: 0.5% 2% 0.5% 2%;
    }
}

.modal-config {
    width: 85%;
    height: 85%;

    margin: 3% 5% 15% 6%;
    padding: 0 0.5% 0 1%;

    &__formulario-header {
        margin: 0.5% 0 0 1%;
    }
}

.pointerCursor { cursor: pointer; }

mat-sidenav-container{ background-color: var(--color_fondo); }

// ## -- >> ****************************
// ## -- >> 2025-26-08
// ## -- >> malekuti
.back-ico-one {
    margin-bottom: 12px;
    &:hover { color: white; background-color: #F9A01B; cursor: pointer; }
}
.back-ico-two {
    margin-bottom: 12px;
    &:hover { color: white; background-color: #B3B3B3; cursor: pointer; }
}

.item-list-edit {
    color: #053254;
    transition: color 0.1s ease-in-out;
    &:hover {  color: #F9A01B;  cursor: pointer;  }
}


.form-list-inline { display: flex; }

.lista-inline {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &__nav {
        width: 100%;
        display: inline-block;
        
        &__tittle {
            color: #005188;
            margin-top: 10px;
            margin-left: 10px;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
}
.formulario-izquierdo {
    width: 50%;
    background-color: #254156;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media (max-width: 1000px) { width: 100%; }

    &__nav {
        border-bottom: 1px solid white;
        &__prev {
            width: 50%;
            padding-left: 1%;
            display: inline-block;
            &__tittle {
                color: white;
                margin-top: 10px;
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
        &__next {
            width: 50%;
            padding-right : 1%;
            display: inline-block;
            text-align: right;
            &__btn-warn {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #F9A01B; }
            }
            &__btn-ok {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #129523; cursor: pointer; }
            }
            &__btn-view {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #053254; cursor: pointer; }
            }
            &__btn-delete {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #f91b1b; cursor: pointer; }
            }
        }
    }
}

.margin-icos-mat { padding-top: 20px; }

// ## -- >> main
.main-modules { margin-left: 1%; margin-right: 1%; }
// ## -- >> contenido index módulos
.index-modules {
    height: calc(52vh - 1px);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_gris);
    border-radius: 10px;
    &__tittle { color: #005188; font-size: 1.5rem; font-weight: 700; }
}
// ## -- >> main módulos
.contenido-main {
    margin-top: 1%;
    margin-bottom: 1%;
    
    &__h1 {
        color: #053254;
        font-size: 1.5rem;
        font-weight: 700;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h2 {
        color: #B3B3B3;
        font-size: 1.2rem;
        font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3 {
        color: #005188;
        font-size: 1.2rem;
        font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-on {
        color: #129523;
        font-size: 1.2rem;
        font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-off {
        color: #b82424;
        font-size: 1.2rem;
        font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-inline-black {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-inline-blue {
        color: #1A5276;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-inline-red {
        color: #b82424;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
        @media (max-width: 800px) { font-size: 1rem; }
    }

    &__table {
        width: 100%;
        @media (max-width: 1200px) { overflow-x:auto; }

        /* #region RiesgoCredito */
        /* #region RiesgoCredito-Entidades-Page */
        &__rcep-ico-edit { width: 5%; }
        &__rcep-name { width: 25%; }
        &__rcep-status { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rcep-registra { width: 15%; text-align: center; &__td { text-align: center; } }
        &__rcep-fecha-r { width: 15%; text-align: center; &__td { text-align: center; } }
        &__rcep-modifica { width: 15%; text-align: center; &__td { text-align: center; } }
        &__rcep-fecha-m { width: 15%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region RiesgoCredito-Categoría-Page */
        &__rpec-ico-edit { width: 5%; }
        &__rpec-desc { width: 20%; text-align: center; &__td { text-align: center; } }
        &__rpec-nivel { width: 5%; text-align: center; &__td { text-align: center; } }
        &__rpec-est-cub { width: 15%; text-align: center; &__td { text-align: center; } }
        &__rpec-est-des { width: 15%; text-align: center; &__td { text-align: center; } }
        
        &__rpec-registra { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rpec-fecha-r { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rpec-modifica { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rpec-fecha-m { width: 10%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region RiesgoCredito-Rangos-Page */
        &__rped-ico-edit { width: 5%; }
        &__rped-desc { width: 15%; text-align: center; &__td { text-align: center; } }
        &__rped-inicio { width: 9%; text-align: center; &__td { text-align: center; } }
        &__rped-fin { width: 9%; text-align: center; &__td { text-align: center; } }
        &__rped-pest { width: 9%; text-align: center; &__td { text-align: center; } }
        &__rped-nivel { width: 5%; text-align: center; &__td { text-align: center; } }
        &__rped-ident { width: 14%; text-align: center; &__td { text-align: center; } }
        
        &__rped-registra { width: 8%; text-align: center; &__td { text-align: center; } }
        &__rped-fecha-r { width: 8%; text-align: center; &__td { text-align: center; } }
        &__rped-modifica { width: 7%; text-align: center; &__td { text-align: center; } }
        &__rped-fecha-m { width: 7%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #endregion */


        /* #region Macred-ActivEconomica-Page */
        &__mtae-ico-edit { width: 5%; }
        &__mtae-desc { width: 40%; }
        &__mtae-estado { width: 25%; text-align: center; &__td { text-align: center; } }
        &__mtae-modifica { width: 15%; &__td { text-align: center; } }
        &__mtae-fecha-m { width: 15%; &__td { text-align: center; } }
        /* #endregion */
        /* #region Macred-EntidadesFinancieras-Page */
        &__mef-ico-edit { width: 5%; }
        &__mef-ident { width: 10%; }
        &__mef-desc { width: 17%; }
        &__mef-alias { width: 12%; }
        &__mef-estado { width: 10%; text-align: center; &__td { text-align: center; } }
        &__mef-registra { width: 9%; text-align: center; &__td { text-align: center; } }
        &__mef-fecha-r { width: 9%; text-align: center; &__td { text-align: center; } }
        &__mef-modifica { width: 9%; text-align: center; &__td { text-align: center; } }
        &__mef-fecha-m { width: 9%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region Macred-Periocidades-Page */
        &__mp-ico-edit { width: 5%; }
        &__mp-desc { width: 20%; }
        &__mp-frec { width: 20%; text-align: center; &__td { text-align: center; } }
        &__mp-estado { width: 15%; text-align: center; &__td { text-align: center; } }
        &__mp-registra { width: 10%; text-align: center; &__td { text-align: center; } }
        &__mp-fecha-r { width: 10%; text-align: center; &__td { text-align: center; } }
        &__mp-modifica { width: 10%; text-align: center; &__td { text-align: center; } }
        &__mp-fecha-m { width: 10%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region Macred-TipoLineasCredito-Page */
        &__tlc-ico-edit { width: 5%; }
        &__tlc-nom { width: 20%; }
        &__tlc-tasa { width: 14%; text-align: center; &__td { text-align: center; } }
        &__tlc-cod { width: 15%; text-align: center; &__td { text-align: center; } }
        &__tlc-estado { width: 14%; text-align: center; &__td { text-align: center; } }
        &__tlc-registra { width: 8%; text-align: center; &__td { text-align: center; } }
        &__tlc-fecha-r { width: 8%; text-align: center; &__td { text-align: center; } }
        &__tlc-modifica { width: 8%; text-align: center; &__td { text-align: center; } }
        &__tlc-fecha-m { width: 8%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region Macred-CategoriasRiesgo-Page */
        &__cr-ico-edit { width: 5%; }
        &__cr-cod { width: 10%; }
        &__cr-desc { width: 10%; text-align: center; &__td { text-align: center; } }
        &__cr-porc-e { width: 11%; text-align: center; &__td { text-align: center; } }
        &__cr-nmes { width: 11%; text-align: center; &__td { text-align: center; } }
        &__cr-porc-v { width: 11%; text-align: center; &__td { text-align: center; } }
        &__cr-estado { width: 10%; text-align: center; &__td { text-align: center; } }
        &__cr-registra { width: 8%; text-align: center; &__td { text-align: center; } }
        &__cr-fecha-r { width: 8%; text-align: center; &__td { text-align: center; } }
        &__cr-modifica { width: 8%; text-align: center; &__td { text-align: center; } }
        &__cr-fecha-m { width: 8%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region Macred-CategoriasRiesgo-Page */
        &__td-ico-edit { width: 5%; }
        &__td-desc { width: 30%; }
        &__td-estado { width: 25%; text-align: center; &__td { text-align: center; } }
        &__td-registra { width: 10%; text-align: center; &__td { text-align: center; } }
        &__td-fecha-r { width: 10%; text-align: center; &__td { text-align: center; } }
        &__td-modifica { width: 10%; text-align: center; &__td { text-align: center; } }
        &__td-fecha-m { width: 10%; text-align: center; &__td { text-align: center; } }
        /* #endregion */
        /* #region Macred-FactoresInferibles-Page */
        &__fi-ico-edit { width: 5%; }
        &__fi-desc { width: 10%; }
        &__fi-valmin { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-valmax { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-quinu { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-quind { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-quint { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-quinc { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-quini { width: 8%; text-align: center; &__td { text-align: center; } }
        &__fi-estado { width: 9%; text-align: center; &__td { text-align: center; } }
        &__fi-registra { width: 5%; text-align: center; &__td { text-align: center; } }
        &__fi-fecha-r { width: 5%; text-align: center; &__td { text-align: center; } }
        &__fi-modifica { width: 5%; text-align: center; &__td { text-align: center; } }
        &__fi-fecha-m { width: 5%; text-align: center; &__td { text-align: center; } }
        /* #endregion */



        /* #region Administración */
        /* #region ListUserPage */
        &__lup-ico-edit { width: 4%; }
        &__lup-id { width: 12%; }
        &__lup-name { width: 25%; }
        &__lup-email { width: 25%; }
        &__lup-rol { width: 15%; }
        &__lup-status { width: 8%; }
        &__lup-btn-emp { width: 5%; }
        &__lup-btn-rol { width: 5%; }
        /* #endregion */

        /* #region AddBusinessUserPage */
        &__abup-id { width: 15%; }
        &__abup-name { width: 30%; }
        &__abup-email { width: 25%; }
        &__abup-phone { width: 20%; }
        &__abup-ico { width: 1%; }
        /* #endregion */

        /* #region AddRoleUserPage */
        &__arup-name { width: 35%; }
        &__arup-description { width: 40%; }
        &__arup-status { width: 10%; }
        &__arup-kind { width: 10%; }
        &__arup-ico { width: 5%; }
        /* #endregion */

        /* #region ListBusinessPage */
        &__lbp-ico-edit { width: 5%; }
        &__lbp-id { width: 15%; }
        &__lbp-name { width: 29%; }
        &__lbp-email { width: 20%; }
        &__lbp-phone { width: 13%; }
        &__lbp-powerbi { width: 8%; }
        &__lbp-ico-plan { width: 5%; }
        &__lbp-ico-mod { width: 5%; }
        /* #endregion */

        /* #region ListPlanPage */
        &__lpp-name { width: 18%; }
        &__lpp-type { width: 17%; }
        &__lpp-admin { width: 12%; text-align: center; &__td { text-align: center; } }
        &__lpp-funct { width: 12%; text-align: center; &__td { text-align: center; } }
        &__lpp-price-m { width: 9%; text-align: center; &__td { text-align: center; } }
        &__lpp-price-a { width: 9%; text-align: center; &__td { text-align: center; } }
        &__lpp-support { width: 7%; text-align: center; &__td { text-align: center; } }
        &__lpp-t-support { width: 11%; text-align: center; &__td { text-align: center; } }
        &__lpp-ico { width: 1%; }
        /* #endregion */

        /* #region ListModuleBusinessPage */
        &__lmbp-id { width: 25%; }
        &__lmbp-name { width: 30%; }
        &__lmbp-description { width: 44%; }
        &__lmbp-ico { width: 1%; }
        /* #endregion */

        /* #region AdminModule.component */
        &__am-ico { width: 3%; }
        &__am-id { width: 24%; }
        &__am-name { width: 22%; }
        &__am-desc { width: 22%; }
        &__am-image { width: 29%; }
        /* #endregion */
        /* #endregion */
    }
}