@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

@mixin font-aero {
    font-family: "../../assets/fonts/Aero.ttf";
    font-size: 1.8rem;
    font-weight: 750;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 1.5rem;
    }
}

.btn-hamburguesa {
    position: absolute;
    left: 2%;
}
mat-toolbar {
    background: linear-gradient(#00AEEF 1%, #005188, #053254 40%);
    color: white;
    article {
        width: 100%;
    }
}
mat-sidenav {
    position: fixed;
    
    width: 25%;

    margin: 1%;

    border-right: none;
    background: #005188;
    color: white;
    border-radius: 10px;
    text-align: center;
}

mat-sidenav-container {
    background: #005188;
    color: white;
}

.a-menu {
    color: white;
    text-decoration: none;
}

// Tree
mat-tree {
    background: #005188;
    color: white;
    overflow: hidden;
}

mat-icon{
    color: white;
}

span{
    color: white;
}

/*.div-back-bottons{
    background: #005188;
    color: white;

    width: 100%;
    position: absolute;
    bottom: 1%;
}*/
// Tree

.menu-button-submodulo {
    //width: 100%;
    position: absolute;
    left: 1%;    
}

.menu-button-back {
    //width: 100%;
    position: absolute;
    right: 1%;
}

.info-modulo {
    margin-top: 1%;
    width: 100%;
}

.avatar {
    margin-top: 5%;
    border-radius: 50%;
}

.name {
    margin-top: 1%;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}