<!-- <h1>Asignar usuario a empresa</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()"></form>
    <div class="row">
        
        <div class="col-sm">
            <label for="nombre">Usuario</label>
            <input type="text" id="txtNombreUsuario" class="form-control" formControlName="txtNombreUsuario" [readonly]=true/>
        </div>

        <div class="col-sm">
            <label>Seleccione la empresa</label>
            <select class="form-control" (change)="onSelect($event.target.value)">
                <option value="0">-- Seleccione una Empresa --</option>
                <option *ngFor="let business of listBusiness" value={{business.id}}>
                Céd. Juridica: {{business.cedulaJuridica + ' Nombre: ' + business.nombre}}
                </option>
            </select>

            <p *ngIf="!listBusiness"><em>Loading...</em></p>
        </div>

    </div>

    <br>

    <div *ngFor="let list of listSelection">
        <label>
        <input type="checkbox" [value]="list.id" (change)="onCheckboxChange($event)" />
        {{list.name}}
        </label>
    </div>

    <br>

    <button [disabled]="loading" class="btn btn-primary float-right">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Asignar Empresa
    </button>
    <a routerLink="/users" class="btn btn-dark float-left">Cancelar</a>
</form> -->