<!-- <h1>Listado de usuarios del Sistema</h1>
<a routerLink="/_UserModule/AdministracionUsuarios/RegistrarUsuarios" class="btn btn-light mb-2 float-right">Registrar usuario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Identificacion</th>
            <th style="width: 40%">Nombre</th>
            <th style="width: 25%">Email</th>
            <th style="width: 30%">N.Teléfono</th>
            <th style="width: 30%">Estado</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.identificacion}}</td>
            <td>{{user.nombreCompleto}}</td>
            <td>{{user.email}}</td>
            <td>{{user.numeroTelefono}}</td>
            <td>{{user.estado}}</td>
            <td style="white-space: nowrap">

                

                <button (click)="activateUser(user.id)" class="btn btn-sm btn-dark mr-1" [disabled]="user.isActivating" >
                    <span *ngIf="user.isActivating" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isActivating">Activar cuenta</span>
                </button>


                <a *ngIf="adminBoss" routerLink="addBusiness/{{user.identificacion}}/{{user.nombreCompleto}}" class="btn btn-sm btn-secondary mr-1">
                    Asignar empresa
                </a>
                <a *ngIf="adminBusiness" routerLink="addRole/{{user.identificacion}}/{{user.empresa}}" class="btn btn-sm btn-secondary mr-1">
                    Asignar rol
                </a>

                <a routerLink="edit/{{user.identificacion}}" class="btn btn-sm btn-info mr-1">Actualizar</a>

                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger mr-1" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Eliminar</span>
                </button>

            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table> -->