.contenedorReporte {
  flex: 1;
  .mensajeError{
    text-align: center;
    p {
      padding: 10px 0;
      font-weight: lighter;
      font-size: large;
    }
  }
}

.reporteCSS {
  height: 800px;
  width: 100%;
}