.centrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.contenedorReporte {
  flex: 1;

  .mensajeError{
    text-align: center;
    p {
      padding: 10px 0;
      font-weight: lighter;
      font-size: large;
    }
  }
}

.reporteCSS {
  height: 72vh;
  // height: 800px;
  width: 100%;
  // clip-path: inset(0 0 37px 0);
}


