# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

> 0.5%
last 2 versions
Firefox ESR
not dead
not op_mini all
not and_qq > 0
not and_uc > 0
not kaios > 0
not samsung <= 28
not android >= 130
not opera >= 116
not op_mob >= 80
not IE 9-11
