USE [master]
GO
/****** Object:  Database [dbERPConta]    Script Date: 7/14/2022 8:26:42 PM ******/
CREATE DATABASE [dbERPConta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbERPConta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbERPConta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbERPConta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbERPConta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbERPConta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbERPConta]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_COMPANIAS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_COMPANIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[TIPO_IDENTIFICACION] [nvarchar](2) NOT NULL,
	[CEDULA_JURIDICA] [nvarchar](50) NOT NULL,
	[DESCRIPCION_COMPANIA] [nvarchar](300) NULL,
	[CORREO_ELECTRONICO] [nvarchar](200) NOT NULL,
	[CODIGO_PAIS_UBICACION] [nvarchar](5) NULL,
	[PROVINCIA] [nvarchar](5) NULL,
	[CANTON] [nvarchar](5) NULL,
	[DISTRITO] [nvarchar](5) NULL,
	[BARRIO] [nvarchar](5) NULL,
	[DETALLE_DIRECCION] [nvarchar](300) NOT NULL,
	[CODIGO_TELEFONO] [nvarchar](5) NULL,
	[TELEFONO] [nvarchar](10) NOT NULL,
	[CLAVE_CORREO] [nvarchar](100) NULL,
	[HOST_CORREO] [nvarchar](100) NULL,
	[PUERTO_CORREO] [nvarchar](5) NULL,
	[ADICIONADO_POR] [nvarchar](100) NOT NULL,
	[FECHA_ADICION] [date] NOT NULL,
	[MODIFICADO_POR] [nvarchar](100) NULL,
	[FECHA_MODIFICACION] [date] NULL,
 CONSTRAINT [PK_TERP_COMPANIAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_MODULOS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_MODULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIFICADOR] [nvarchar](50) NOT NULL,
	[ID_SOCIEDAD] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[ESTADO] [nvarchar](50) NULL,
 CONSTRAINT [PK_VISTAS_MODULOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_PROCEDIMIENTOS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_PROCEDIMIENTOS](
	[CODIGO_PROC] [nvarchar](100) NOT NULL,
	[MODULO] [nvarchar](50) NULL,
	[DETALLE] [nvarchar](200) NULL,
	[NOMBRE_PROCEDIMIENTO] [nvarchar](100) NULL,
 CONSTRAINT [PK_PROCEDIMIENTOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_ROLES]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_ROLES](
	[ID] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[ES_ADMINISTRADOR] [int] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[ESTADO] [nvarchar](50) NULL,
	[TIPO] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROLES_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_ROLES_X_MODULOS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_ROLES_X_MODULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [nvarchar](50) NOT NULL,
	[ID_MODULO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_USUARIOS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIFICACION] [nvarchar](50) NOT NULL,
	[NOMBRE_COMPLETO] [nvarchar](200) NULL,
	[CORREO] [nvarchar](150) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[ESTADO] [nvarchar](50) NULL,
	[CLAVE_HASH] [varbinary](max) NULL,
	[CLAVE_SALT] [varbinary](max) NULL,
	[TOKEN] [nvarchar](500) NULL,
	[ID_ROL] [nvarchar](50) NULL,
 CONSTRAINT [PK_USUARIOS_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_USUARIOS_X_EMPRESAS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_USUARIOS_X_EMPRESAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[IDENTIFICACION_USUARIO] [nvarchar](50) NOT NULL,
	[ID_SOCIEDAD] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOSXEMPRESAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TERP_COMPANIAS] ON 

SET IDENTITY_INSERT [dbo].[TERP_COMPANIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[TERP_MODULOS] ON 

INSERT [dbo].[TERP_MODULOS] ([ID], [IDENTIFICADOR], [ID_SOCIEDAD], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (1, N'ID-BANKAP-ACT-FIJ', NULL, N'Activos Fijos', N'Módulo de Activos Fijos', N'Activo')
INSERT [dbo].[TERP_MODULOS] ([ID], [IDENTIFICADOR], [ID_SOCIEDAD], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (2, N'ID-BANKAP-BANCOS', NULL, N'Bancos', N'Módulo de Bancos', N'Activo')
INSERT [dbo].[TERP_MODULOS] ([ID], [IDENTIFICADOR], [ID_SOCIEDAD], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (3, N'ID-BANKAP-CONTA', NULL, N'Contabilidad', N'Módulo de Contabilidad', N'Activo')
SET IDENTITY_INSERT [dbo].[TERP_MODULOS] OFF
GO
INSERT [dbo].[TERP_PROCEDIMIENTOS] ([CODIGO_PROC], [MODULO], [DETALLE], [NOMBRE_PROCEDIMIENTO]) VALUES (N'ActualizarInformacionCompania', N'GENERALES', N'Actualiza información compañía', N'PR_ACTUALIZA_INFORMACION_COMPANIA')
INSERT [dbo].[TERP_PROCEDIMIENTOS] ([CODIGO_PROC], [MODULO], [DETALLE], [NOMBRE_PROCEDIMIENTO]) VALUES (N'AsignarRolAUsuario', N'SISTEMA', N'Asignar rol a usuario en empresa', N'PR_ASIGNAR_ROL_AUSUARIO')
INSERT [dbo].[TERP_PROCEDIMIENTOS] ([CODIGO_PROC], [MODULO], [DETALLE], [NOMBRE_PROCEDIMIENTO]) VALUES (N'AsignarUsuarioAEmpresa', N'SISTEMA', N'Asignar usuario a empresa sociedad', N'PR_ASIGNAR_USUARIO_AEMPRESA')
GO
INSERT [dbo].[TERP_ROLES] ([ID], [NOMBRE], [ES_ADMINISTRADOR], [DESCRIPCION], [ESTADO], [TIPO]) VALUES (N'adminboss', N'ADMINISTRADOR SISTEMA', 1, N'Administrador General del Sistema', N'Activo', N'Escritura')
INSERT [dbo].[TERP_ROLES] ([ID], [NOMBRE], [ES_ADMINISTRADOR], [DESCRIPCION], [ESTADO], [TIPO]) VALUES (N'admin-e', N'ADMINISTRADOR EMPRESAS', 1, N'Administrador de Empresas', N'Activo', N'Lectura')
INSERT [dbo].[TERP_ROLES] ([ID], [NOMBRE], [ES_ADMINISTRADOR], [DESCRIPCION], [ESTADO], [TIPO]) VALUES (N'r-contabilidad', N'Contabilidad', 0, N'Rol de Contabilidad', N'Activo', N'Lectura')
GO
SET IDENTITY_INSERT [dbo].[TERP_USUARIOS] ON 

SET IDENTITY_INSERT [dbo].[TERP_USUARIOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TERP_USUARIOS_X_EMPRESAS] ON 

INSERT [dbo].[TERP_USUARIOS_X_EMPRESAS] ([ID], [ID_USUARIO], [IDENTIFICACION_USUARIO], [ID_SOCIEDAD], [ESTADO]) VALUES (1, 3, N'207650511', 1, 0)
INSERT [dbo].[TERP_USUARIOS_X_EMPRESAS] ([ID], [ID_USUARIO], [IDENTIFICACION_USUARIO], [ID_SOCIEDAD], [ESTADO]) VALUES (2, 2, N'207650510', 1, 1)
SET IDENTITY_INSERT [dbo].[TERP_USUARIOS_X_EMPRESAS] OFF
GO
ALTER TABLE [dbo].[TERP_ROLES_X_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_ROLES_POR_MODULOS_MD] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[TERP_MODULOS] ([ID])
GO
ALTER TABLE [dbo].[TERP_ROLES_X_MODULOS] CHECK CONSTRAINT [FK_ROLES_POR_MODULOS_MD]
GO
ALTER TABLE [dbo].[TERP_ROLES_X_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_ROLES_POR_MODULOS_RL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TERP_ROLES] ([ID])
GO
ALTER TABLE [dbo].[TERP_ROLES_X_MODULOS] CHECK CONSTRAINT [FK_ROLES_POR_MODULOS_RL]
GO
ALTER TABLE [dbo].[TERP_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ROL_USUARIO] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TERP_ROLES] ([ID])
GO
ALTER TABLE [dbo].[TERP_USUARIOS] CHECK CONSTRAINT [FK_ROL_USUARIO]
GO
ALTER TABLE [dbo].[TERP_USUARIOS_X_EMPRESAS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOSXEMPRESAS_COMPANIAS] FOREIGN KEY([ID_SOCIEDAD])
REFERENCES [dbo].[TERP_COMPANIAS] ([ID])
GO
ALTER TABLE [dbo].[TERP_USUARIOS_X_EMPRESAS] CHECK CONSTRAINT [FK_USUARIOSXEMPRESAS_COMPANIAS]
GO
ALTER TABLE [dbo].[TERP_USUARIOS_X_EMPRESAS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOSXEMPRESAS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TERP_USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[TERP_USUARIOS_X_EMPRESAS] CHECK CONSTRAINT [FK_USUARIOSXEMPRESAS_USUARIOS]
GO
/****** Object:  StoredProcedure [dbo].[PR_ACTUALIZA_INFORMACION_COMPANIA]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_ACTUALIZA_INFORMACION_COMPANIA]
	@P_BARRIO nvarchar(100),
	@P_CANTON nvarchar(50),
	@P_CEDULA_JURIDICA nvarchar(50),
	@P_PROVINCIA nvarchar(50),
	@P_ID INT
AS
BEGIN
	insert into TERP_PROCEDIMIENTOS (CODIGO_PROC,MODULO,DETALLE,NOMBRE_PROCEDIMIENTO) VALUES ('1','1','1','1');
END
GO
/****** Object:  StoredProcedure [dbo].[PR_CONSULTA_PROCEDIMIENTOS_ALMACENADOS]    Script Date: 7/14/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_CONSULTA_PROCEDIMIENTOS_ALMACENADOS]
	@P_CODIGO_PROC nvarchar(100),
	@P_MODULO nvarchar(50)
AS
BEGIN
	SELECT * FROM TERP_PROCEDIMIENTOS 
	WHERE CODIGO_PROC = @P_CODIGO_PROC 
	AND MODULO = @P_MODULO;
END
GO
USE [master]
GO
