<div class="contenido-main-macred">
    
  <div>
    <div>
      <p class="contenido-main-macred__h1">{{ moduleName }}</p>
      <p class="contenido-main-macred__h2">Administración de Variables Críticas</p>
    </div>
    <hr>
    <button class="back-ico-one"
            title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
            mat-icon-button 
            (click)="redirectIndexModule()"> <mat-icon>arrow_back</mat-icon> </button>
  </div>

  <div class="card">  
    <div class="card-body">

      <div>
          <p *ngIf="add" class="contenido-main-macred__h3">Actualización de Variables Críticas</p>
          <p *ngIf="update" class="contenido-main-macred__h3">Registro de Variables Críticas</p>
      </div>

      <hr>

      <!-- ************************** -->
      <!-- ******* FORMULARIO ******* -->
      <!-- ************************** -->
        
      <div class="formulario-izquierdo">
        <div class="formulario-izquierdo__nav">
          <div class="formulario-izquierdo__nav__prev">
            <p class="formulario-izquierdo__nav__prev__tittle">Mantenimiento de Variables Críticas</p>
          </div>

          <div class="formulario-izquierdo__nav__next">
            <button *ngIf="habilitaBtnNuevo" class="formulario-izquierdo__nav__next__btn-view" 
                  mat-flat-button 
                  (click)="limpiarFormulario()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
          <button *ngIf="habilitaBtnActualiza" class="formulario-izquierdo__nav__next__btn-warn" 
                  mat-flat-button 
                  (click)="put()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
          <button *ngIf="habilitaBtnRegistro" class="formulario-izquierdo__nav__next__btn-ok" 
                  mat-flat-button 
                  (click)="post()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
          <button *ngIf="habilitaBtnEliminar" class="formulario-izquierdo__nav__next__btn-delete" 
                  mat-flat-button 
                  (click)="delete()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
          </div>
        </div>

        <div class="p-2">
          <form [formGroup]="formObject" class="row">

            <div class="col-sm-10">
              <label for="id_descripcionVc" class="form-label">Descripción</label>
              <input  maxlength="300"
                      formControlName="descripcionVc"
                      class="form-control"
                      type="text"
                      id="id_descripcionVc"
                      [ngClass]="{'is-invalid': submitForm && f.descripcionVc.errors}" />
              <div *ngIf="submitForm && f.descripcionVc.errors" class="invalid-feedback">
                <div *ngIf="f.descripcionVc.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
              </div>
            </div>

            <div class="form-group col-sm-2 margin-status d-flex justify-content-center">
                <mat-checkbox formControlName="estado" style="border-color: white;">
                  <span class="color-chechbox">Estado</span>
                </mat-checkbox>
            </div>

          </form>
        </div>
      </div>

      <!-- ************************* -->
      <!-- ** OBJETO SELECCIONADO ** -->
      <!-- ************************* -->
            
      <div *ngIf="mostrarLista" class="table">
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
                <th class="table__variables-criticas__ico"></th>

                <th class="table__variables-criticas__desc">Descripción</th>
                <th class="table__variables-criticas__estado">Estado</th>

                <th class="table__variables-criticas__add">Registra</th>
                <th class="table__variables-criticas__add">Fecha</th>
                <th class="table__variables-criticas__update">Modifica</th>
                <th class="table__variables-criticas__update">Fecha</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let obj of listObjetos" (click)="seleccionarObjeto(obj)">
      
              <td class="item-edit"> <a> <mat-icon>edit</mat-icon> </a> </td>

              <td class="item-edit" >{{obj.descripcion}}</td>
              <td *ngIf="obj.estado==true" class="item-edit table__variables-criticas__estado__td" >Activo</td>
              <td *ngIf="obj.estado==false" class="item-edit table__variables-criticas__estado__td" >Inactivo</td>
              <td class="item-edit table__variables-criticas__add__td" >{{obj.adicionadoPor}}</td>
              <td class="item-edit table__variables-criticas__add__td" >{{obj.fechaAdicion | date:'dd/MM/yyyy'}}</td>
              <td class="item-edit table__variables-criticas__update__td" >{{obj.modificadoPor}}</td>
              <td class="item-edit table__variables-criticas__update__td" >{{obj.fechaModificacion | date:'dd/MM/yyyy'}}</td>

            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>