<main>
    <article class="articulo">

        <div class="articulo__contenedor mat-elevation-z4">

            <!-- // ************
            // ** HEADER ** -->
            <section>
                <div class="articulo__contenedor__header">

                    <div class="articulo__contenedor__header__prev" >

                        <p>{{nombreModulo}}</p>
                        <h2>{{moduleScreen.descripcion}}</h2>
                        <p *ngIf="moduleItemList">La pantalla seleccionada pertenece al módulo </p>
                        <b *ngIf="moduleItemList">{{moduleItemList.nombre}}</b>

                    </div>

                    <div class="articulo__contenedor__header__next" > </div>

                </div>
            </section>

            <!-- // **********
            // ** BODY ** -->

            <!-- *************** -->
            <!-- SECCIÓN PERSONA -->
            <!-- *************** -->

            
            <!-- ********************** -->
            <!-- SECCIÓN MONTOS MÁXIMOS -->
            <!-- ********************** -->

            <section >
                <div class="articulo__contenedor__body">

                    <div class="articulo__contenedor__body__prev" >

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__prev__form">

                                        <div class="articulo__contenedor__body__prev__form__header"> 
                                            
                                            <div class="articulo__contenedor__body__prev__form__header__prev" > 
                                                <p class="articulo__contenedor__body__prev__form__header__titulo">Mantenimiento de Pantallas</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__form__header__next" > 

                                                <button *ngIf="habilitaBtnNuevo" class="articulo__contenedor__body__prev__form__header__prev__btns__new" 
                                                        mat-flat-button
                                                        (click)="limpiarFormularioPantallaModulo()">Nuevo</button>

                                                <button *ngIf="habilitaBtnActualiza" class="articulo__contenedor__header__prev__btns__warn" 
                                                        mat-flat-button
                                                        (click)="actualizaPantallaModulo()">Actualizar</button>
                                                <button *ngIf="habilitaBtnRegistro" class="articulo__contenedor__header__prev__btns__ok" 
                                                        mat-flat-button
                                                        (click)="submitPantallaModulo()">Registrar</button>
                                                <button *ngIf="habilitaBtnElimibar" class="articulo__contenedor__header__prev__btns__danger" 
                                                        mat-flat-button
                                                        (click)="eliminarPantallaModulo()">Eliminar</button>

                                            </div>
                                        
                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__content">

                                            <form [formGroup]="formPantallasModulo" class="row">
                    
                                                <div class="form-group col-md-2">
                                                    <label for="lblIdPantalla" class="form-label">Id</label>
                                                    <input formControlName="idPantalla" class="form-control" type="text" id="id_idPantalla" readonly />
                                                </div>
                                                
                                                <div class="form-group col-md-2">
                                                    <label for="lblCodigoPantalla" class="form-label">Código</label>
                                                    <input maxlength="5" formControlName="codigoPantalla" class="form-control" type="text" id="id_codigoPantalla"
                                                        [ngClass]="{ 'is-invalid': submittedPantallasModuloForm && m.codigoPantalla.errors }" />
                                                    <div *ngIf="submittedPantallasModuloForm && m.codigoPantalla.errors" class="invalid-feedback">
                                                        <div *ngIf="m.codigoPantalla.errors.required">El código de la pantalla es requerido .</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="lblNombrePantalla" class="form-label">Nombre</label>
                                                    <input formControlName="nombrePantalla" class="form-control" type="text" id="id_nombrePantalla"
                                                        [ngClass]="{ 'is-invalid': submittedPantallasModuloForm && m.nombrePantalla.errors }" />
                                                    <div *ngIf="submittedPantallasModuloForm && m.nombrePantalla.errors" class="invalid-feedback">
                                                        <div *ngIf="m.nombrePantalla.errors.required">El nombre de la pantalla es requerido .</div>
                                                    </div>
                                                </div>
                    
                                                <div class="col-sm-1 articulo__contenedor__body__prev__form__content__div_icon_search">
                                                    <a class="item-list__search"> <mat-icon (click)="buscarPantallasModulo()">search</mat-icon> </a>
                                                </div>

                                                <div class="col-sm-1"> </div>
                    
                                                <div class="form-group col-sm-1 margin-icos-mat">
                                                    <mat-checkbox formControlName="estadoPantalla">Estado</mat-checkbox>
                                                </div>
                    
                                            </form>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>
                    

                    <div *ngIf="habilitaListasPantallas" class="articulo__contenedor__body__next">

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__next__list">

                                        <div class="articulo__contenedor__body__next__list__header"> 
                                            
                                            <div class="articulo__contenedor__body__next__list__header__prev" > 
                                                <p class="articulo__contenedor__body__next__list__header__titulo">Lista de Pantallas</p>
                                            </div>

                                            <div class="articulo__contenedor__body__next__list__header__next" > </div>
                                        
                                        </div>

                                        <div class="articulo__contenedor__body__next__list__content">

                                            <div *ngIf="listPantallasModulos" class="articulo__contenedor__body__next__tabla">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%"></th>
                                                            
                                                            <th style="width: 8%">Código</th>
                                                            <th style="width: 15%">Nombre</th>
                                                            <th style="width: 8%">Estado</th>
                                                            <th style="width: 10%">Modificado</th>
                                                            <th style="width: 10%">Se actualizó</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let obj of listPantallasModulos" class="item-list__list" (click)="selectPantallaModulo(obj)" >
                                                            <td  style="white-space: nowrap" class="item-list__view">
                                                                <div> <a > <mat-icon>swap_horiz</mat-icon> </a> </div>
                                                            </td>
                                                            
                                                            <td>{{obj.codigo}}</td>
                                                            <td>{{obj.nombre}}</td>
                                                            <td>{{obj.estado}}</td>
                                                            <td>{{obj.modificadoPor}}</td>
                                                            <td>{{obj.fechaModificacion}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                        
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>
                    
                </div>
            </section>


            <!-- *********************** -->
            <!-- SECCIÓN  -->
            <!-- *********************** -->

            <section >
                <div class="articulo__contenedor__body">

                    <div *ngIf="habilitaListasUsuarioCompania" class="articulo__contenedor__body__prev_list">

                        <article >
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__prev__list">

                                        <div class="articulo__contenedor__body__prev__list__header"> 
                                            
                                            <div class="articulo__contenedor__body__prev__list__header__prev" > 
                                                <p class="articulo__contenedor__body__prev__list__header__titulo">Personas con Acceso a la Compañía</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__list__header__next" > </div>
                                        
                                        </div>

                                        <div class="articulo__contenedor__body__prev__list__content">

                                            <div>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            
                                                            <th style="width: 20%">Identificación</th>
                                                            <th style="width: 25%">Nombre</th>
                                                            <th style="width: 30%">Correo</th>
                                                            <th style="width: 20%">Estado</th>
                                                            <th style="width: 5%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let obj of listUsuariosCompania" class="item-list__list" (click)="addUserAccessScreen(obj)" >
                                                            
                                                            <td>{{obj.identificacion}}</td>
                                                            <td>{{obj.nombreCompleto}}</td>
                                                            <td>{{obj.email}}</td>
                                                            <td>{{obj.estado}}</td>
                                                            <td  style="white-space: nowrap" class="item-list__view">
                                                                <div> <a > <mat-icon>add</mat-icon> </a> </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>

                    <div *ngIf="habilitaListaUsuariosAccesoPantalla" class="articulo__contenedor__body__next_list">

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__prev__list">

                                        <div class="articulo__contenedor__body__prev__list__header"> 
                                            
                                            <div class="articulo__contenedor__body__prev__list__header__prev" > 
                                                <p class="articulo__contenedor__body__prev__list__header__titulo">Personas con Acceso a la Pantalla</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__list__header__next" > </div>
                                        
                                        </div>

                                        <div class="articulo__contenedor__body__prev__list__content">

                                            <div>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%"></th>
                                                            <th style="width: 10%">Identificación</th>
                                                            <th style="width: 20%">Nombre</th>
                                                            <th style="width: 20%">Correo</th>
                                                            <th style="width: 20%">Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let obj of listUsuariosCompaniaPantalla" class="item-list__list" (click)="removeUserAccessScreen(obj)" >
                                                            <td  style="white-space: nowrap" class="item-list__delete">
                                                                <div> <a > <mat-icon>remove</mat-icon> </a> </div>
                                                            </td>
                                                            <td>{{obj.identificacion}}</td>
                                                            <td>{{obj.nombreCompleto}}</td>
                                                            <td>{{obj.email}}</td>
                                                            <td>{{obj.estado}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>

                </div>
            </section>


            <!-- // ************
            // ** FOOTER ** -->
            <section>
                <div class="articulo__contenedor__footer">
                    <div class="articulo__contenedor__footer__prev" > </div>

                    <div class="articulo__contenedor__footer__next" > </div>
                </div>
            </section>

        </div>

    </article>
</main>