<div class="contenido-main-admin">

    <div>
        <div>
            <p class="contenido-main-admin__h1">{{moduleScreen.descripcion}}</p>
            <p class="contenido-main-admin__h2">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.SUBTITLE' | translate }}</p>
        </div>
        <hr>
        <button class="back-ico-two"
                title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
                mat-icon-button 
                (click)="redirectListModulesPage()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">
        <div class="card-body">

            <p class="contenido-main-admin__h3">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.SELECT_SCREEN' | translate }}</p>
            <b *ngIf="moduleItemList">{{moduleItemList.nombre}}</b>

            <hr>

            <!-- body -->
            <div class="form-list-inline">
                <div class="formulario-izquierdo">

                    <div class="formulario-izquierdo__nav">
                        <div class="formulario-izquierdo__nav__prev" >
                            <p class="formulario-izquierdo__nav__prev__tittle">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_SCREENS_MAINTENANCE' | translate }}</p>
                        </div>

                        <div class="formulario-izquierdo__nav__next" >
                            <button *ngIf="habilitaBtnNuevo" class="formulario-izquierdo__nav__next__btn-view"
                                    mat-flat-button
                                    (click)="nuevoRegistroPantalla()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
                            <button *ngIf="habilitaBtnActualiza" class="formulario-izquierdo__nav__next__btn-warn"
                                    mat-flat-button
                                    (click)="actualizaPantallaModulo()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                            <button *ngIf="habilitaBtnRegistro" class="formulario-izquierdo__nav__next__btn-ok"
                                    mat-flat-button
                                    (click)="submitPantallaModulo()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                            <button *ngIf="habilitaBtnElimibar" class="formulario-izquierdo__nav__next__btn-delete"
                                    mat-flat-button
                                    (click)="eliminarPantallaModulo()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
                        </div>
                    </div>

                    <div class="p-2">
                        <form [formGroup]="formPantallasModulo" class="row">

                            <div class="form-group col-md-2">
                                <label for="id_idPantalla" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_ID' | translate }}</label>
                                <input  formControlName="idPantalla" 
                                        class="form-control" 
                                        type="text" 
                                        id="id_idPantalla" 
                                        readonly/>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="id_codigoPantalla" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_CODE' | translate }}</label>
                                <input  maxlength="5" 
                                        formControlName="codigoPantalla" 
                                        class="form-control" 
                                        type="text" 
                                        id="id_codigoPantalla"
                                        [ngClass]="{ 'is-invalid': submittedPantallasModuloForm && m.codigoPantalla.errors }" />
                                <div *ngIf="submittedPantallasModuloForm && m.codigoPantalla.errors" class="invalid-feedback">
                                    <div *ngIf="m.codigoPantalla.errors.required">El código de la pantalla es requerido .</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="id_nombrePantalla" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_NAME' | translate }}</label>
                                <input  formControlName="nombrePantalla" 
                                        class="form-control" 
                                        type="text" 
                                        id="id_nombrePantalla"
                                    [ngClass]="{ 'is-invalid': submittedPantallasModuloForm && m.nombrePantalla.errors }" />
                                <div *ngIf="submittedPantallasModuloForm && m.nombrePantalla.errors" class="invalid-feedback">
                                    <div *ngIf="m.nombrePantalla.errors.required">El nombre de la pantalla es requerido .</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-2 d-flex justify-content-center pt-4">
                                <a class="item-list-search"> <mat-icon (click)="buscarPantallasModulo()">search</mat-icon> </a>
                            </div>

                            <div class="form-group col-md-10">
                                <label for="id_urlExterna" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_PATH_URL' | translate }}</label>
                                <input  formControlName="urlExterna" 
                                        class="form-control" 
                                        type="text" 
                                        id="id_urlExterna"/>
                            </div>
                            <div class="form-group col-sm-2 margin-icos-mat d-flex justify-content-center">
                                <mat-checkbox formControlName="estadoPantalla"></mat-checkbox>
                            </div>
                        </form>
                    </div>
                </div>

                <div *ngIf="habilitaListasPantallas" class="lista-inline">

                    <div class="lista-inline__nav" >
                        <p class="lista-inline__nav__tittle">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_SCREENS' | translate }}</p>
                    </div>

                    <div *ngIf="listPantallasModulos" class="scroll-table-admin">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="table__add-access-user-module__ico"></th>
                                    <th class="table__add-access-user-module__code">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.CODE' | translate }}</th>
                                    <th class="table__add-access-user-module__name">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.NAME' | translate }}</th>
                                    <th class="table__add-access-user-module__status">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.STATUS' | translate }}</th>
                                    <th class="table__add-access-user-module__mod">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.MODIFIED' | translate }}</th>
                                    <th class="table__add-access-user-module__date">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.DATE_UPDATE' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of listPantallasModulos" 
                                    (click)="selectPantallaModulo(obj)" >
                                    
                                    <td class="item-edit">
                                        <div> <a> <mat-icon>swap_horiz</mat-icon> </a> </div> </td>

                                    <td class="item-edit">{{obj.codigo}}</td>
                                    <td class="item-edit">{{obj.nombre}}</td>
                                    <td class="item-edit">{{obj.estado}}</td>
                                    <td class="item-edit">{{obj.modificadoPor}}</td>
                                    <td class="item-edit">{{obj.fechaModificacion | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-body">

                    <div class="form-list-inline">
                        <div *ngIf="habilitaListasUsuarioCompania" class="lista-inline p-2">

                            <div class="lista-inline__nav" >
                                <p class="lista-inline__nav__tittle">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_GRANT_ACCES' | translate }}</p>
                            </div>

                            <hr>

                            <div class="scroll-table-admin">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="table__add-access-user-module__id">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.ID' | translate }}</th>
                                            <th class="table__add-access-user-module__nom">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.NAME' | translate }}</th>
                                            <th class="table__add-access-user-module__email">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.EMAIL' | translate }}</th>
                                            <th class="table__add-access-user-module__status">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.STATUS' | translate }}</th>
                                            <th class="table__add-access-user-module__ico"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of listUsuariosCompania" >
                                            <td>{{obj.identificacion}}</td>
                                            <td>{{obj.nombreCompleto}}</td>
                                            <td>{{obj.email}}</td>
                                            <td>{{obj.estado}}</td>
                                            <td class="item-list-on" (click)="addUserAccessScreen(obj)">
                                                <div> <a> <mat-icon>add</mat-icon> </a> </div> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div *ngIf="habilitaListaUsuariosAccesoPantalla" class="lista-inline p-2">

                            <div class="lista-inline__nav" >
                                <p class="lista-inline__nav__tittle">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_GRANT_ACCES_SCREEN' | translate }}</p>
                            </div>
                            <hr>
                            <div class="scroll-table-admin">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="table__add-access-user-module__ico"></th>
                                            <th class="table__add-access-user-module__id">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.ID' | translate }}</th>
                                            <th class="table__add-access-user-module__nom">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.NAME' | translate }}</th>
                                            <th class="table__add-access-user-module__email">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.EMAIL' | translate }}</th>
                                            <th class="table__add-access-user-module__status">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.STATUS' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of listUsuariosCompaniaPantalla" >
                                            <td class="item-list-delete" (click)="removeUserAccessScreen(obj)">
                                                <div> <a> <mat-icon>remove</mat-icon> </a> </div> </td>
                                            <td>{{obj.identificacion}}</td>
                                            <td>{{obj.nombreCompleto}}</td>
                                            <td>{{obj.email}}</td>
                                            <td>{{obj.estado}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>