<article class="articulo">
    <section>

        <div class="articulo__contenedor__tittle">
            <p class="articulo__contenedor__tittle__h2">{{moduleScreen.descripcion}}</p>
            <p class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.SUBTITLE' | translate }}</p>

            <button class=" administracion-contenedor__content__item
                            administracion-contenedor__content__item__backIco-sm
                            icon-button-medium"
                    title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
                    mat-icon-button 
                    (click)="redirectListModulesPage()"> <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <div class="card">
            <div class="card-body">

                <!-- header -->
                <section class="articulo__contenedor__header">
                    <div class="articulo__contenedor__header__prev" >
                        <p class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.SELECT_SCREEN' | translate }}</p>
                        <b *ngIf="moduleItemList">{{moduleItemList.nombre}}</b>
                    </div>
                    <div class="articulo__contenedor__header__next" > </div>
                </section>

                <!-- body -->
                <section class="articulo__contenedor__body">
                    <div class="articulo__contenedor__body__prev_form">
                        <article>
                                <section>
                                    <div>
                                        <div class="articulo__contenedor__body__prev__form__header">
                                            <div class="articulo__contenedor__body__prev__form__header__prev" >
                                                <p class="articulo__contenedor__body__prev_tittle">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_SCREENS_MAINTENANCE' | translate }}</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__form__header__next" >
                                                <button *ngIf="habilitaBtnNuevo" 
                                                        class="articulo__contenedor__body__prev__form__header__prev__btns__new"
                                                        mat-flat-button
                                                        (click)="nuevoRegistroPantalla()">{{ 'GENERAL.BTN_NEW' | translate }}</button>

                                                <button *ngIf="habilitaBtnActualiza" class="articulo__contenedor__header__prev__btns__warn"
                                                        mat-flat-button
                                                        (click)="actualizaPantallaModulo()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                                                <button *ngIf="habilitaBtnRegistro" class="articulo__contenedor__header__prev__btns__ok"
                                                        mat-flat-button
                                                        (click)="submitPantallaModulo()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                                                <button *ngIf="habilitaBtnElimibar" class="articulo__contenedor__header__prev__btns__danger"
                                                        mat-flat-button
                                                        (click)="eliminarPantallaModulo()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
                                            </div>
                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__content">
                                            <form [formGroup]="formPantallasModulo" class="row">
                                                <div class="form-group col-md-2">
                                                    <span for="id_idPantalla" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_ID' | translate }}</span>
                                                    <input  formControlName="idPantalla" 
                                                            class="form-control" 
                                                            type="text" 
                                                            id="id_idPantalla" 
                                                            readonly/>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <span for="id_codigoPantalla" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_CODE' | translate }}</span>
                                                    <input  maxlength="5" 
                                                            formControlName="codigoPantalla" 
                                                            class="form-control" 
                                                            type="text" 
                                                            id="id_codigoPantalla"
                                                            [ngClass]="{ 'is-invalid': submittedPantallasModuloForm && m.codigoPantalla.errors }" />
                                                    <div *ngIf="submittedPantallasModuloForm && m.codigoPantalla.errors" class="invalid-feedback">
                                                        <div *ngIf="m.codigoPantalla.errors.required">El código de la pantalla es requerido .</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <span for="id_nombrePantalla" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_NAME' | translate }}</span>
                                                    <input  formControlName="nombrePantalla" 
                                                            class="form-control" 
                                                            type="text" 
                                                            id="id_nombrePantalla"
                                                        [ngClass]="{ 'is-invalid': submittedPantallasModuloForm && m.nombrePantalla.errors }" />
                                                    <div *ngIf="submittedPantallasModuloForm && m.nombrePantalla.errors" class="invalid-feedback">
                                                        <div *ngIf="m.nombrePantalla.errors.required">El nombre de la pantalla es requerido .</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-1 articulo__contenedor__body__prev__form__content__div_icon_search">
                                                    <a class="item-list__search"> <mat-icon (click)="buscarPantallasModulo()">search</mat-icon> </a>
                                                </div>

                                                <div class="col-sm-1"> </div>

                                                <div class="form-group col-md-10">
                                                    <span for="id_urlExterna" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.TXT_PATH_URL' | translate }}</span>
                                                    <input  formControlName="urlExterna" 
                                                            class="form-control" 
                                                            type="text" 
                                                            id="id_urlExterna"/>
                                                </div>

                                                <div class="form-group col-sm-1 margin-icos-mat">
                                                    <mat-checkbox formControlName="estadoPantalla">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.FORM.CHK_STATUS' | translate }}</mat-checkbox>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </section>
                        </article>
                    </div>

                    <div *ngIf="habilitaListasPantallas" class="articulo__contenedor__body__next">

                        <article>
                            <section>
                                <div>
                                    <div class="articulo__contenedor__body__next__list__header">
                                        <div class="articulo__contenedor__body__next__list__header__prev" >
                                            <p class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_SCREENS' | translate }}</p>
                                        </div>
                                        <div class="articulo__contenedor__body__next__list__header__next" > </div>
                                    </div>

                                    <div *ngIf="listPantallasModulos" class="articulo__contenedor__table">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%"></th>
                                                    <th style="width: 8%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.CODE' | translate }}</th>
                                                    <th style="width: 15%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.NAME' | translate }}</th>
                                                    <th style="width: 8%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.STATUS' | translate }}</th>
                                                    <th style="width: 10%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.MODIFIED' | translate }}</th>
                                                    <th style="width: 10%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.DATE_UPDATE' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let obj of listPantallasModulos" 
                                                    class="item-list__list" 
                                                    (click)="selectPantallaModulo(obj)" >
                                                    
                                                    <td class="item-list__edit">
                                                        <div> <a> <mat-icon>swap_horiz</mat-icon> </a> </div>
                                                    </td>

                                                    <td class="item-list__edit">{{obj.codigo}}</td>
                                                    <td class="item-list__edit">{{obj.nombre}}</td>
                                                    <td class="item-list__edit">{{obj.estado}}</td>
                                                    <td class="item-list__edit">{{obj.modificadoPor}}</td>
                                                    <td class="item-list__edit">{{obj.fechaModificacion}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </article>

                    </div>
                </section>
                <br>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <section class="articulo__contenedor__body">

                                <div *ngIf="habilitaListasUsuarioCompania" class="articulo__contenedor__body__prev_list">
            
                                    <article>
                                            <section>
                                                <div>
                                                    <div>
                                                        <div class="articulo__contenedor__body__prev__list__header__prev">
                                                            <p class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_GRANT_ACCES' | translate }}</p>
                                                        </div>
                                                        <div class="articulo__contenedor__body__prev__list__header__next"> </div>
                                                    </div>
            
                                                    <div class="articulo__contenedor__table">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 20%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.ID' | translate }}</th>
                                                                    <th style="width: 25%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.NAME' | translate }}</th>
                                                                    <th style="width: 30%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.EMAIL' | translate }}</th>
                                                                    <th style="width: 20%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.STATUS' | translate }}</th>
                                                                    <th style="width: 5%"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let obj of listUsuariosCompania" >
        
                                                                    <td>{{obj.identificacion}}</td>
                                                                    <td>{{obj.nombreCompleto}}</td>
                                                                    <td>{{obj.email}}</td>
                                                                    <td>{{obj.estado}}</td>
        
                                                                    <td class="item-list__confirm" (click)="addUserAccessScreen(obj)">
                                                                        <div> <a > <mat-icon>add</mat-icon> </a> </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </section>
                                    </article>
            
                                </div>
            
                                <div *ngIf="habilitaListaUsuariosAccesoPantalla" class="articulo__contenedor__body__next_list">
            
                                    <article>
                                        <section>
                                            <div>
        
                                                <div class="articulo__contenedor__body__prev__list__header">
                                                    <div class="articulo__contenedor__body__prev__list__header__prev" >
                                                        <p class="articulo__contenedor__tittle__h3">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TITLE_GRANT_ACCES_SCREEN' | translate }}</p>
                                                    </div>
                                                    <div class="articulo__contenedor__body__prev__list__header__next" > </div>
                                                </div>
        
                                                <div class="articulo__contenedor__table">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 5%"></th>
                                                                <th style="width: 10%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.ID' | translate }}</th>
                                                                <th style="width: 25%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.NAME' | translate }}</th>
                                                                <th style="width: 20%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.EMAIL' | translate }}</th>
                                                                <th style="width: 15%">{{ 'CONFIGURATION.ADD_EDIT_ACCES_USER_PAGE_MODULE.TABLE.STATUS' | translate }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let obj of listUsuariosCompaniaPantalla" >
    
                                                                <td class="item-list__delete" (click)="removeUserAccessScreen(obj)">
                                                                    <div> <a > <mat-icon>remove</mat-icon> </a> </div>
                                                                </td>
    
                                                                <td>{{obj.identificacion}}</td>
                                                                <td>{{obj.nombreCompleto}}</td>
                                                                <td>{{obj.email}}</td>
                                                                <td>{{obj.estado}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
        
                                            </div>
                                        </section>
                                    </article>
            
                                </div>
            
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <hr>

        <!-- // ************
        // ** FOOTER ** -->
        <section>
            <div class="articulo__contenedor__footer">
                <div class="articulo__contenedor__footer__prev" > </div>
                <div class="articulo__contenedor__footer__next" > </div>
            </div>
        </section>

    </section>
</article>