<h1 style="color:#1A5276">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TITLE' | translate }}</h1>

<a routerLink="{{URLIndexAdminPage}}" class="btn btn-light mb-2 mr-3">{{ 'GENERAL.BTN_BACK' | translate }}</a>

<button *ngIf="habilitarBtnMantenimientoReportes" 
    routerLink="{{URLAdminModulePage}}{{'mantenimientoReportes'}}" 
    class="btn-sm item-list__admin__view"
    style="float:right; text-align:right;"
    mat-stroked-button 
    >
    {{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BTN_MANTEINANCE_POWER_BI' | translate }}
</button>

<div class="card">
    <div class="card-body">

        <h3 style="color:#1A5276"><b>{{businessObservable.nombre}} </b></h3>
        <br>
        <h3 style="color:#1A5276">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.SUBTITLE' | translate }}</h3>

        <div>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 25%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TBL_ID' | translate }}</th>
                        <th style="width: 25%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TBL_NAME' | translate }}</th>
                        <th style="width: 48%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TBL_DESCRIPTION' | translate }}</th>
                        <!-- <th style="width: 13%">Estado</th> -->

                        <th style="width: 1%"></th>
                        <th style="width: 1%"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let module of listModules"
                        class="item-list__list" >

                        <td>{{module.identificador}}</td>
                        <td>{{module.nombre}}</td>
                        <td>{{module.descripcion}}</td>
                        <!-- <td>{{module.estado}}</td> -->

                        <td style="white-space: normal;">

                            <button *ngIf="module.estado!='Activo'"
                                (click)="activate(module.identificador)"
                                class="btn-sm item-list__admin__ok" > 
                                <!-- <mat-icon>star</mat-icon>  -->
                                <!-- <mat-icon>star_border</mat-icon>  -->
                                <!-- Activar  -->
                                <mat-icon>thumb_down_alt</mat-icon>
                                {{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TBL_STATUS' | translate }}
                                
                            </button>

                            <button *ngIf="module.estado=='Activo'"
                                (click)="inActivate(module.identificador)"
                                class="btn-sm item-list__admin__warn" > 
                                <!-- <mat-icon>star</mat-icon> -->
                                <!-- <mat-icon>star_border</mat-icon>  llena --> 
                                <!-- Inactivar  -->
                                <mat-icon>thumb_up_alt</mat-icon>
                                {{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TBL_STATUS' | translate }}
                                
                                
                            </button>

                            <!-- <button class="btn-sm item-list__admin__view"
                                    (click)="selectModuleScreenUser(module.id)"> 
                                    <mat-icon>view_quilt</mat-icon>
                                    Pantallas Activas
                            </button> -->

                        </td>

                        <td style="white-space: normal">

                            <!-- <button *ngIf="module.estado!='Activo'"
                                (click)="activate(module.identificador)"
                                class="btn-sm item-list__admin__ok" > Activar 
                            </button>

                        <button *ngIf="module.estado=='Activo'"
                                (click)="inActivate(module.identificador)"
                                class="btn-sm item-list__admin__warn" > Inactivar </button> -->

                            <button class="btn-sm item-list__admin__view"
                                    (click)="selectModuleScreenUser(module.id)"> 
                                    <mat-icon>view_quilt</mat-icon>
                                    {{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.TBL_SCREENS' | translate }}
                            </button>

                        </td>


                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
