<div class="contenido-main">
    <div>
        <div>
            <p class="contenido-main__h1">{{businessObservable.nombre}}</p>
            <p class="contenido-main__h2">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.SUBTITLE' | translate }}</p>
        </div>
        <hr>
        <button class="back-ico-two"
                title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
                mat-icon-button 
                (click)="redirectListUsersPage()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">
        <div class="card-body">

            <div *ngIf="listModulesBusiness" class="contenido-main__table">

                <p *ngIf="seleccionEmpresa" class="contenido-main__h3">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.SELECT_MODULE_ACTIVE' | translate }}</p>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="contenido-main__table__lmbp-id">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.TBL_ID' | translate }}</th>
                            <th class="contenido-main__table__lmbp-name">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.TBL_NAME' | translate }}</th>
                            <th class="contenido-main__table__lmbp-description">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.TBL_DESCRIPTION' | translate }}</th>
                            <th class="contenido-main__table__lmbp-ico"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let module of listModulesBusiness" >
                            <td>{{module.identificador}}</td>
                            <td>{{module.nombre}}</td>
                            <td>{{module.descripcion}}</td>

                            <td><button title="Módulos {{business.nombre}}" 
                                        class="item-list-delete"
                                        (click)="desAssignModuleBusiness(module.identificador)" > <mat-icon>highlight_off</mat-icon> </button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="listModulesSystem" class="contenido-main__table">
                <br>
                <p *ngIf="seleccionEmpresa" class="contenido-main__h3">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.SELECT_MODULE_INACTIVE' | translate }}</p>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="contenido-main__table__lmbp-id">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.TBL_ID' | translate }}</th>
                            <th class="contenido-main__table__lmbp-name">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.TBL_NAME' | translate }}</th>
                            <th class="contenido-main__table__lmbp-description">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_MODULES.BUSINESS.TBL_DESCRIPTION' | translate }}</th>
                            <th class="contenido-main__table__lmbp-ico"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let module of listModulesSystem" >
                            <td>{{module.identificador}}</td>
                            <td>{{module.nombre}}</td>
                            <td>{{module.descripcion}}</td>

                            <td><button *ngIf="seleccionEmpresa"
                                        title="Módulos {{business.nombre}}" 
                                        class="item-list-on"
                                        (click)="assignModuleBusiness(module.identificador)" > <mat-icon>highlight</mat-icon> </button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>