<h1 style="color:#1A5276">Módulos </h1>
<h4 *ngIf="!listModulesBusiness">Listado de módulos registrados en el sistema</h4>

<a routerLink="/_AdminModule/AdminUserPage/" class="btn btn-light mb-2 mr-3">Volver</a>

<div class="card">
    <div class="card-body">

        <div>
            <br>
            <h4 *ngIf="seleccionEmpresa" style="color:#1A5276">Seleccione los módulos a los que se les dará acceso en {{business.nombre}}</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 25%">Identificador</th>
                        <th style="width: 25%">Nombre</th>
                        <th style="width: 30%">Descripción</th>
                        <th style="width: 10%">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let module of listModulesSystem">
                        <td>{{module.identificador}}</td>
                        <td>{{module.nombre}}</td>
                        <td>{{module.descripcion}}</td>
                        <td>{{module.estado}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
