<div class="contenido-main-admin">

    <div>
        <div>
            <p class="contenido-main-admin__h1">{{businessObservable.nombre}}</p>
            <p class="contenido-main-admin__h2">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TITLE' | translate }}</p>
        </div>
        <hr>
        <button class="back-ico-one"
                title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
                mat-icon-button
                (click)="redirectListModulesPage()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-11">
                    <p class="contenido-main-admin__h3">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.SUBTITLE' | translate }}</p>    
                </div>
                
                <div class="col-md-1 d-flex justify-content-center">
                    <button class="item-list-on"
                            title="{{ 'CONFIGURATION.BTN_ADD_ROLES' | translate}}"
                            routerLink="{{URLAddEditRolPage}}"> <mat-icon>portrait</mat-icon> </button>
                </div>
            </div>

            <div class="contenido-main-admin__table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="table__list-role__desc">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_DESCRIPTION' | translate }}</th>
                            <th class="table__list-role__status">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_STATUS' | translate }}</th>
                            <th class="table__list-role__kind">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_KIND' | translate }}</th>
                            <th class="table__list-role__ico"></th>
                            <th class="table__list-role__ico"></th>
                            <th class="table__list-role__ico"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rol of listRoles">

                            <td>{{rol.descripcion}}</td>
                            <td>{{rol.estado}}</td>
                            <td>{{rol.tipo}}</td>

                            <td>
                                <button *ngIf="rol.estado!='Active'"
                                        (click)="activateRole(rol.id)"
                                        class="btn-sm item-list-status-on p-1">
                                        <mat-icon>thumb_down_alt</mat-icon>
                                        {{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_BTN_STATUS_MODULE' | translate }} </button>
                                <button *ngIf="rol.estado=='Active'"
                                        (click)="inActivateRole(rol.id)"
                                        class="item-list-status-warn p-1">
                                        <mat-icon>thumb_up_alt</mat-icon>
                                        {{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_BTN_STATUS_MODULE' | translate }} </button>
                            </td>

                            <td>
                                <button *ngIf="rol.tipo!='Reading'"
                                        (click)="lectura(rol.id)"> <mat-icon>mood</mat-icon> + </button>
                                <button *ngIf="rol.tipo=='Reading'"
                                        (click)="escritura(rol.id)"> <mat-icon>mood_bad</mat-icon> - </button>
                            </td>

                            <td>
                                <button routerLink="{{URLAddModuleRolPage}}{{rol.id}}"
                                    class="btn-sm item-list-module p-1">
                                    <mat-icon>apps</mat-icon> {{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_BTN_MODULE' | translate }} </button>
                            </td>

                        </tr>
                        <tr *ngIf="!listRoles">
                            <td colspan="6" class="text-center">
                                <span class="spinner-border spinner-border-lg align-center"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>