<div class="contenido-main-admin">
    
    <div>
        <div>
            <p class="contenido-main-admin__h1">{{businessObservable.nombre}}</p>
            <p class="contenido-main-admin__h2">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.TITLE' | translate }}</p>
        </div>

        <hr>

        <button class="back-ico-two"
                title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
                mat-icon-button 
                (click)="redirectListUsersPage()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div *ngIf="!isListRolesBusiness" class="card">
        <div class="card-body">
            <div class="card-content">
                <p class="card-content__titulo col-md-12">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.VALIDATION.NO_ROLES_BUSINESS' | translate }}</p>
                <p class="card-content__subtitulo col-md-12">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.VALIDATION.CONTACT_ADMIN' | translate }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="!isUserinBusiness" class="card">
        <div class="card-body">
            <div class="card-content">
                <p class="card-content__titulo col-md-12">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.VALIDATION.USER_NOT_BUSINESS_ASSIGN' | translate }}</p>
                <p class="card-content__subtitulo col-md-12">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.VALIDATION.SELECT_COMPANY_USER' | translate }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="isUserinBusiness && isListRolesBusiness" class="card">
        <div class="card-body">

            <span *ngIf="!enableRoleUser" class="spinner-border spinner-border-lg align-center"></span>

            <div *ngIf="enableRoleUser">
                <h3 class="contenido-main-admin__h3-inline-black"><b>{{ 'CONFIGURATION.ADD_EDIT_BUSINESS_USER.ROLE_USER' | translate }}: </b></h3>
                <h3 *ngIf="isRolAssign" class="contenido-main-admin__h3-inline-blue">{{roleUser.nombre}}</h3>
                <h3 *ngIf="!isRolAssign" class="contenido-main-admin__h3-inline-red">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.VALIDATION.ROLE_NOT_ASSIGNED' | translate }}</h3>
                <br>
                <h2 class="contenido-main-admin__h2">{{userToAssign.email}}</h2>
                
                <div *ngIf="isRolAssign" class="d-flex justify-content-end">
                    <button (click)="desAsignAllRolesUser()" class="btn-sm item-list-delete">
                        <span><b>{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.BTN_DELETE_ROLE' | translate }}</b></span> </button>
                </div>
                <hr>
            </div>
        
            <div *ngIf="listRolesBusiness && isListRolesBusiness" class="contenido-main-admin__table">
                <br>
                <p class="contenido-main-admin__h3-on">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.SUBTITLE' | translate }}</p>
                
                <table class="table table-striped">                    
                    <thead>
                        <tr>
                            <th class="table__add-role-user__name">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.TABLE.NAME' | translate }}</th>
                            <th class="table__add-role-user__desc">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.TABLE.DESCRIPTION' | translate }}</th>
                            <th class="table__add-role-user__status">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.TABLE.STATUS' | translate }}</th>
                            <th class="table__add-role-user__kind">{{ 'CONFIGURATION.ADD_EDIT_ROLE_USER.TABLE.KIND' | translate }}</th>
                            <th class="table__add-role-user__ico"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rol of listRolesBusiness" >
                            <td>{{rol.nombre}}</td>
                            <td>{{rol.descripcion}}</td>
                            <td>{{rol.estado}}</td>
                            <td>{{rol.tipo}}</td>
    
                            <td class="item-on" (click)="assignRoleUser(rol.id)">
                                <a> <mat-icon>vpn_key</mat-icon> </a> </td>
                        </tr>
                    </tbody>
                </table>
                
                <br><hr>
            </div>
        </div>
    </div>
</div>