<h1>{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TITLE' | translate }}</h1>

<a routerLink="{{URLAdministratorPage}}" class="btn btn-light mb-2">{{ 'GENERAL.BTN_BACK' | translate }}</a><br>

<div class="card">
    
    <div class="card-body">

        <button routerLink="{{URLAddEditRolPage}}"
                class="item-list__confirm float-right" 
                mat-icon-button > <mat-icon>portrait</mat-icon>
        </button>
        
        <h3 style="color:#1A5276"><b>{{businessObservable.nombre}} </b></h3>
        <br>
        <h3 style="color:#1A5276">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.SUBTITLE' | translate }}</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 52%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_DESCRIPTION' | translate }}</th>
                    <th style="width: 10%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_STATUS' | translate }}</th>
                    <th style="width: 35%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_KIND' | translate }}</th>


                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>

                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let rol of listRoles"
                    class="item-list__list">

                    <td >{{rol.descripcion}}</td>
                    <td >{{rol.estado}}</td>
                    <td >{{rol.tipo}}</td>

                    <td style="white-space: normal" >
                        <button *ngIf="rol.estado!='Active'"  
                                (click)="activateRole(rol.id)" 
                                class="btn-sm item-list__admin__ok" >

                                <mat-icon>thumb_down_alt</mat-icon>
                                {{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_BTN_STATUS_MODULE' | translate }}
                        </button>
                        <button *ngIf="rol.estado=='Active'"  
                                (click)="inActivateRole(rol.id)" 
                                class="btn-sm item-list__admin__warn" >

                                <mat-icon>thumb_up_alt</mat-icon>
                                {{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_BTN_STATUS_MODULE' | translate }}
                        </button>
                    </td>

                    <td>
                        <button *ngIf="rol.tipo!='Reading'" 
                                (click)="lectura(rol.id)" > <mat-icon>mood</mat-icon>       +
                        </button>
                        <button *ngIf="rol.tipo=='Reading'"  
                                (click)="escritura(rol.id)" > <mat-icon>mood_bad</mat-icon> -
                        </button>
                    </td>

                    <td>
                        <button routerLink="{{URLAddModuleRolPage}}{{rol.id}}" 
                            class="btn-sm item-list__admin__view"> 
                            <mat-icon>apps</mat-icon> {{ 'CONFIGURATION.ADMIN_PAGE_LIST_ROLES.TBL_BTN_MODULE' | translate }}
                        </button>
                    </td>

                </tr>
                <tr *ngIf="!listRoles">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
