<!-- <div *ngIf="userObservable"> -->

    <div class="info">
        <p class="info__user">
            <i routerLink="/_AdminModule/AdminUserPage" class="info__user__icon fa fa-cog"></i>
        </p>
        <p class="info__logout">
            <i class="info__logout__icon fa fa-sign-out fa-lg" (click)="logout()"></i>
        </p>
    </div>

    <mat-toolbar>
        <article style="width: 100%;">
            <section class="title">
                <img class="title__deco--left" src="../../assets/images/inra/img_bankap_left.png ">
                <p class="title__description">SISTEMA DE GESTIÓN ADMINISTRATIVO FINANCIERO</p>
                <img class="title__deco--right" src="../../assets/images/inra/img_bankap_rigth.png ">
            </section>
        </article>
    </mat-toolbar>

    <!-- ** // MUESTRA LOS MÓDULOS EN PANTALLA -->
    <mat-sidenav-container>
        <div class="content mat-elevation-z4">
            <main>
                <article>
                    <section class="content__menu">
            
                        <div class="content__menu__item" *ngFor="let module of ListModules">
                            <a> <img class="content__menu__item__logo" src="{{module.pathIco}}" title="{{module.descripcion}}" 
                                (click)="selectModule(module)"> </a>
                            <p class="content__menu__item__titulo">{{module.nombre}}</p>    
                        </div>
            
                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
<!-- </div> -->
