<main>
    <article class="articulo">

        <div class="articulo__contenedor mat-elevation-z4">

            <!-- // ************
            // ** HEADER ** -->
            <section>
                <div class="articulo__contenedor__header">

                    <div class="articulo__contenedor__header__prev" >

                        <p>{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentOperations' | translate: {$INTERPOLATION: nombreModulo} }}</p>

                    </div>

                    <div class="articulo__contenedor__header__next" > </div>

                </div>
            </section>

            <!-- // **********
            // ** BODY ** -->

            <!-- ********************** -->
            <!-- SECCIÓN MERCADOS       -->
            <!-- ********************** -->

            <section >
                <div class="articulo__contenedor__body">

                    <div class="articulo__contenedor__body__prev" >

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__prev__form">

                                        <div class="articulo__contenedor__body__prev__form__header">

                                            <div class="articulo__contenedor__body__prev__form__header__prev" >
                                                <p class="articulo__contenedor__body__prev__form__header__titulo" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentHeader' | translate }}</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__form__header__next" >

                                                <button *ngIf="habilitaBtnNuevoEncabezado" class="articulo__contenedor__body__prev__form__header__prev__btns__new"
                                                        mat-flat-button
                                                        (click)="limpiarFormularioEncabezado()">{{ 'GENERAL.BTN_NEW' | translate }}</button>

                                                <button *ngIf="habilitaBtnActualizaEncabezado" class="articulo__contenedor__header__prev__btns__warn"
                                                        mat-flat-button
                                                        (click)="actualizaObjetoEncabezado()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                                                <button *ngIf="habilitaBtnRegistroEncabezado" class="articulo__contenedor__header__prev__btns__ok"
                                                        mat-flat-button
                                                        (click)="submitEncabezado()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                                                <button *ngIf="habilitaBtnElimibarEncabezado" class="articulo__contenedor__header__prev__btns__danger"
                                                        mat-flat-button
                                                        (click)="eliminarObjetoEncabezado()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>

                                            </div>

                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__content">

                                            <form [formGroup]="formularioEncabezado" class="row">

                                                <div class="form-group col-md-1">
                                                    <label for="lblIdEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.id' | translate }}</label>
                                                    <input formControlName="idEncabezado" class="form-control" type="text" id="id_idEncabezado" readonly />
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblFechaInversionEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentDate' | translate }}</label>
                                                    <input formControlName="fechaInversionEncabezado" class="form-control" matInput [matDatepicker]="picker" >
                                                    <mat-datepicker-toggle class="item-list__calendar" matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker ></mat-datepicker>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="lblNumeroInversionEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentNumber' | translate }}</label>
                                                    <input formControlName="numeroInversionEncabezado" class="form-control" type="text" id="id_numeroInversionEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.numeroInversionEncabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.numeroInversionEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.numeroInversionEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentNumberRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-1 margin-icos-mat">
                                                    <a class="item-list__search"> <mat-icon (click)="buscarObjetoEncabezado()">search</mat-icon> </a>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="lblIdTituloEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerTitle' | translate }}</label>
                                                    <select formControlName="idTituloEncabezado" class="form-control" name="selectIdTituloEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idTituloEncabezado.errors }"
                                                        (ngModelChange)="itemTituloSelected($event)" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listTitulos" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idTituloEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idTituloEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerTitleRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="lblNumeroCuentaEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.accountNumber' | translate }}</label>
                                                    <input formControlName="numeroCuentaEncabezado" class="form-control" type="text" id="id_numeroCuentaEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.numeroCuentaEncabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.numeroCuentaEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.numeroCuentaEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.accountNumberRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="lblCertificadoBancarioEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.bankCertificate' | translate }}</label>
                                                    <input formControlName="certificadoBancarioEncabezado" class="form-control" type="text" id="id_certificadoBancarioEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.certificadoBancarioEncabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.certificadoBancarioEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.certificadoBancarioEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.bankCertificateRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblIdMonedaEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.currency' | translate }}</label>
                                                    <select formControlName="idMonedaEncabezado" class="form-control" name="selectIdMonedaEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idMonedaEncabezado.errors }" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listMonedas" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idMonedaEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idMonedaEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerPeriodicityRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblIdMercadoEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.market' | translate }}</label>
                                                    <select formControlName="idMercadoEncabezado" class="form-control" name="selectIdMercadoEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idMercadoEncabezado.errors }" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listMercados" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idMercadoEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idMercadoEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerMarketRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblIdSectorEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.sector' | translate }}</label>
                                                    <select formControlName="idSectorEncabezado" class="form-control" name="selectIdSectorEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idSectorEncabezado.errors }" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listSectores" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idSectorEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idSectorEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerSectorRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblIdPlazoEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentTerm' | translate }}</label>
                                                    <select formControlName="idPlazoEncabezado" class="form-control" name="selectIdSectorEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idPlazoEncabezado.errors }" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listPlazosInversion" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idPlazoEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idPlazoEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerInvestmentTermRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblIdPeriocidadEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.periodicity' | translate }}</label>
                                                    <select formControlName="idPeriocidadEncabezado" class="form-control" name="selectIdPeriocidadEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idPeriocidadEncabezado.errors }" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listPeriocidad" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idPeriocidadEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idPeriocidadEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerPeriodicityRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblIdAnioEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.year' | translate }}</label>
                                                    <select formControlName="idAnioEncabezado" class="form-control" name="selectIdAnioEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.idAnioEncabezado.errors }" >
                                                            <option [ngValue]="objeto" *ngFor="let objeto of listAnio" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.textByText' | translate: {$INTERPOLATION: objeto.id, $INTERPOLATION_1: objeto.descripcion } }}</option>
                                                    </select>
                                                    <div *ngIf="submittedFormEncabezado && m.idAnioEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.idAnioEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.headerYearRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblFechaInicioEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.startDate' | translate }}</label>
                                                    <input formControlName="fechaInicioEncabezado" class="form-control" matInput [matDatepicker]="picker_fechaInicio" >
                                                    <mat-datepicker-toggle class="item-list__calendar" matSuffix [for]="picker_fechaInicio"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker_fechaInicio ></mat-datepicker>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblFechaFinalEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.endDate' | translate }}</label>
                                                    <input formControlName="fechaFinalEncabezado" class="form-control" matInput [matDatepicker]="picker_fechaFinal" >
                                                    <mat-datepicker-toggle class="item-list__calendar" matSuffix [for]="picker_fechaFinal"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker_fechaFinal ></mat-datepicker>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <label for="lblDiasDiferenciaEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.differenceDays' | translate }}</label>
                                                    <input formControlName="diasDiferenciaEncabezado" class="form-control" type="text" id="id_diasDiferenciaEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.diasDiferenciaEncabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.diasDiferenciaEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.diasDiferenciaEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.differenceDaysRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <label for="lblDiasAcumuladosEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.accumulatedDays' | translate }}</label>
                                                    <input formControlName="diasAcumuladosEncabezado" class="form-control" type="text" id="id_diasAcumuladosEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.diasAcumuladosEncabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.diasAcumuladosEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.diasAcumuladosEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.accumulatedDaysRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="lblFechaUltimoCuponEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.lastCouponDate' | translate }}</label>
                                                    <input formControlName="fechaUltimoCuponEncabezado" class="form-control" matInput [matDatepicker]="picker_fechaUltimoCupon" >
                                                    <mat-datepicker-toggle class="item-list__calendar" matSuffix [for]="picker_fechaUltimoCupon"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker_fechaUltimoCupon ></mat-datepicker>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <label for="lblInversionNetaEncabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.netInvestment' | translate }}</label>
                                                    <input formControlName="inversionNetaEncabezado" class="form-control" type="text" id="id_inversionNetaEncabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.inversionNetaEncabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.inversionNetaEncabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.inversionNetaEncabezado.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentRequired' | translate }}</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <hr>
                                                    <textarea matInput  formControlName="observacionesEncabezado"
                                                                        class="form-control"
                                                                        id="id_observacionesEncabezado"
                                                                        placeholder="Ingrese las observaciones..."></textarea>
                                                    <hr>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <label for="lblUsuarioAprueba1Encabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.userApproves1' | translate }}</label>
                                                    <input formControlName="usuarioAprueba1Encabezado" class="form-control" type="text" id="id_usuarioAprueba1Encabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.usuarioAprueba1Encabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.usuarioAprueba1Encabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.usuarioAprueba1Encabezado.errors.required">.</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <label for="lblUsuarioAprueba2Encabezado" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.userApproves2' | translate }}</label>
                                                    <input formControlName="usuarioAprueba2Encabezado" class="form-control" type="text" id="id_usuarioAprueba2Encabezado"
                                                        [ngClass]="{ 'is-invalid': submittedFormEncabezado && m.usuarioAprueba2Encabezado.errors }" />
                                                    <div *ngIf="submittedFormEncabezado && m.usuarioAprueba2Encabezado.errors" class="invalid-feedback">
                                                        <div *ngIf="m.usuarioAprueba2Encabezado.errors.required">.</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-1 margin-icos-mat">
                                                    <mat-checkbox formControlName="venceEncabezado" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.expires' | translate }}</mat-checkbox>
                                                </div>

                                                <div class="form-group col-sm-2 margin-icos-mat">
                                                    <mat-checkbox formControlName="calculaCuponEncabezado" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.calculatesCoupon' | translate }}</mat-checkbox>
                                                </div>

                                                <div class="form-group col-sm-1 margin-icos-mat">
                                                    <mat-checkbox formControlName="estadoEncabezado" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.status' | translate }}</mat-checkbox>
                                                </div>

                                            </form>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>


                    <div class="articulo__contenedor__body__next">

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__next__list">

                                        <div class="articulo__contenedor__body__next__list__header">

                                            <div class="articulo__contenedor__body__next__list__header__prev" >
                                                <p class="articulo__contenedor__body__next__list__header__titulo" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentList' | translate }}</p>
                                            </div>

                                            <div class="articulo__contenedor__body__next__list__header__next" > </div>

                                        </div>

                                        <div class="articulo__contenedor__body__next__list__content">

                                            <div *ngIf="listObjetosEncabezado" class="articulo__contenedor__body__next__tabla">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%"></th>

                                                            <th style="width: 8%"  >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentNumber' | translate }}</th>
                                                            <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.netInvestment' | translate }}</th>
                                                            <th style="width: 12%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.investmentDate' | translate }}</th>
                                                            <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.startDate' | translate }}</th>
                                                            <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.endDate' | translate }}</th>

                                                            <th style="width: 12%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.modified' | translate }}</th>
                                                            <th style="width: 15%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.updated' | translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let obj of listObjetosEncabezado" class="item-list__list" (click)="selectObjetoEncabezado(obj)" >
                                                            <td  style="white-space: nowrap" class="item-list__view">
                                                                <div> <a > <mat-icon>swap_horiz</mat-icon> </a> </div>
                                                            </td>

                                                            <td>{{obj.numeroInversionEncabezado}}</td>
                                                            <td>{{obj.inversionNetaEncabezado}}</td>
                                                            <td>{{obj.fechaInversionEncabezado}}</td>
                                                            <td>{{obj.fechaInicioEncabezado}}</td>
                                                            <td>{{obj.fechaFinalEncabezado}}</td>
                                                            <td>{{obj.modificadoPor}}</td>
                                                            <td>{{obj.fechaModificacion}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>

                </div>
            </section>

            <!-- ********************** -->
            <!-- SECCIÓN SECTORES       -->
            <!-- ********************** -->

            <!-- <section >
                <div class="articulo__contenedor__body">

                    <div class="articulo__contenedor__body__prev" >

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__prev__form">

                                        <div class="articulo__contenedor__body__prev__form__header">

                                            <div class="articulo__contenedor__body__prev__form__header__prev" >
                                                <p class="articulo__contenedor__body__prev__form__header__titulo">Detalle de Inversión o Cotizaciones</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__form__header__next" >

                                                <button *ngIf="habilitaBtnNuevoDetalle" class="articulo__contenedor__body__prev__form__header__prev__btns__new"
                                                        mat-flat-button
                                                        (click)="limpiarFormularioDetalle()">{{ 'GENERAL.BTN_NEW' | translate }}</button>

                                                <button *ngIf="habilitaBtnActualizaDetalle" class="articulo__contenedor__header__prev__btns__warn"
                                                        mat-flat-button
                                                        (click)="actualizaObjetoSector()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                                                <button *ngIf="habilitaBtnRegistroDetalle" class="articulo__contenedor__header__prev__btns__ok"
                                                        mat-flat-button
                                                        (click)="submitDetalle()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                                                <button *ngIf="habilitaBtnElimibarSector" class="articulo__contenedor__header__prev__btns__danger"
                                                        mat-flat-button
                                                        (click)="eliminarObjetoDetalle()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>

                                            </div>

                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__content">

                                            <form [formGroup]="formularioDetalle" class="row">

                                                <div class="form-group col-md-2">
                                                    <label for="lblIdSector" class="form-label">{{ 'MODULES.INVERSIONES_TRANSITORIAS.id' | translate }}</label>
                                                    <input formControlName="idSector" class="form-control" type="text" id="id_idSector" readonly />
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="lblCodigoSector" class="form-label">Código Interno</label>
                                                    <input formControlName="codigoSector" class="form-control" type="text" id="id_codigoSector"
                                                        [ngClass]="{ 'is-invalid': submittedFormSector && s.codigoSector.errors }" />
                                                    <div *ngIf="submittedFormSector && s.codigoSector.errors" class="invalid-feedback">
                                                        <div *ngIf="s.codigoSector.errors.required">El código del sector es requerido .</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="lblDescripcionSector" class="form-label">Descripción</label>
                                                    <input formControlName="descripcionSector" class="form-control" type="text" id="id_descripcionSector"
                                                        [ngClass]="{ 'is-invalid': submittedFormSector && s.descripcionSector.errors }" />
                                                    <div *ngIf="submittedFormSector && s.descripcionSector.errors" class="invalid-feedback">
                                                        <div *ngIf="s.descripcionSector.errors.required">La descripción del sector es requerida .</div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-1 margin-icos-mat">
                                                    <mat-checkbox formControlName="estadoSector">Estado</mat-checkbox>
                                                </div>

                                            </form>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>


                    <div class="articulo__contenedor__body__next">

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__next__list">

                                        <div class="articulo__contenedor__body__next__list__header">

                                            <div class="articulo__contenedor__body__next__list__header__prev" >
                                                <p class="articulo__contenedor__body__next__list__header__titulo">Líneas de Detalle</p>
                                            </div>

                                            <div class="articulo__contenedor__body__next__list__header__next" > </div>

                                        </div>

                                        <div class="articulo__contenedor__body__next__list__content">

                                            <div *ngIf="listObjetosSectores" class="articulo__contenedor__body__next__tabla">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%"></th>

                                                            <th style="width: 8%">Código interno</th>
                                                            <th style="width: 12%">Descripción</th>
                                                            <th style="width: 10%">Estado</th>
                                                            <th style="width: 12%">Modificado</th>
                                                            <th style="width: 15%">Se actualizó</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let obj of listObjetosSectores" class="item-list__list" (click)="selectObjetoDetalle(obj)" >
                                                            <td  style="white-space: nowrap" class="item-list__view">
                                                                <div> <a > <mat-icon>swap_horiz</mat-icon> </a> </div>
                                                            </td>

                                                            <td>{{obj.codigoSector}}</td>
                                                            <td>{{obj.descripcion}}</td>
                                                            <td>{{obj.estado}}</td>
                                                            <td>{{obj.modificadoPor}}</td>
                                                            <td>{{obj.fechaModificacion}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>

                </div>
            </section> -->

            <!-- // ************
            // ** FOOTER ** -->
            <section>
                <div class="articulo__contenedor__footer">
                    <div class="articulo__contenedor__footer__prev" > </div>

                    <div class="articulo__contenedor__footer__next" > </div>
                </div>
            </section>

        </div>

    </article>
</main>
