<main>

    <article class="bloq">

        <div class="contenedor mat-elevation-z4">
            
            <section>   <!-- header -->
                <div class="contenedor__header">                    
                    <div class="contenedor__header__prev">
                        <h2 >Consulta de Personas </h2>
                    </div>
                    <div class="contenedor__header__next">  </div>
                </div>
            </section>

            <section>   <!-- body -->
                <div class="contenedor__body">

                    <form [formGroup]="formPersona" class="row">

                        <div class="form-group col-md-3">
                            <label for="id" class="form-label">Id</label>
                            <input formControlName="id" class="form-control" type="text" id="id_id" readonly />
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="lblIdentificacion" class="form-label">Número de Identificación</label>
                            <input formControlName="identificacion" class="form-control" type="text" id="id_identificacion"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.identificacion.errors }" />
                            <div *ngIf="submittedPersonForm && f.identificacion.errors" class="invalid-feedback">
                                <div *ngIf="f.identificacion.errors.required">La identificación es requerida</div>
                            </div>
                        </div>

                        <div class="col-md-3 margin-icos-mat item-list">
                            <a class="item-list__confirm"> <mat-icon (click)="SubmitPerson()">search</mat-icon> </a>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input formControlName="nombre" class="form-control" type="text" id="id_nombre"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.nombre.errors }" />
                            <div *ngIf="submittedPersonForm && f.nombre.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="primerApellido" class="form-label">Primer Apellido</label>
                            <input formControlName="primerApellido" class="form-control" type="text" id="id_nombre"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.primerApellido.errors }" />
                            <div *ngIf="submittedPersonForm && f.primerApellido.errors" class="invalid-feedback">
                                <div *ngIf="f.primerApellido.errors.required">El primer apellido es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                            <input formControlName="segundoApellido" class="form-control" type="text" id="id_nombre"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.segundoApellido.errors }" />
                            <div *ngIf="submittedPersonForm && f.segundoApellido.errors" class="invalid-feedback">
                                <div *ngIf="f.segundoApellido.errors.required">El segundo apellido es requerido</div>
                            </div>
                        </div>
                        <button class="item-list__confirm" type="submit" (click)="SubmitPerson()"></button>
                    </form>
                </div>
            </section>

            <section> <!-- footer -->
                <div class="contenedor__footer">
                    <section class="sectionmenu">
                        <div *ngIf="_personaMacred" class="menuitems mat-elevation-z4">
                            <div class="menuitems__items" *ngFor="let module of listSubMenu">
                                <p class="menuitems__items__titulo" (click)="selectModule(module)">{{module.nombre}}</p>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

        </div>
    </article>

    <article class="bloq">
        <section *ngIf="menuItem">
            <div class="center-menu-items item-list">
                <p class="item-list__edit titulo-menu-seleccionado">{{menuItem.nombre}}</p>
            </div>
        </section>
    </article>

    <!-- -- -->
    <article *ngIf="datosAnalisis" class="bloq">

        <div  class="contenedor mat-elevation-z4">
                
            <section>   <!-- header -->
                <div class="contenedor__header">
                    <div class="contenedor__header__prev">
                        <h2 *ngIf="!_analisisCapacidadpago">Información de Análisis</h2>
                        <h2 *ngIf="_analisisCapacidadpago">codigo de análisis: {{_analisisCapacidadpago.codigoAnalisis}}</h2>
                    </div>
                    <div class="contenedor__header__next">
                        <button *ngIf="habilitaBtnHistoprialIngreso" (click)="openHistorialModal()" class="btn btn-dark px-5 " >
                            Historial       </button>
                        <button *ngIf="habilitaBtnRegistroDeudor" class="btn btn-dark px-5 " >
                            Nuevo Deudor    </button>
                    </div>
                </div>
            </section>

            <section>   <!-- body -->
                <div class="contenedor__body">
                    <form [formGroup]="formAnalisis" class="row">
                        
                        <div class="col-md-3">
                            <label for="lblFechaAnalisis" class="form-label">Fecha de Análisis</label>
                            <input formControlName="fechaAnalisis" class="form-control" matInput [matDatepicker]="picker" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>

                        <div class="form-group col-sm-1 margin-icos-mat margin-icos-mat__cbx">
                            <mat-checkbox formControlName="estado">Estado</mat-checkbox>
                        </div>
                        <div class="form-group col-sm-1 margin-icos-mat">
                            <mat-checkbox formControlName="analisisDefinitivo" >Análisis definitivo ?</mat-checkbox>
                        </div>

                        <div class="col-sm-7"> </div>

                        <div class="form-group col-md-6">
                            <label for="lblCapacidadPago" class="form-label">Nivel de Capacidad de Pago</label>
                            <select formControlName="capacidadPago" class="form-control" name="selectCapacidadPago" readonly >
                                    <option [disabled]="true" [ngValue]="objeto" *ngFor="let objeto of listNivelesCapacidadpago">{{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedAnalisisForm && g.capacidadPago.errors" class="invalid-feedback">
                                <div *ngIf="g.capacidadPago.errors.required">El Nivel de Capacidad de Pago es requerido</div>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-2">
                            <label for="lblPuntajeAnalisis" class="form-label">Puntaje del Análisis</label>
                            <input formControlName="puntajeAnalisis" class="form-control" type="text" id="id_puntajeAnalisis"
                            readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="lblCalificacionCic" class="form-label">Calificación CIC</label>
                            <input formControlName="calificacionCic" class="form-control" type="text" id="id_calificacionCic"
                            readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="lblCalificacionFinalCic" class="form-label">Calificación FINAL CIC</label>
                            <input formControlName="calificacionFinalCic" class="form-control" type="text" id="id_calificacionFinalCic"
                            readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblTipoIngresoAnalisis" class="form-label">Tipo de Ingreso de Análisis</label>
                            <select formControlName="tipoIngresoAnalisis" class="form-control" name="selectTipoIngresoAnalisis"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoIngresoAnalisis.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listTipoIngresoAnalisis">{{objeto.id}} - {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedAnalisisForm && g.tipoIngresoAnalisis.errors" class="invalid-feedback">
                                <div *ngIf="g.tipoIngresoAnalisis.errors.required">El Tipo de Ingreso es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tipoFormaPagoAnalisis" class="form-label">Forma de Pago de Análisis</label>
                            <select formControlName="tipoFormaPagoAnalisis" class="form-control" name="tipoFormaPagoAnalisis"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoFormaPagoAnalisis.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listTipoFormaPagoAnalisis">{{objeto.id}} - {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedAnalisisForm && g.tipoFormaPagoAnalisis.errors" class="invalid-feedback">
                                <div *ngIf="g.tipoFormaPagoAnalisis.errors.required">La Forma de Pago es requerida</div>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label for="lblModeloAnalisis" class="form-label">Modelo de Análisis</label>
                            <select formControlName="modeloAnalisis" class="form-control" name="selectModeloAnalisis"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.modeloAnalisis.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listModelosAnalisis">{{objeto.id}} - {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedAnalisisForm && g.modeloAnalisis.errors" class="invalid-feedback">
                                <div *ngIf="g.modeloAnalisis.errors.required">El Modelo de Análisis es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="tipoMoneda" class="form-label">Moneda</label>
                            <select formControlName="tipoMoneda" class="form-control" name="tipoMoneda"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoMoneda.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listTiposMonedas">{{objeto.simbolo}} {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedAnalisisForm && g.tipoMoneda.errors" class="invalid-feedback">
                                <div *ngIf="g.tipoMoneda.errors.required">La Moneda es requerida</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblTipoGenerador" class="form-label">Tipo de Generador</label>
                            <select formControlName="tipoGenerador" class="form-control" name="selectTipoGenerador"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoGenerador.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listTiposGeneradores">{{objeto.codigoGenerador}} - {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedAnalisisForm && g.tipoGenerador.errors" class="invalid-feedback">
                                <div *ngIf="g.tipoGenerador.errors.required">El Tipo de Generador es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblIndicadorCsd" class="form-label">Indicador CSD</label>
                            <input formControlName="indicadorCsd" class="form-control" type="number" id="id_indicadorcsd"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.indicadorCsd.errors }" />
                            <div *ngIf="submittedAnalisisForm && g.indicadorCsd.errors" class="invalid-feedback">
                                <div *ngIf="g.indicadorCsd.errors.required">El Indicador CSD es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="lblPonderacionLvt" class="form-label">Ponderación LVT</label>
                            <input formControlName="ponderacionLvt" class="form-control" type="text" id="id_ponderacionLvt"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.ponderacionLvt.errors }" />
                            <div *ngIf="submittedAnalisisForm && g.ponderacionLvt.errors" class="invalid-feedback">
                                <div *ngIf="g.ponderacionLvt.errors.required">La ponderación LVT es requerida</div>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="lblNumeroDependientes" class="form-label">Número de Dependientes</label>
                            <input formControlName="numeroDependientes" class="form-control" type="number" id="id_numeroDependientes"
                                [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.numeroDependientes.errors }" />
                            <div *ngIf="submittedAnalisisForm && g.numeroDependientes.errors" class="invalid-feedback">
                                <div *ngIf="g.numeroDependientes.errors.required">El Número de Dependientes es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <hr>
                            <textarea matInput  formControlName="observaciones" 
                                                class="form-control"
                                                id="id_observaciones"
                                                placeholder="Ingrese las observaciones..."></textarea>
                            <hr>
                        </div>
                    </form>
                </div>

            </section>

            <section>   <!-- footer --> 
                <div class="contenedor__footer">
                    <div class="contenedor__footer__prev">
                        <button *ngIf="habilitaBtnGeneraNuevoAnalisis" 
                                (click)="SubmitNuevoAnalisis()" 
                                class="btn btn-success px-5 " 
                                mat-flat-button color="primary" > Registrar </button>

                        <button *ngIf="habilitaBtnGuardarAnalisis" 
                                (click)="GuardarAnalisis()" 
                                class="btn btn-success px-5 "
                                mat-flat-button color="primary" > Guardar Cambios </button>
                    </div>
                    <div class="contenedor__footer__next">
                        <button *ngIf="habilitaBtnIngreso" 
                                (click)="habilitaFormularioIngreso()" 
                                class="btn px-5 btn-info" 
                                mat-flat-button color="primary" > Ingresos </button>
                    </div>
                </div>
            </section>

            <article class="modal modal-config" id="analisisHistorialModal">
                <div class="modal-content">

                    <section>
                        <div class="modal-header ">
                            <div class="contenedor__header-modal " >
                                <div class="contenedor__header__prev">
                                    <h1 style="color:#1A5276">Historial de Análisis de Capacida de Pago</h1>
                                </div>
                                <div class="contenedor__header__next">
                                    <button style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <form [formGroup]="formHistorialAnalisis" class="row modal-config__formulario-header" >
                            <div class="form-group col-md-3">
                                <label for="lblCodigoAnalisisHistorial" class="form-label">Código de Análisis del Historial</label>
                                <input formControlName="codigoAnalisisHistorial" class="form-control" type="number" id="id_codigoAnalisisHistorial"
                                    [ngClass]="{ 'is-invalid': submittedHistorialAnalisisForm && h.codigoAnalisisHistorial.errors }" />
                                <div *ngIf="submittedHistorialAnalisisForm && h.codigoAnalisisHistorial.errors" class="invalid-feedback">
                                    <div *ngIf="h.codigoAnalisisHistorial.errors.required">El Código de Análisis del Historial es requerido</div>
                                </div>
                            </div>
                            <div class="col-md-3 margin-icos-mat item-list">
                                <a class="item-list__edit"> <mat-icon>filter_list</mat-icon> </a>
                            </div>
                        </form>
                    </section>
                    
                    <section>    <!-- body -->
                        <div class="contenedor__body" >
                            <div *ngIf="listHistorialAnalisis" >
                                <table  class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">Análisis</th>
                                            <th style="width: 12%">Fecha de Análisis</th>
                                            <th style="width: 12%">Cód. Nivel Cap pago</th>
                                            <th style="width: 7%">Estado</th>
                                            <th style="width: 8%">¿ Definitivo ?</th>
                                            <th style="width: 10%">Scoring Análisis</th>
                                            <th style="width: 10%">Puntaje Final CIC</th>
                                            <th style="width: 10%">Moneda</th>
                                            <th style="width: 26%">Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of listHistorialAnalisis" class="item-list__confirm" (click)="selectAnalisisHistorial(obj)" >
                                            <td>{{obj.codigoAnalisis}}</td>
                                            <td>{{obj.fechaAnalisis}}</td>
                                            <td>{{obj.codigoNivelCapPago}}</td>
                                            <td>{{obj.estado}}</td>
                                            <td>{{obj.analisisDefinitivo}}</td>
                                            <td>{{obj.puntajeAnalisis}}</td>
                                            <td>{{obj.puntajeFinalCic}}</td>
                                            <td>{{obj.codigoMoneda}}</td>
                                            <td>{{obj.observaciones}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </section>  

                </div>
            </article>

        </div>
        
    </article>


<div class="col-md-12 mt-5" *ngIf="flujoCaja">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Flujo de Caja  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>
<div class="col-md-12 mt-5" *ngIf="pd">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Probability of Default  !</p>
                        </div>

                        <br>
                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>
<div class="col-md-12 mt-5" *ngIf="scoring">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Scoring Crediticio  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<article *ngIf="ingresos" class="bloq" >
    <div class="contenedor mat-elevation-z4">
            
        <section>   <!-- header -->
            <div class="contenedor__header">
                <div class="contenedor__header__prev">
                    <h2 *ngIf="_analisisCapacidadpago">codigo de análisis: {{_analisisCapacidadpago.codigoAnalisis}}</h2>
                </div>
                <div class="contenedor__header__next">
                    <h2 >Información de Ingresos</h2>
                </div>
            </div>
        </section>

        <section>   <!-- body -->
            <div class="contenedor__body">
                <form [formGroup]="formIngresos" class="row">

                    <div class="form-group col-md-3">
                        <label for="lblCodigoTipoIngreso" class="form-label">Tipo de Ingreso</label>
                        <select formControlName="codigoTipoIngreso" class="form-control" name="selectCodigoTipoIngreso"
                        [ngClass]="{ 'is-invalid': submittedIngresosForm && i.codigoTipoIngreso.errors }" >
                                <option [ngValue]="objeto" *ngFor="let objeto of listTiposIngresos">{{objeto.id}} - {{objeto.descripcion}}</option>
                        </select>
                        <div *ngIf="submittedIngresosForm && i.codigoTipoIngreso.errors" class="invalid-feedback">
                            <div *ngIf="i.codigoTipoIngreso.errors.required">El Tipo de Ingreso es requerido</div>
                        </div>
                    </div>

                    <div class="col-md-9"></div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoBruto" class="form-label">Salario Monto Bruto</label>
                        <input formControlName="montoBruto" class="form-control" type="number" id="id_montoBruto"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoBruto.errors }" />
                        <div *ngIf="submittedIngresosForm && i.montoBruto.errors" class="invalid-feedback">
                            <div *ngIf="i.montoBruto.errors.required">El Salario Monto Bruto es requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoNeto" class="form-label">Salario Monto Neto</label>
                        <input formControlName="montoNeto" class="form-control" type="number" id="id_montoNeto"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoNeto.errors }" />
                        <div *ngIf="submittedIngresosForm && i.montoNeto.errors" class="invalid-feedback">
                            <div *ngIf="i.montoNeto.errors.required">El monto neto es requerido</div>
                        </div>
                    </div>

                    <div class="col-md-6"></div>

                    <div class="form-group col-md-3">
                        <label for="lblCargasSociales" class="form-label">Cargas Sociales</label>
                        <input formControlName="cargasSociales" class="form-control" type="number" id="id_cargasSociales"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.cargasSociales.errors }" />
                        <div *ngIf="submittedIngresosForm && i.cargasSociales.errors" class="invalid-feedback">
                            <div *ngIf="i.cargasSociales.errors.required">Ingrese 0 si no aplican extras</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblImpuestoRenta" class="form-label">Impuesto de Renta</label>
                        <input formControlName="impuestoRenta" class="form-control" type="number" id="id_impuestoRenta"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.impuestoRenta.errors }" />
                        <div *ngIf="submittedIngresosForm && i.impuestoRenta.errors" class="invalid-feedback">
                            <div *ngIf="i.impuestoRenta.errors.required">El impuesto sobre la renta es requerido</div>
                        </div>
                    </div>

                    <div class="col-md-6"></div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoExtras" class="form-label">Monto Extras Aplicables</label>
                        <input formControlName="montoExtras" class="form-control" type="number" id="id_montoExtras"
                            readonly />
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblPorcentajeExtras" class="form-label">Porcentaje Extras Aplicables</label>
                        <input formControlName="porcentajeExtras" class="form-control" type="number" id="id_porcentajeExtras"
                            readonly />

                    </div>

                    <div class="col-md-3 margin-icos-mat item-list">
                        <a *ngIf="habilitaIcoOpenModalExtras" class="item-list__edit"> 
                            <mat-icon (click)="openExtrasModal()">open_in_new</mat-icon> 
                        </a>
                    </div>

                    <div class="col-md-3"></div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoDeducciones" class="form-label">Monto Deducciones</label>
                        <input formControlName="montoDeducciones" class="form-control" type="number" id="id_montoDeducciones"
                            readonly />

                    </div>

                    <div class="col-md-3 margin-icos-mat item-list">
                        <a *ngIf="habilitaIcoOpenModalDeducciones" class="item-list__edit">
                            <mat-icon (click)="openDeduccionesModal()">open_in_new</mat-icon> 
                        </a>
                    </div>
                </form>

            </div>
        </section>

        <section>
            <div class="contenedor__body">
    
                <div *ngIf="listIngresosAnalisis">
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 5%">Análisis</th>
                                <th style="width: 10%">Tipo de Ingreso</th>
                                <th style="width: 12%">Monto Bruto</th>
                                <th style="width: 12%">Monto Neto</th>
                                <th style="width: 8%">Cargas Sociales</th>
                                <th style="width: 8%">Impuesto Renta</th>
                                <th style="width: 8%">Extras Aplicables</th>
                                <th style="width: 9%">Porcentaje Extras</th>
                                <th style="width: 10%">Deducciones</th>
                                <th style="width: 8%"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let obj of listIngresosAnalisis" >

                                <td>{{obj.codigoAnalisis}}</td>
                                <td>{{obj.codigoTipoIngreso}}</td>
                                <td>{{obj.montoBruto}}</td>
                                <td>{{obj.montoNeto}}</td>
                                <td>{{obj.cargasSociales}}</td>
                                <td>{{obj.impuestoRenta}}</td>
                                <td>{{obj.montoExtras}}</td>
                                <td>{{obj.porcentajeExtras}}</td>
                                <td>{{obj.montoDeducciones}}</td>

                                <td  style="white-space: nowrap">
                                    <div class="item-list">
                                        <a class="item-list__edit" (click)="selectIngresoAnalisis(obj)"> 
                                            <mat-icon>visibility</mat-icon>
                                        </a>
                                        <a class="item-list__delete" (click)="deleteIngreso(obj)"> 
                                            <mat-icon>clear</mat-icon>
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
            
                </div>
            </div>
        </section>

        <section>   <!-- footer registro ingresos -->
            <div class="contenedor__footer">
                <div class="contenedor__footer__prev">
                    <button *ngIf="habilitaBtnRegistrarIngreso"
                            (click)="RegistrarIngresoAnalisis()" 
                            class="btn btn-success px-5 " 
                            mat-flat-button color="primary" > Registrar Ingreso </button>
                    <button *ngIf="habilitaBtnActualizaIngreso" 
                            (click)="ActualizaFormIngresos()" 
                            class="btn btn-success px-5 "
                            mat-flat-button color="primary" > Guardar Cambios </button>
                </div>
                <div class="contenedor__footer__next"></div>
            </div>
        </section>


        <article class="modal modal-config" id="extrasModal"> <!-- inicio modal -->

            <div class="modal-content">

                <section>
                    <div class="modal-header">
                        <div class="contenedor__header-modal">
                            <div class="contenedor__header__prev">
                                <h1 style="color:#1A5276">Registro de Extras Aplicables</h1>
                            </div>
                            <div class="contenedor__header__next">
                                <button style="color:red" type="button" class="close btn-close" (click)="CerrarExtrasModal()" >&times;</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <form [formGroup]="formExtras" class="row modal-config__formulario-header" >

                        <div class="form-group col-md-3">
                            <label for="lblMontoExtras" class="form-label">Monto de las Extras</label>
                            <input formControlName="montoExtra" class="form-control" type="number" id="id_montoExtra"
                                [ngClass]="{ 'is-invalid': submittedExtrasForm && e.montoExtra.errors }" />
                            <div *ngIf="submittedExtrasForm && e.montoExtra.errors" class="invalid-feedback">
                                <div *ngIf="e.montoExtra.errors.required">El Monto de las Extras es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="lblMesesExtrasAplicables" class="form-label">Meses Aplicables</label>
                            <input formControlName="mesesExtrasAplicables" class="form-control" type="number" id="id_mesesExtrasAplicables"
                            readonly />
                        </div>
                        
                        <div class="col-md-7"></div>

                        <div class="form-group col-md-3">
                            <label for="lblPorcentajeExtrasAplicable" class="form-label">Porcentaje de Extras Aplicables</label>
                            <input formControlName="porcentajeExtrasAplicable" class="form-control" type="number" id="id_porcentajeExtrasAplicable"
                            readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblDesviacionEstandar" class="form-label">Desviación Estándar</label>
                            <input formControlName="desviacionEstandar" class="form-control" type="number" id="id_desviacionEstandar"
                            readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblCoeficienteVarianza" class="form-label">Coeficiente Varianza</label>
                            <input formControlName="coeficienteVarianza" class="form-control" type="number" id="id_coeficienteVarianza"
                            readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblPromedioExtrasAplicables" class="form-label">Promedio de Extras Aplicables</label>
                            <input formControlName="promedioExtrasAplicables" class="form-control" type="number" id="id_promedioExtrasAplicables"
                            readonly />
                        </div>

                    </form>
                </section>


                <section>
                    <div class="contenedor__body">

                        <div *ngIf="listExtrasAplicables">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 20%">Monto Extras</th>
                                        <th style="width: 20%">Desviación Estándar</th>
                                        <th style="width: 20%">Coeficiente de Varianza</th>
                                        <th style="width: 20%">Porcentaje de Extras Aplicables</th>
                                        <th style="width: 20%">Promedio de Extras Aplicables</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let obj of listExtrasAplicables">
        
                                        <td>{{obj.montoExtras}}</td>
                                        <td>{{obj.desviacionEstandar}}</td>
                                        <td>{{obj.coeficienteVarianza}}</td>
                                        <td>{{obj.porcentajeExtrasAplicables}}</td>
                                        <td>{{obj.promedioExtrasAplicables}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>

                <section>   <!-- footer -->
                    <div class="contenedor__footer">
                        <div class="contenedor__footer__prev">
                            <button *ngIf="habilitarBtnSubmitExtras" 
                                    (click)="SubmitFormExtras()" 
                                    class="btn btn-success px-5 " 
                                    mat-flat-button color="primary" > Registrar </button>
                        </div>
                        <div class="contenedor__footer__next"> 
                            <button *ngIf="habilitarBtnFinalizarExtras" 
                                    (click)="FinalizarRegistroExtras()" 
                                    class="btn btn-success px-5 " 
                                    mat-flat-button color="primary" > Finalizar </button>

                            <button *ngIf="habilitarBtnEliminarExtras" 
                                    (click)="EliminarRegistroExtras()" 
                                    class="btn btn-danger px-5 " 
                                    mat-flat-button color="primary" > Eliminar </button>
                        </div>
                    </div>
                </section>

            </div>
        </article> <!-- fin modal -->

        <article class="modal modal-config" id="deduccionesModal"> <!-- inicio modal -->

            <div class="modal-content">

                <section>
                    <div class="modal-header">
                        <div class="contenedor__header-modal">
                            <div class="contenedor__header__prev">
                                <h1 style="color:#1A5276">Registro de Deducciones</h1>
                            </div>
                            <div class="contenedor__header__next">
                                <button style="color:red" type="button" class="close btn-close" (click)="totalizarDeducciones()" >&times;</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <form [formGroup]="formDeducciones" class="row modal-config__formulario-header" >

                        <div class="form-group col-md-3">
                            <label for="lblCodigoTipoDeduccion" class="form-label">Tipo de Deducción</label>
                            <select formControlName="codigoTipoDeduccion" class="form-control" name="selectCodigoTipoDeduccion"
                            [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.codigoTipoDeduccion.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listTiposDeducciones">{{objeto.id}} - {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedDeduccionesForm && d.codigoTipoDeduccion.errors" class="invalid-feedback">
                                <div *ngIf="d.codigoTipoDeduccion.errors.required">El Tipo de Deducciones es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="lblCodigoTipoMoneda" class="form-label">Tipo de Moneda</label>
                            <select formControlName="codigoTipoMoneda" class="form-control" name="selectCodigoTipoMoneda"
                                [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.codigoTipoMoneda.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listTiposMonedas">{{objeto.simbolo}} {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submittedDeduccionesForm && d.codigoTipoMoneda.errors" class="invalid-feedback">
                                <div *ngIf="d.codigoTipoMoneda.errors.required">El Tipo de Moneda es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblTipoCambio" class="form-label">Tipo de Cambio</label>
                            <input formControlName="tipoCambio" class="form-control" type="number" id="id_tipoCambio"
                                [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.tipoCambio.errors }" />
                            <div *ngIf="submittedDeduccionesForm && d.tipoCambio.errors" class="invalid-feedback">
                                <div *ngIf="d.tipoCambio.errors.required">El Tipo de Cambio es requerido</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblMonto" class="form-label">Monto de la Deducción</label>
                            <input formControlName="montoDeduccion" class="form-control" type="number" id="id_montoDeduccion"
                                [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.montoDeduccion.errors }" />
                            <div *ngIf="submittedDeduccionesForm && d.montoDeduccion.errors" class="invalid-feedback">
                                <div *ngIf="d.montoDeduccion.errors.required">El Monto de la Deducción es requerido</div>
                            </div>
                        </div>

                    </form>
                </section>


                <section>
                    <div class="contenedor__body">

                        <div *ngIf="listDeduccionesAnalisis">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 20%">Tipo de Deducción</th>
                                        <th style="width: 20%">Tipo de Moneda</th>
                                        <th style="width: 20%">Tipo de Cambio</th>
                                        <th style="width: 20%">Monto de la Deducción</th>
                                        <th style="width: 10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let obj of listDeduccionesAnalisis">
        
                                        <td>{{obj.codigoTipoDeduccion}}</td>
                                        <td>{{obj.codigoMoneda}}</td>
                                        <td>{{obj.tipoCambio}}</td>
                                        <td>{{obj.monto}}</td>

                                        <td  style="white-space: nowrap">
                                            <div class="item-list">
                                                <a class="item-list__edit" (click)="selectDeduccionAnalisis(obj)"> 
                                                    <mat-icon>visibility</mat-icon>
                                                </a>
                                                <a class="item-list__delete" (click)="deleteDeduccionIngreso(obj)"> 
                                                    <mat-icon>clear</mat-icon>
                                                </a>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>

                <section>   <!-- footer -->
                    <div class="contenedor__footer">
                        <div class="contenedor__footer__prev">
                            <button *ngIf="habilitarBtnRegistraDeduccion"
                                    (click)="SubmitFormDeducciones()"
                                    class="btn btn-success px-5 "
                                    mat-flat-button color="primary" > Registrar </button>
                            <button *ngIf="habilitarBtnActualizaDeduccion"
                                    (click)="ActualizaFormDeducciones()"
                                    class="btn btn-success px-5 "
                                    mat-flat-button color="primary" > Guardar </button>
                        </div>
                        <div class="contenedor__footer__next">
                            <button *ngIf="habilitarBtnFinalizarDeducciones"
                                    (click)="totalizarDeducciones()"
                                    class="btn btn-success px-5 "
                                    mat-flat-button color="primary" > Finalizar </button>
                        </div>
                    </div>
                </section>

            </div>
        </article> <!-- fin modal -->

    </div>
</article>


<div class="col-md-12 mt-5" *ngIf="obligacionesSupervisadas">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Obligaciones Supervisadas  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="oNoSupervisadas">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de O. No Supervisadas  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="lvt">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de LVT  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="escenarios">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Escenarios  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="escenariosFcl">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Escenarios FCL  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

</main>