<main>

<article class="bloq">
    <div class="contenedor mat-elevation-z4">

        <section>
            <div class="contenedor__header">
                <div class="contenedor__header__prev">
    
    
                    <h2 >Consulta de Personas </h2>
    
    
                </div>
                <div class="contenedor__header__next">
    
    
                </div>
            </div>
        </section>

        <section>
            <div class="contenedor__body">

                <form [formGroup]="formPersona" class="row">

                    <div class="form-group col-md-3">
                        <label for="id" class="form-label">Id</label>
                        <input formControlName="id" class="form-control" type="text" id="id_id" readonly />
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="lblIdentificacion" class="form-label">Número de Identificación</label>
                        <input formControlName="identificacion" class="form-control" type="text" id="id_identificacion"
                            [ngClass]="{ 'is-invalid': submittedPersonForm && f.identificacion.errors }" />
                        <div *ngIf="submittedPersonForm && f.identificacion.errors" class="invalid-feedback">
                            <div *ngIf="f.identificacion.errors.required">La identificación es requerida</div>
                        </div>
                    </div>

                    <div class="col-md-3"> </div>

                    <div class="form-group col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input formControlName="nombre" class="form-control" type="text" id="id_nombre"
                            [ngClass]="{ 'is-invalid': submittedPersonForm && f.nombre.errors }" />
                        <div *ngIf="submittedPersonForm && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="primerApellido" class="form-label">Primer Apellido</label>
                        <input formControlName="primerApellido" class="form-control" type="text" id="id_nombre"
                            [ngClass]="{ 'is-invalid': submittedPersonForm && f.primerApellido.errors }" />
                        <div *ngIf="submittedPersonForm && f.primerApellido.errors" class="invalid-feedback">
                            <div *ngIf="f.primerApellido.errors.required">El primer apellido es requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                        <input formControlName="segundoApellido" class="form-control" type="text" id="id_nombre"
                            [ngClass]="{ 'is-invalid': submittedPersonForm && f.segundoApellido.errors }" />
                        <div *ngIf="submittedPersonForm && f.segundoApellido.errors" class="invalid-feedback">
                            <div *ngIf="f.segundoApellido.errors.required">El segundo apellido es requerido</div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-info px-5" (click)="SubmitPerson()">Consultar</button>
                        

                </form>
            </div>
        </section>

        <section>
            <div class="contenedor__footer">
                <div class="contenedor__footer__prev">
                    <!-- <button type="submit" class="btn btn-info px-5" (click)="SubmitPerson()">Consultar</button> -->
                </div>
                <div class="analisis_contenedor__footer__next">
                </div>
            </div>
        </section>

        <section class="sectionmenu">
            <!-- OPCIOINES SUBMENU -->
            <!-- ** // MUESTRA LOS MÓDULOS EN PANTALLA -->
            <div *ngIf="_personaMacred" class="menuitems mat-elevation-z4">

                <div class="menuitems__items" *ngFor="let module of listSubMenu">
                    <p *ngIf="module.estado=='A'" class="menuitems__items__titulo" (click)="selectModule(module)">{{module.nombre}}</p>
                </div>

            </div>
        </section>

        
    </div>

</article>

<section *ngIf="menuItem">
    <div class="selecteditem">
        <p class="selecteditem__titulo">{{menuItem.nombre}}</p>
    </div>
</section>
<!-- <section class="asociado_contenedor__menuselected__section" > -->
<!-- <div class="selecteditem">
    <p class="selecteditem__titulo">Ingresos</p>
</div> -->
<!-- </section> -->

<!-- <div *ngIf="datosAnalisis"> -->
<div *ngIf="datosAnalisis" class="contenedor mat-elevation-z4">
        
    <div class="contenedor__header">
        <div class="contenedor__header__prev">
            <h2 *ngIf="_analisisCapacidadpago">codigo de análisis: {{_analisisCapacidadpago.codigoAnalisis}}</h2>
        </div>
        <div class="contenedor__header__next">
            <button *ngIf="habilitaBtnHistoprialIngreso" class="btn btn-dark px-5 " >
                Historial
            </button>
            <button *ngIf="habilitaBtnRegistroDeudor" class="btn btn-dark px-5 " >
                Nuevo Deudor
            </button>
        </div>
    </div>

    <hr><br>

    <div class="contenedor__body">
        <form [formGroup]="formAnalisis" class="row">
            
            <div class="col-md-3">
                <label for="lblFechaAnalisis" class="form-label">Fecha de Análisis</label>
                <input formControlName="fechaAnalisis" class="form-control" matInput [matDatepicker]="picker" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>

            <div class="form-group col-sm-1 cbxestado">
                <mat-checkbox formControlName="estado" >Estado</mat-checkbox>
            </div>
            <div class="form-group col-sm-1 cbxanalisisDefinitivo">
                <mat-checkbox formControlName="analisisDefinitivo" >Análisis definitivo ?</mat-checkbox>
            </div>

            <div class="col-sm-7"> </div>

            <div class="form-group col-md-6">
                <label for="lblCapacidadPago" class="form-label">Nivel de Capacidad de Pago</label>
                <select formControlName="capacidadPago" class="form-control" name="selectCapacidadPago" readonly >
                        <option [disabled]="true" [ngValue]="objeto" *ngFor="let objeto of listNivelesCapacidadpago">{{objeto.descripcion}}</option>
                </select>
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.capacidadPago.errors" class="invalid-feedback">
                    <div *ngIf="g.capacidadPago.errors.required">El Nivel de Capacidad de Pago es requerido</div>
                </div>
            </div>
            
            <div class="form-group col-md-2">
                <label for="lblPuntajeAnalisis" class="form-label">Puntaje del Análisis</label>
                <input formControlName="puntajeAnalisis" class="form-control" type="text" id="id_puntajeAnalisis"
                readonly />
            </div>
            <div class="form-group col-md-2">
                <label for="lblCalificacionCic" class="form-label">Calificación CIC</label>
                <input formControlName="calificacionCic" class="form-control" type="text" id="id_calificacionCic"
                readonly />
            </div>
            <div class="form-group col-md-2">
                <label for="lblCalificacionFinalCic" class="form-label">Calificación FINAL CIC</label>
                <input formControlName="calificacionFinalCic" class="form-control" type="text" id="id_calificacionFinalCic"
                readonly />
            </div>
            <!-- -- -->
            <div class="form-group col-md-3">
                <label for="lblTipoIngresoAnalisis" class="form-label">Tipo de Ingreso de Análisis</label>
                <select formControlName="tipoIngresoAnalisis" class="form-control" name="selectTipoIngresoAnalisis"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.tipoIngresoAnalisis.errors }" >
                        <option [ngValue]="objeto" *ngFor="let objeto of listTipoIngresoAnalisis">{{objeto.id}} - {{objeto.descripcion}}</option>
                </select>
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.tipoIngresoAnalisis.errors" class="invalid-feedback">
                    <div *ngIf="g.tipoIngresoAnalisis.errors.required">El Tipo de Ingreso es requerido</div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="tipoFormaPagoAnalisis" class="form-label">Forma de Pago de Análisis</label>
                <select formControlName="tipoFormaPagoAnalisis" class="form-control" name="tipoFormaPagoAnalisis"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.tipoFormaPagoAnalisis.errors }" >
                        <option [ngValue]="objeto" *ngFor="let objeto of listTipoFormaPagoAnalisis">{{objeto.id}} - {{objeto.descripcion}}</option>
                </select>
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.tipoFormaPagoAnalisis.errors" class="invalid-feedback">
                    <div *ngIf="g.tipoFormaPagoAnalisis.errors.required">La Forma de Pago es requerida</div>
                </div>
            </div>
            

            <div class="form-group col-md-4">
                <label for="lblModeloAnalisis" class="form-label">Modelo de Análisis</label>
                <select formControlName="modeloAnalisis" class="form-control" name="selectModeloAnalisis"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.modeloAnalisis.errors }" >
                        <option [ngValue]="objeto" *ngFor="let objeto of listModelosAnalisis">{{objeto.id}} - {{objeto.descripcion}}</option>
                </select>
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.modeloAnalisis.errors" class="invalid-feedback">
                    <div *ngIf="g.modeloAnalisis.errors.required">El Modelo de Análisis es requerido</div>
                </div>
            </div>

            <div class="form-group col-md-2">
                <label for="tipoMoneda" class="form-label">Moneda</label>
                <select formControlName="tipoMoneda" class="form-control" name="tipoMoneda"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.tipoMoneda.errors }" >
                        <option [ngValue]="objeto" *ngFor="let objeto of listTiposMonedas">{{objeto.simbolo}} {{objeto.descripcion}}</option>
                </select>
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.tipoMoneda.errors" class="invalid-feedback">
                    <div *ngIf="g.tipoMoneda.errors.required">La Moneda es requerida</div>
                </div>
            </div>


            <div class="form-group col-md-3">
                <label for="lblTipoGenerador" class="form-label">Tipo de Generador</label>
                <select formControlName="tipoGenerador" class="form-control" name="selectTipoGenerador"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.tipoGenerador.errors }" >
                        <option [ngValue]="objeto" *ngFor="let objeto of listTiposGeneradores">{{objeto.codigoGenerador}} - {{objeto.descripcion}}</option>
                </select>
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.tipoGenerador.errors" class="invalid-feedback">
                    <div *ngIf="g.tipoGenerador.errors.required">El Tipo de Generador es requerido</div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="lblIndicadorCsd" class="form-label">Indicador CSD</label>
                <input formControlName="indicadorCsd" class="form-control" type="number" id="id_indicadorcsd"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.indicadorCsd.errors }" />
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.indicadorCsd.errors" class="invalid-feedback">
                    <div *ngIf="g.indicadorCsd.errors.required">El Indicador CSD es requerido</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="lblPonderacionLvt" class="form-label">Ponderación LVT</label>
                <input formControlName="ponderacionLvt" class="form-control" type="text" id="id_ponderacionLvt"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.ponderacionLvt.errors }" />
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.ponderacionLvt.errors" class="invalid-feedback">
                    <div *ngIf="g.ponderacionLvt.errors.required">La ponderación LVT es requerida</div>
                </div>
            </div>

            <div class="form-group col-md-2">
                <label for="lblNumeroDependientes" class="form-label">Número de Dependientes</label>
                <input formControlName="numeroDependientes" class="form-control" type="number" id="id_numeroDependientes"
                    [ngClass]="{ 'is-invalid': submittedDatosAnalisisHeaderForm && g.numeroDependientes.errors }" />
                <div *ngIf="submittedDatosAnalisisHeaderForm && g.numeroDependientes.errors" class="invalid-feedback">
                    <div *ngIf="g.numeroDependientes.errors.required">El Número de Dependientes es requerido</div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <hr>
                <textarea matInput  formControlName="observaciones" 
                                    class="form-control"
                                    id="id_observaciones"
                                    placeholder="Ingrese las observaciones..."></textarea>
                <hr>
            </div>
        </form>
    </div>

    <div class="contenedor__footer">
        <div class="contenedor__footer__prev">
            <button *ngIf="habilitaBtnGeneraNuevoAnalisis" (click)="SubmitNuevoAnalisis()" class="btn btn-success px-5 " >
                Generar </button>
        </div>
        <div class="contenedor__footer__next">
            <!-- *ngIf="habilitaBtnIngreso" -->
            <button  (click)="habilitaFormularioIngreso()" class="btn px-5 btn-info" >
                Ingresos </button>
        </div>
    </div>
</div>


<div class="col-md-12 mt-5" *ngIf="flujoCaja">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Flujo de Caja  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>
<div class="col-md-12 mt-5" *ngIf="pd">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Probability of Default  !</p>
                        </div>

                        <br>
                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="scoring">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Scoring Crediticio  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>








<article class="bloq">
    <div class="contenedor mat-elevation-z4">
    <!-- <div *ngIf="ingresos" class="contenedor mat-elevation-z4"> -->
            
    <section>
        <div class="contenedor__header">
            <div class="contenedor__header__prev">


                <h2 >seccion prev h2</h2>


            </div>
            <div class="contenedor__header__next">


                <button  class="btn btn-dark px-5 " >
                    btn 1
                </button>
                <button  class="btn btn-dark px-5 " >
                    btn 2
                </button>


            </div>
        </div>
    </section>

        <section>
            <div class="contenedor__body">
                <form [formGroup]="formIngresos" class="row">

                    <div class="form-group col-md-3">
                        <label for="lblCodigoTipoIngreso" class="form-label">Tipo de Ingreso</label>
                        <select formControlName="codigoTipoIngreso" class="form-control" name="selectCodigoTipoIngreso"
                        [ngClass]="{ 'is-invalid': submittedIngresosForm && g.codigoTipoIngreso.errors }" >
                                <option [ngValue]="objeto" *ngFor="let objeto of listTiposIngresos">{{objeto.id}} - {{objeto.descripcion}}</option>
                        </select>
                        <div *ngIf="submittedIngresosForm && i.codigoTipoIngreso.errors" class="invalid-feedback">
                            <div *ngIf="i.codigoTipoIngreso.errors.required">El Tipo de Ingreso es requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoBruto" class="form-label">Salario Monto Bruto</label>
                        <input formControlName="montoBruto" class="form-control" type="number" id="id_montoBruto"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoBruto.errors }" />
                        <div *ngIf="submittedIngresosForm && i.montoBruto.errors" class="invalid-feedback">
                            <div *ngIf="i.montoBruto.errors.required">El Salario Monto Bruto es requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoExtras" class="form-label">Monto Extras Aplicables</label>
                        <input formControlName="montoExtras" class="form-control" type="number" id="id_montoExtras"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoExtras.errors }" />
                        <div *ngIf="submittedIngresosForm && i.montoExtras.errors" class="invalid-feedback">
                            <div *ngIf="i.montoExtras.errors.required">Ingrese 0 si no aplican extras</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblPorcentajeExtras" class="form-label">Porcentaje Extras Aplicables</label>
                        <input formControlName="porcentajeExtras" class="form-control" type="number" id="id_porcentajeExtras"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.porcentajeExtras.errors }" />
                        <div *ngIf="submittedIngresosForm && i.porcentajeExtras.errors" class="invalid-feedback">
                            <div *ngIf="i.porcentajeExtras.errors.required">Ingrese 0 si no aplican extras</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="lblCargasSociales" class="form-label">Cargas Sociales</label>
                        <input formControlName="cargasSociales" class="form-control" type="number" id="id_cargasSociales"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.cargasSociales.errors }" />
                        <div *ngIf="submittedIngresosForm && i.cargasSociales.errors" class="invalid-feedback">
                            <div *ngIf="i.cargasSociales.errors.required">Ingrese 0 si no aplican extras</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblImpuestoRenta" class="form-label">Impuesto de Renta</label>
                        <input formControlName="impuestoRenta" class="form-control" type="number" id="id_impuestoRenta"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.impuestoRenta.errors }" />
                        <div *ngIf="submittedIngresosForm && i.impuestoRenta.errors" class="invalid-feedback">
                            <div *ngIf="i.impuestoRenta.errors.required">El impuesto sobre la renta es requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoDeducciones" class="form-label">Monto Deducciones</label>
                        <input formControlName="montoDeducciones" class="form-control" type="number" id="id_montoDeducciones"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoDeducciones.errors }" />
                        <div *ngIf="submittedIngresosForm && i.montoDeducciones.errors" class="invalid-feedback">
                            <div *ngIf="i.montoDeducciones.errors.required">El monto de las deducciones es requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lblMontoNeto" class="form-label">Ingreso Monto Neto</label>
                        <input formControlName="montoNeto" class="form-control" type="number" id="id_montoNeto"
                            [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoNeto.errors }" />
                        <div *ngIf="submittedIngresosForm && i.montoNeto.errors" class="invalid-feedback">
                            <div *ngIf="i.montoNeto.errors.required">El monto neto es requerido</div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section>
            <div class="contenedor__footer">
                <div class="contenedor__footer__prev">


                    <button  class="btn btn-success px-5 " >
                        btn 3 </button>


                </div>
                <div class="contenedor__footer__next">


                    <button  class="btn px-5 btn-info" >
                        btn 4 </button>


                </div>
            </div>
        </section>
    </div>
</article>








<div class="col-md-12 mt-5" *ngIf="obligacionesSupervisadas">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Obligaciones Supervisadas  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="oNoSupervisadas">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de O. No Supervisadas  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="lvt">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de LVT  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="escenarios">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Escenarios  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

<div class="col-md-12 mt-5" *ngIf="escenariosFcl">
    <mat-sidenav-container>
        <div class="asociado_content mat-elevation-z4">
            <main>
                <article>
                    <section >
                        <br>
                        <br>

                        <div >
                            <p >Administración de Escenarios FCL  !</p>
                        </div>
                        <br>

                    </section>
                </article>
            </main>
        </div>
    </mat-sidenav-container>
</div>

</main>