<div class="cont-main-analisis div-borde mat-elevation-z4"
      [ngClass]="{'borde-success': bordeSuccessIngresos,
                  'borde-error': bordeErrorIngresos }">

  <div class="cont-main-analisis__header">
    <div class="header-titles">
      <h1>Información de Ingresos para {{oPersona.nombre}} {{oPersona.primerApellido}}</h1>
      <h2 *ngIf="oAnalisis">Análisis: {{oAnalisis.codigoAnalisis}} </h2>
      <h3 *ngIf="objIngresoSeleccionado">Ingreso Seleccionado: {{objIngresoSeleccionado.id}} </h3>
    </div>

    <div>
      <button *ngIf="habilitaBtnNuevoIngreso"
              (click)="nuevoIngreso()"
              class="btn btn-dark px-4" >
              <i class="fas fa-file-medical"></i> Nuevo Ingreso </button>
    </div>
  </div>

  <div class="cont-analisis__tabletas__body">
    <form [formGroup]="formIngresos" class="row">

      <div class="form-group col-md-3">
        <label for="id_tipoIngreso" class="form-label" >Tipo de Ingreso</label>
        <select id="id_tipoIngreso"
                formControlName="codigoTipoIngreso"
                class="form-control"
                name="selectCodigoTipoIngreso"
                [ngClass]="{ 'is-invalid': submittedIngresosForm && i.codigoTipoIngreso.errors }" >
          <option [ngValue]="objeto"
                  *ngFor="let objeto of listTiposIngresos" > {{objeto.id}} - {{objeto.descripcion}} </option>
        </select>
        <div *ngIf="submittedIngresosForm && i.codigoTipoIngreso.errors" class="invalid-feedback" >
          <div *ngIf="i.codigoTipoIngreso.errors.required"> El Tipo de Ingreso es requerido </div>
        </div>
      </div>

      <div class="col-md-5"></div>
      
      <div class="form-group col-md-2">
        <label for="id_totalMontoAnalisis" class="form-label" >Total Ingreso de Análisis</label>
        <input formControlName="totalMontoAnalisis"
                class="form-control"
                type="number"
                id="id_totalMontoAnalisis"
                readonly />
      </div>

      <div class="form-group col-md-3">
        <label for="id_montoBruto" class="form-label">Salario Monto Bruto</label>
        <input formControlName="montoBruto"
                class="form-control"
                type="number"
                id="id_montoBruto"
                [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoBruto.errors }"/>
        <div *ngIf="submittedIngresosForm && i.montoBruto.errors" class="invalid-feedback" >
          <div *ngIf="i.montoBruto.errors.required">  El Salario Monto Bruto es requerido </div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="id_montoNeto" class="form-label">Salario Monto Neto</label>
        <input formControlName="montoNeto"
                class="form-control"
                type="number"
                id="id_montoNeto"
                [ngClass]="{ 'is-invalid': submittedIngresosForm && i.montoNeto.errors }"/>
        <div *ngIf="submittedIngresosForm && i.montoNeto.errors" class="invalid-feedback" >
          <div *ngIf="i.montoNeto.errors.required"> El monto neto es requerido </div>
        </div>
      </div>

      <div class="col-md-2"></div>
      
      <div class="form-group col-md-2">
        <label for="id_totalIngresoBruto" class="form-label">Total Ingreso Bruto</label>
        <input formControlName="totalIngresoBruto"
                class="form-control"
                type="number"
                id="id_totalIngresoBruto"
                readonly />
      </div>
      
      <div class="form-group col-md-2">
        <label for="id_totalingresoNeto" class="form-label">Total Ingreso Neto</label>
        <input formControlName="totalIngresoNeto"
                class="form-control"
                type="number"
                id="id_totalingresoNeto"
                readonly />
      </div>

      <div class="form-group col-md-3">
        <label for="id_cargasSociales" class="form-label">Cargas Sociales</label>
        <input formControlName="cargasSociales"
                class="form-control"
                type="number"
                id="id_cargasSociales"
                [ngClass]="{ 'is-invalid': submittedIngresosForm && i.cargasSociales.errors }" />
        <div *ngIf="submittedIngresosForm && i.cargasSociales.errors" class="invalid-feedback" >
          <div *ngIf="i.cargasSociales.errors.required"> Ingrese 0 si no aplican extras </div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="id_impuestoRenta" class="form-label">Impuesto de Renta</label>
        <input formControlName="impuestoRenta"
                class="form-control"
                type="number"
                id="id_impuestoRenta"
                [ngClass]="{ 'is-invalid': submittedIngresosForm && i.impuestoRenta.errors }" />
        <div *ngIf="submittedIngresosForm && i.impuestoRenta.errors" class="invalid-feedback" >
          <div *ngIf="i.impuestoRenta.errors.required"> El impuesto sobre la renta es requerido </div>
        </div>
      </div>

      <div class="col-md-2"></div>
      
      <div class="form-group col-md-2">
        <label for="id_totalCargaImpuestos" class="form-label">Total Cargas & Impuestos</label>
        <input formControlName="totalCargaImpuestos"
                class="form-control"
                type="number"
                id="id_totalCargaImpuestos"
                readonly />
      </div>

      <div class="col-md-1"></div>

      <div class="form-group col-md-3">
        <label for="id_montoExtras" class="form-label">Extras Aplicables</label>
        <input formControlName="montoExtras"
                class="form-control"
                type="number"
                id="id_montoExtras"
                readonly />
      </div>
      <div *ngIf="habilitaInputPromedio" class="form-group col-md-3">
        <label for="id_promedioExtras" class="form-label">Promedio</label>
        <input formControlName="promedioExtras"
                class="form-control"
                type="number"
                id="id_promedioExtras"
                readonly />
      </div>

      <div class="col-md-2 margin-open">
        <a *ngIf="habilitaIcoOpenModalExtras" class="item-edit">
          <mat-icon (click)="openExtrasModal()">open_in_new</mat-icon>
        </a>
      </div>

      <div *ngIf="!habilitaInputPromedio" class="col-md-3"></div>

      <div class="form-group col-md-2">
        <label for="id_totalExtrasAplicables" class="form-label">Total Extras Aplicables</label>
        <input formControlName="totalExtrasAplicables"
                class="form-control"
                type="number"
                id="id_totalExtrasAplicables"
                readonly />
      </div>

      <div class="col-md-2"></div>

      <div class="form-group col-md-3">
        <label for="id_montoDeducciones" class="form-label">Monto Deducciones</label>
        <input formControlName="montoDeducciones"
                class="form-control"
                type="number"
                id="id_montoDeducciones"
                readonly />
      </div>
      <div class="col-md-5 margin-open">
        <a *ngIf="habilitaIcoOpenModalDeducciones" class="item-edit" >
          <mat-icon (click)="openDeduccionesModal()" >open_in_new</mat-icon >
        </a>
      </div>
      
      <div class="form-group col-md-2">
        <label for="id_totalDeducciones" class="form-label">Total Deducciones</label>
        <input formControlName="totalDeducciones"
                class="form-control"
                type="number"
                id="id_totalDeducciones"
                readonly />
      </div>
    </form>

    <hr>
  
    <div>
      <div *ngIf="listIngresosAnalisis">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="table__ingresos-analisis__id">Código</th>
              <th class="table__ingresos-analisis__tipo">Tipo de Ingreso</th>
              <th class="table__ingresos-analisis__bruto">Monto Bruto</th>
              <th class="table__ingresos-analisis__neto">Monto Neto</th>
              <th class="table__ingresos-analisis__cargas">Cargas Sociales</th>
              <th class="table__ingresos-analisis__renta">Impuesto Renta</th>
              <th class="table__ingresos-analisis__extras">Extras Aplicables</th>
              <th class="table__ingresos-analisis__deducciones">Deducciones</th>
              <th class="table__ingresos-analisis__ico"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let obj of listIngresosAnalisis"
                (click)="selectIngresoAnalisis(obj)">
              <td class="item-edit table__ingresos-analisis__id__td">{{obj.id}}</td>
              <td class="item-edit table__ingresos-analisis__tipo__td">{{obj.descTipoIngreso}}</td>
              <td class="item-edit table__ingresos-analisis__bruto__td">{{obj.montoBruto}}</td>
              <td class="item-edit table__ingresos-analisis__neto__td">{{obj.montoNeto}}</td>
              <td class="item-edit table__ingresos-analisis__cargas__td">{{obj.cargasSociales}}</td>
              <td class="item-edit table__ingresos-analisis__renta__td">{{obj.impuestoRenta}}</td>
              <td class="item-edit table__ingresos-analisis__extras__td">{{obj.montoExtras}}</td>
              <td class="item-edit table__ingresos-analisis__deducciones__td">{{obj.montoDeducciones}}</td>

              <td class="table__ingresos-analisis__ico__td">
                <div class="margin-icos-list">
                  <a class="item-list-view" 
                    (click)="selectIngresoAnalisis(obj)"> <i class="fa-solid fa-eye"></i> </a>
                  <a class="item-list-delete"
                    (click)="deleteIngreso(obj)" > <i class="fa-solid fa-trash-can"></i> </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="cont-main-analisis__footer">
    <div>
      <button *ngIf="habilitaBtnRegistrarIngreso"
              (click)="postIngreso()"
              class="btn btn-success px-5"
              mat-flat-button
              color="primary" > Registrar </button>
      <button *ngIf="habilitaBtnActualizaIngreso"
              (click)="putIngreso()"
              class="btn btn-success px-5"
              mat-flat-button
              color="primary" > Guardar Cambios </button>
    </div>
    <div>
      <button *ngIf="habilitaBtnPD"
              (click)="handleOnPD()"
              class="btn px-5 btn-info"
              mat-flat-button
              color="primary" > Probability Of Default (PD) </button>
    </div>
  </div>
</div>

<!-- modal extras -->
<div class="modal fade " id="extrasModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content div-borde" 
          [ngClass]="{'borde-success': bordeExtrasSuccess,
                      'borde-error': bordeExtrasError }">

      <div class="modal-header">

        <div class="cont-modal-header">
          <div class="header-titles">
            <h1 *ngIf="oAnalisis">Análisis: {{oAnalisis.codigoAnalisis}}</h1>
            <h2 *ngIf="objIngresoSeleccionado">Ingreso Seleccionado: {{objIngresoSeleccionado.id}}</h2>
            <h3 *ngIf="objExtrasSeleccionado">Código de Extras: {{objExtrasSeleccionado.id}}</h3>
          </div>
          <div>
            <button *ngIf="habilitaBtnLimpiarExtra"
                    (click)="limpiarExtras()"
                    class="btn-new-static" >
                    <i class="fa-solid fa-file-pen"></i> Limpiar </button>
            <button *ngIf="habilitaBtnNewExtra"
                    (click)="nuevoExtras()"
                    class="btn-new" >
                    <i class="fa-solid fa-file-pen"></i> Nuevo </button>
            <button *ngIf="habilitaBtnFinalizarExtra"
                    (click)="finalizaCalculoExtras()"
                    class="btn-put-static" >
                    <i class="fa-solid fa-floppy-disk"></i> Finalizar </button>
            <button *ngIf="habilitaBtnPostExtra"
                    (click)="calcularExtras()"
                    class="btn-post-static" >
                    <i class="fa-solid fa-plus"></i> Registrar </button>
            <button *ngIf="habilitaBtnPutExtra"
                    (click)="putExtras()"
                    class="btn-put" >
                    <i class="fa-solid fa-pen"></i> Actualizar </button>
            <button *ngIf="habilitaBtnDeleteExtra"
                    (click)="deleteExtras()"
                    class="btn-delete" >
                    <i class="fa-solid fa-trash"></i> Eliminar </button>
            <button type="button"
                    class="btn-close position-absolute top-0 end-0 m-2"
                    data-dismiss="modal" aria-label="Close"></button>
          </div>
          
        </div>
      </div>

      <div class="modal-body">

        <form [formGroup]="formExtras" class="row" >
          <div class="form-group col-md-3">
            <label for="id_montoExtra" class="form-label">Monto de las Extras</label >
            <input formControlName="montoExtra"
                    class="form-control"
                    type="number"
                    id="id_montoExtra"
                    [ngClass]="{ 'is-invalid': submittedExtrasForm && e.montoExtra.errors }"/>
            <div *ngIf="submittedExtrasForm && e.montoExtra.errors" class="invalid-feedback" >
              <div *ngIf="e.montoExtra.errors.required"> El Monto de las Extras es requerido </div>
            </div>
          </div>

          <div class="col-md-6"></div>

          <div class="form-group col-md-3">
            <label for="id_sumatoriaExtras" class="form-label">Sumatoria Extras Aplicables</label>
            <input formControlName="sumatoriaExtras"
                    class="form-control"
                    type="number"
                    id="id_sumatoriaExtras"
                    readonly />
          </div>

          <div class="form-group col-md-3">
            <label for="id_porcentajeExtrasAplicable" class="form-label">Porcentaje de Extras Aplicables</label>
            <input formControlName="porcentajeExtrasAplicable"
                    class="form-control"
                    type="number"
                    id="id_porcentajeExtrasAplicable"
                    readonly />
          </div>

          <div class="form-group col-md-3">
            <label for="id_desviacionEstandar" class="form-label">Desviación Estándar</label>
            <input formControlName="desviacionEstandar"
                    class="form-control"
                    type="number"
                    id="id_desviacionEstandar"
                    readonly />
          </div>

          <div class="form-group col-md-3">
            <label for="id_coeficienteVarianza" class="form-label">Coeficiente Varianza</label>
            <input formControlName="coeficienteVarianza"
                    class="form-control"
                    type="number"
                    id="id_coeficienteVarianza"
                    readonly />
          </div>

          <div class="form-group col-md-3">
            <label for="id_promedioExtrasAplicables" class="form-label" >Promedio de Extras Aplicables</label>
            <input formControlName="promedioExtrasAplicables"
                    class="form-control"
                    type="number"
                    id="id_promedioExtrasAplicables"
                    readonly />
          </div>
        </form>

        <div *ngIf="listExtrasAplicables">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="table__extras-aplicables__monto">Monto Extras</th>
                  <th class="table__extras-aplicables__porcentaje">% Extras Aplicables</th>
                  <th class="table__extras-aplicables__desviacion">Desviación Estándar</th>
                  <th class="table__extras-aplicables__coeficiente">Coeficiente de Varianza</th>
                  <th class="table__extras-aplicables__promedio">Promedio de Extras Aplicables</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of listExtrasAplicables">
                  <td class="table__extras-aplicables__monto__td">{{obj.montoExtras}}</td>
                  <td class="table__extras-aplicables__porcentaje__td">{{obj.porcentajeExtrasAplicables}} %</td>
                  <td class="table__extras-aplicables__desviacion__td">{{obj.desviacionEstandar}}</td>
                  <td class="table__extras-aplicables__coeficiente__td">{{obj.coeficienteVarianza}} %</td>
                  <td class="table__extras-aplicables__promedio__td">{{obj.promedioExtrasAplicables}}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="cont-modal-analisis__footer">
          <p class="cont-modal-analisis__footer__info">
            <i class="fas fa-info-circle"></i>
            La cantidad de extras debe de ser menor al parámetro
            MESES_APLICABLES_EXTRAS: {{mesesAplicablesExtras}}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- modal deducciones -->
<div class="modal fade" id="deduccionesModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content div-borde"
          [ngClass]="{'borde-success': bordeDeduccionesSuccess,
                      'borde-error': bordeDeduccionesError }">

      <div class="modal-header">

        <div class="cont-modal-header">
          
          <div class="header-titles">
            <h1 *ngIf="oAnalisis">Análisis: {{oAnalisis.codigoAnalisis}}</h1>
            <h2 *ngIf="objIngresoSeleccionado">Ingreso Seleccionado: {{objIngresoSeleccionado.id}}</h2>
            <h3 *ngIf="objDeduccionSeleccionado">Deduccion: {{objDeduccionSeleccionado.id}}</h3>
          </div>

          <div>
            <button *ngIf="habilitaBtnNewDeducciones"
                    (click)="nuevoDeducciones()"
                    class="btn-new" >
                    <i class="fa-solid fa-file-pen"></i> Nuevo </button>
            <button *ngIf="habilitaBtnRegistraDeduccion"
                    (click)="postDeducciones()"
                    class="btn-post" >
                    <i class="fa-solid fa-plus"></i> Registrar </button>
            <button *ngIf="habilitaBtnActualizaDeduccion"
                    (click)="putDeducciones()"
                    class="btn-put" >
                    <i class="fa-solid fa-pen"></i> Actualizar </button>
            <button type="button"
                    class="btn-close position-absolute top-0 end-0 m-2"
                    data-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <form [formGroup]="formDeducciones" class="row">

          <div class="form-group col-md-4">
            <label for="id_tipoDeduccion" class="form-label">Tipo de Deducción</label>
            <select id="id_tipoDeduccion"
                    formControlName="codigoTipoDeduccion"
                    class="form-control"
                    name="selectCodigoTipoDeduccion"
                    [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.codigoTipoDeduccion.errors }">
              <option [ngValue]="objeto" *ngFor="let objeto of listTiposDeducciones" >
                {{objeto.id}} - {{objeto.descripcion}}
              </option>
            </select>
            <div *ngIf="submittedDeduccionesForm && d.codigoTipoDeduccion.errors" class="invalid-feedback" >
              <div *ngIf="d.codigoTipoDeduccion.errors.required"> El Tipo de Deducciones es requerido </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="id_montoDeduccion" class="form-label" >Monto de la Deducción</label>
            <input formControlName="montoDeduccion"
                    class="form-control"
                    type="number"
                    id="id_montoDeduccion"
                    [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.montoDeduccion.errors }" />
            <div *ngIf="submittedDeduccionesForm && d.montoDeduccion.errors" class="invalid-feedback" >
              <div *ngIf="d.montoDeduccion.errors.required"> El Monto de la Deducción es requerido </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="id_tipoMoneda" class="form-label">Tipo de Moneda</label>
            <select id="id_tipoMoneda"
                    formControlName="codigoTipoMoneda"
                    class="form-control"
                    name="selectCodigoTipoMoneda"
                    [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.codigoTipoMoneda.errors }">
              <option [ngValue]="objeto" *ngFor="let objeto of listTiposMonedas" >
                {{objeto.simbolo}} {{objeto.descripcion}}
              </option>
            </select>
            <div *ngIf="submittedDeduccionesForm && d.codigoTipoMoneda.errors" class="invalid-feedback">
              <div *ngIf="d.codigoTipoMoneda.errors.required"> El Tipo de Moneda es requerido </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="id_tipoCambio" class="form-label">Tipo de Cambio</label>
            <input formControlName="tipoCambio"
                  class="form-control"
                  type="number"
                  id="id_tipoCambio"
                  [ngClass]="{ 'is-invalid': submittedDeduccionesForm && d.tipoCambio.errors }" />
            <div *ngIf="submittedDeduccionesForm && d.tipoCambio.errors" class="invalid-feedback" >
              <div *ngIf="d.tipoCambio.errors.required"> El Tipo de Cambio es requerido </div>
            </div>
          </div>

        </form>
      
        <div *ngIf="listDeduccionesAnalisis">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="table__deducciones__id">Código Deducción</th>
                <th class="table__deducciones__ingreso">Código de Ingreso</th>
                <th class="table__deducciones__tipo">Tipo de Deducción</th>
                <th class="table__deducciones__monto">Monto de la Deducción</th>
                <th class="table__deducciones__moneda">Moneda</th>
                <th class="table__deducciones__cambio">Tipo de Cambio</th>
                <th class="table__deducciones__ico"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of listDeduccionesAnalisis" 
                  (click)="selectDeduccionAnalisis(obj)">
                <td class="item-edit table__deducciones__id__td">{{obj.id}}</td>
                <td class="item-edit table__deducciones__ingreso__td">{{obj.codigoIngreso}}</td>
                <td class="item-edit table__deducciones__tipo__td">{{obj.descTipoIngreso}}</td>
                <td class="item-edit table__deducciones__monto__td">{{obj.monto}}</td>
                <td class="item-edit table__deducciones__moneda__td">{{obj.descTipoMoneda}}</td>
                <td class="item-edit table__deducciones__cambio__td">{{obj.tipoCambio}}</td>
                
                <td class="table__deducciones__ico__td">
                  <div class="margin-icos-list">
                    <a class="item-list-view" 
                      (click)="selectDeduccionAnalisis(obj)"> <i class="fa-solid fa-eye"></i> </a>
                    <a class="item-list-delete"
                      (click)="deleteDeducciones(obj)" > <i class="fa-solid fa-trash-can"></i> </a>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

        <div class="cont-modal-analisis__footer">
          <div class="cont-modal-analisis__footer__prev"> </div>
          <div class="cont-modal-analisis__footer__next"> </div>
        </div>

      </div>
    </div>
    </div>
</div>
