<h1 style="color: #1a5276">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TITLE' | translate }}</h1>
<h4>{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.SUBTITLE' | translate }}</h4>
<a routerLink="{{URLAdministratorPage}}" class="btn btn-light mb-2 mr-3">{{ 'GENERAL.BTN_BACK' | translate }}</a>

<div class="card">
  <div class="card-body">

    <button routerLink="{{urlPageAddEditBusiness}}"
                class="item-list__confirm float-right" 
                mat-icon-button > <mat-icon>add</mat-icon>
    </button>

    <table class="table table-striped">
      <thead>

        <tr>
          <th style="width: 1%"></th>

          <th style="width: 5%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_ID' | translate }}</th>
          <th style="width: 20%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_NAME' | translate }}</th>
          <th style="width: 15%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_TYPE' | translate }}</th>
          <th style="width: 8%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_US_CANT_ADMIN' | translate }}</th>
          <th style="width: 8%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_US_CANT_FUNCTIONAL' | translate }}</th>
          <th style="width: 7%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_MONTHLY_PRICE_SUPPORT' | translate }}</th>
          <th style="width: 7%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_ANNUAL_PRICE_SUPPORT' | translate }}</th>
          <th style="width: 5%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_TECHNICAL_SUPPORT' | translate }}</th>
          <th style="width: 7%">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_PLANES.TBL_APPLICABLE_PERCENTAGE_SUPPORT' | translate }}</th>
          <th style="width: 1%"></th>
        </tr>

      </thead>

      <tbody>

        <!-- <tr *ngFor="let business of listBusiness" 
            class="item-list__list" 
            style="white-space: normal" 
            routerLink="{{urlPageAddEditBusiness}}{{business.id}}" > -->

          <!-- <td class="item-list__edit"> <mat-icon>edit</mat-icon> </td> -->

          <!-- <td>{{business.cedulaJuridica}}</td>
          <td>{{business.nombre}}</td>
          <td>{{business.correoElectronico}}</td>
          <td>{{business.telefono}}</td>
          <td>{{business.mantenimientoReportes ? 'Active': 'In-Active'}}</td> -->

          <!-- <td>
            <button title="Módulos {{business.nombre}}" class="items__btns__list__otro"
                    routerLink="{{urlPageListBusinessModules}}{{business.id}}" >
                    <mat-icon >apps</mat-icon>
            </button>
          </td> -->

        <!-- </tr> -->

        <!-- <tr *ngIf="!listBusiness">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr> -->

        <tr>
          <td colspan="11" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
</div>
