<main class="main-modules">

  <div class="contenido-main">
    
    <div>
      <div>
        <p class="contenido-main__h1">{{ moduleName }}</p>
        <p class="contenido-main__h2">Administración de Entidades Financieras</p>
        <!-- <p class="contenido-main__h2">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_USERS.TITLE' | translate }}</p> -->
      </div>
      <hr>
      <button class="back-ico-one"
              title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
              mat-icon-button 
              (click)="redirectIndexModule()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">  
      <div class="card-body">

        <div>
            <p *ngIf="add" class="contenido-main__h3">Actualización de Entidades Financieras</p>
            <p *ngIf="update" class="contenido-main__h3">Registro de Entidades Financieras</p>
            <!-- <p *ngIf="add" class="contenido-main__h3">{{ 'CONFIGURATION.ADD_EDIT_USER.PARAMETERS_USER' | translate: { nombreCompleto: entidadSeleccionada.nombreCompleto } }}</p>
            <p *ngIf="addEntitie" class="contenido-main__h3">{{ 'CONFIGURATION.ADD_EDIT_USER.REGISTER_USER' | translate }}</p> -->
        </div>

        <hr>

        <!-- ************************** -->
        <!-- ******* FORMULARIO ******* -->
        <!-- ************************** -->
          
        <div class="formulario-izquierdo">
          <div class="formulario-izquierdo__nav">
            <div class="formulario-izquierdo__nav__prev">
              <p class="formulario-izquierdo__nav__prev__tittle">Parametrización de Entidades Financieras</p>
              <!-- <p class="formulario-izquierdo__nav__prev__tittle">{{ 'CONFIGURATION.ADD_EDIT_USER.TITLE' | translate }}</p> -->
            </div>

            <div class="formulario-izquierdo__nav__next">
              <button *ngIf="habilitaBtnNuevo" class="formulario-izquierdo__nav__next__btn-view" 
                    mat-flat-button 
                    (click)="limpiarFormulario()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
            <button *ngIf="habilitaBtnActualiza" class="formulario-izquierdo__nav__next__btn-warn" 
                    mat-flat-button 
                    (click)="actualizar()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
            <button *ngIf="habilitaBtnRegistro" class="formulario-izquierdo__nav__next__btn-ok" 
                    mat-flat-button 
                    (click)="registrar()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
            <button *ngIf="habilitaBtnEliminar" class="formulario-izquierdo__nav__next__btn-delete" 
                    mat-flat-button 
                    (click)="eliminar()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
            </div>
          </div>

          <div class="p-2">
            <form [formGroup]="formObject" class="row">

              <div class="col-sm-6">
                <label for="id_identificacion" class="form-label">Identificación Entidad</label>
                <!-- <label for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</label> -->
                <input  maxlength="300"
                        formControlName="identificacion"
                        class="form-control"
                        type="text"
                        id="id_identificacion"
                        [ngClass]="{'is-invalid': submitForm && f.identificacion.errors}" />
                <div *ngIf="submitForm && f.identificacion.errors" class="invalid-feedback">
                  <div *ngIf="f.identificacion.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="id_descripcion" class="form-label">Nombre Entidad</label>
                <!-- <label for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</label> -->
                <input  maxlength="300"
                        formControlName="descripcion"
                        class="form-control"
                        type="text"
                        id="id_descripcion"
                        [ngClass]="{'is-invalid': submitForm && f.descripcion.errors}" />
                <div *ngIf="submitForm && f.descripcion.errors" class="invalid-feedback">
                  <div *ngIf="f.descripcion.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="id_aliasCic" class="form-label">Alias CIC</label>
                <!-- <label for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</label> -->
                <input  maxlength="300"
                        formControlName="aliasCic"
                        class="form-control"
                        type="text"
                        id="id_aliasCic"
                        [ngClass]="{'is-invalid': submitForm && f.aliasCic.errors}" />
                <div *ngIf="submitForm && f.aliasCic.errors" class="invalid-feedback">
                  <div *ngIf="f.aliasCic.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

              <div class="form-group col-sm-6 margin-icos-mat d-flex justify-content-center">
                  <mat-checkbox formControlName="estado"></mat-checkbox>
              </div>

            </form>
          </div>
        </div>

        <!-- ************************* -->
        <!-- ** OBJETO SELECCIONADO ** -->
        <!-- ************************* -->
              
        <div *ngIf="mostrarLista" class="contenido-main__table">
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                  <th class="contenido-main__table__mef-ico-edit"></th>

                  <th class="contenido-main__table__mef-ident">Identificación</th>
                  <th class="contenido-main__table__mef-desc">Descripción</th>
                  <th class="contenido-main__table__mef-alias">Alias CIC</th>
                  <th class="contenido-main__table__mef-estado">Estado</th>

                  <th class="contenido-main__table__mef-registra">Registra</th>
                  <th class="contenido-main__table__mef-fecha-r">Fecha</th>
                  <th class="contenido-main__table__mef-modifica">Modifica</th>
                  <th class="contenido-main__table__mef-fecha-m">Fecha</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let obj of listObjetos" (click)="seleccionarObjeto(obj)">
        
                <td class="item-list-edit"> <a> <mat-icon>edit</mat-icon> </a> </td>

                <td class="item-list-edit" >{{obj.identificacion}}</td>
                <td class="item-list-edit" >{{obj.descripcion}}</td>
                <td class="item-list-edit" >{{obj.aliasCic}}</td>
                <td class="item-list-edit contenido-main__table__mef-estado__td" >{{obj.estado}}</td>
                <td class="item-list-edit contenido-main__table__mef-registra__td" >{{obj.usuarioCreacion}}</td>
                <td class="item-list-edit contenido-main__table__mef-fecha-r__td" >{{obj.fechaCreacion | date:'dd/MM/yyyy'}}</td>
                <td class="item-list-edit contenido-main__table__mef-modifica__td" >{{obj.usuarioModificacion}}</td>
                <td class="item-list-edit contenido-main__table__mef-fecha-m__td" >{{obj.fechaModificacion | date:'dd/MM/yyyy'}}</td>

              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</main>