<main class="main-modules">
  <div class="contenido-main">

    <div>
      <div>
        <p class="contenido-main__h1">{{ moduleName }}</p>
        <p class="contenido-main__h2">Actividades Económicas</p>
      </div>
      <hr>
      <button class="back-ico-one"
              title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
              mat-icon-button 
              (click)="redirectIndexModule()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">  
      <div class="card-body">

        <div>
            <p *ngIf="add" class="contenido-main__h3">Actualización de Actividades Económicas</p>
            <p *ngIf="update" class="contenido-main__h3">Registro de Actividades Económicas</p>
        </div>

        <hr>

        <div class="formulario-izquierdo">

          <div class="formulario-izquierdo__nav">
            <div class="formulario-izquierdo__nav__prev">
              <p class="formulario-izquierdo__nav__prev__tittle">Parametrización de Actividades Económicas</p>
            </div>

            <div class="formulario-izquierdo__nav__next">
              <button *ngIf="habilitaBtnNuevo" 
                      class="formulario-izquierdo__nav__next__btn-view" 
                      mat-flat-button 
                      (click)="limpiarFormulario()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
              <button *ngIf="habilitaBtnActualiza" 
                      class="formulario-izquierdo__nav__next__btn-warn" 
                      mat-flat-button 
                      (click)="actualizar()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
              <button *ngIf="habilitaBtnRegistro" 
                      class="formulario-izquierdo__nav__next__btn-ok" 
                      mat-flat-button 
                      (click)="registrar()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
              <button *ngIf="habilitaBtnEliminar" 
                      class="formulario-izquierdo__nav__next__btn-delete" 
                      mat-flat-button 
                      (click)="eliminar()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
            </div>
          </div>

          <div class="p-2">
            <form [formGroup]="formObject" class="row tw-py-4">

              <div class="form-group col-sm-10">
                <label for="id_descripcion" class="form-label" >Nombre del tipo de actividad económica</label>
                <input
                  formControlName="descripcion"
                  class="form-control tw-border tw-shadow"
                  type="text"
                  id="id_descripcion"
                  [ngClass]="{ 'is-invalid': submitForm && f.descripcion.errors }" />
                <div *ngIf="submitForm && f.descripcion.errors"
                      class="invalid-feedback" >
                  <div *ngIf="f.descripcion.errors.required">
                    El tipo de actividad es requerida
                  </div>
                </div>
              </div>

              <div class="form-group col-sm-2">
                  <mat-checkbox formControlName="estado"></mat-checkbox>
              </div>
            </form>
          </div>
        </div>

        <div *ngIf="mostrarLista" class="contenido-main__table">
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="contenido-main__table__mtae-ico-edit"></th>

                <th class="contenido-main__table__mtae-desc">Actividad Económica</th>
                <th class="contenido-main__table__mtae-estado">Estado</th>

                <!-- <th class="contenido-main__table__mtae-registra">Registra</th>
                <th class="contenido-main__table__mtae-fecha-r">Fecha</th> -->
                <th class="contenido-main__table__mtae-modifica">Modifica</th>
                <th class="contenido-main__table__mtae-fecha-m">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let modelo of lstActividades" (click)="seleccionarObjeto(modelo)">
                <td class="item-list-edit"> <a> <mat-icon>edit</mat-icon> </a> </td>
                <td class="item-list-edit">{{ modelo.descripcion }}</td>
                <td class="item-list-edit contenido-main__table__mtae-estado__td" *ngIf="modelo.estado == true">Activo</td>
                <td class="item-list-edit contenido-main__table__mtae-estado__td" *ngIf="modelo.estado == false">Inactivo</td>
                <!-- <td class="item-list-edit">{{ modelo.usuarioCreacion }}</td>
                <td class="item-list-edit">{{ modelo.fechaCreacion }}</td> -->
                <td class="item-list-edit">{{ modelo.usuarioModificacion }}</td>
                <td class="item-list-edit">{{ modelo.fechaModificacion }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    
  </div>
</main>