<div class="contenido-main-macred">

    <div>
        <div>
            <p class="contenido-main-macred__h1">{{moduleScreen.descripcion}}</p>
            <p class="contenido-main-macred__h2">Administración de Escenarios de Riesgo</p>
        </div>
        <hr>
        <button class="back-ico-two"
                title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
                mat-icon-button 
                (click)="redirectIndexModule()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">
        <div class="card-body">

            <p class="contenido-main-macred__h3">Escenarios de Riesgo</p>

            <hr>

            <!-- body -->
            <div class="form-list-inline">
                <div class="formulario-izquierdo">

                    <div class="formulario-izquierdo__nav">
                        <div class="formulario-izquierdo__nav__prev" >
                            <p class="formulario-izquierdo__nav__prev__tittle">Mantenimiento de Escenarios de Riesgo</p>
                        </div>

                        <div class="formulario-izquierdo__nav__next" >
                            <button *ngIf="habilitaBtnNuevo" class="formulario-izquierdo__nav__next__btn-view" 
                                    mat-flat-button
                                    (click)="nuevoEscenario()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
                            <button *ngIf="habilitaBtnActualiza" class="formulario-izquierdo__nav__next__btn-warn" 
                                    mat-flat-button
                                    (click)="putEscenario()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                            <button *ngIf="habilitaBtnRegistro" class="formulario-izquierdo__nav__next__btn-ok" 
                                    mat-flat-button
                                    (click)="postEscenario()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                            <button *ngIf="habilitaBtnEliminar" class="formulario-izquierdo__nav__next__btn-delete" 
                                    mat-flat-button
                                    (click)="deleteEscenario()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
                        </div>
                    </div>

                    <div class="p-2">

                        <form [formGroup]="formEscenario" class="row">

                            <div class="form-group col-sm-5">
                                <label for="id_descripcionEscenario" class="form-label">Descripción</label>
                                <input  maxlength="200" 
                                        formControlName="descripcionEscenario" 
                                        class="form-control" 
                                        type="text" 
                                        id="id_descripcionEscenario"
                                        [ngClass]="{ 'is-invalid': submitFormEscenario && f.descripcionEscenario.errors }" />
                                <div *ngIf="submitFormEscenario && f.descripcionEscenario.errors" class="invalid-feedback">
                                    <div *ngIf="f.descripcionEscenario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                <label for="id_modelo" class="form-label">Modelo</label>
                                <select formControlName="modelo" 
                                        class="form-control" 
                                        name="selectVariables"
                                        id="id_modelo"
                                        [ngClass]="{ 'is-invalid': submitFormEscenario && f.modelo.errors }" 
                                        (change)="onChangeEventModelo()">
                                    <option [ngValue]="objeto"
                                            *ngFor="let objeto of listModelosCalificacion">{{objeto.id}} - 
                                                                                {{objeto.descripcion}}</option>
                                </select>
                                <div *ngIf="submitFormEscenario && f.modelo.errors" class="invalid-feedback">
                                    <div *ngIf="f.modelo.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-2 margin-status d-flex justify-content-center">
                                <mat-checkbox formControlName="estadoEscenario"></mat-checkbox>
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div *ngIf="habilitaListaEscenario" class="lista-inline">

                    <div class="lista-inline__nav" >
                        <p class="lista-inline__nav__tittle">Lista de Escenarios de Riesgo</p>
                    </div>

                    <div *ngIf="listEscenarios" class="scroll-table-macred__personas">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="table__escenarios-riesgos__ico"></th>
                                    <th class="table__escenarios-riesgos__desc">Descripción</th>
                                    <th class="table__escenarios-riesgos__estado">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of listEscenarios" (click)="selectEscenario(obj)" >
                                    
                                    <td class="item-edit">
                                        <div> <a> <mat-icon>swap_horiz</mat-icon> </a> </div> </td>

                                    <td class="item-edit">{{obj.descripcion}}</td>
                                    <td *ngIf="obj.estado==true" class="item-edit table__escenarios-riesgos__estado__td">Activo</td>
                                    <td *ngIf="obj.estado==false" class="item-edit table__escenarios-riesgos__estado__td">Inactivo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br>

            <div *ngIf="habilitaFormularioVariable" class="card">
                <div class="card-body">

                    <p class="contenido-main-macred__h3">Estrés de Variables Críticas por Escenarios de Riesgo</p>
                    
                    <hr>

                    <div class="form-list-inline">
                        <div class="formulario-izquierdo__segundo">

                            <div class="formulario-izquierdo__nav">
                                <div class="formulario-izquierdo__nav__prev" >
                                    <p class="formulario-izquierdo__nav__prev__tittle">Mantenimiento de Variables por Escenarios de Riesgo</p>
                                </div>

                                <div class="formulario-izquierdo__nav__next" >
                                    <button *ngIf="habilitaBtnNuevoVariable" class="formulario-izquierdo__nav__next__btn-view" 
                                            mat-flat-button
                                            (click)="nuevaVariableXEscenario()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
                                    <button *ngIf="habilitaBtnActualizaVariable" class="formulario-izquierdo__nav__next__btn-warn" 
                                            mat-flat-button
                                            (click)="putNivelXIndicador()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                                    <button *ngIf="habilitaBtnRegistroVariable" class="formulario-izquierdo__nav__next__btn-ok" 
                                            mat-flat-button
                                            (click)="postVariableXEscenario()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                                    <button *ngIf="habilitaBtnEliminarVariable" class="formulario-izquierdo__nav__next__btn-delete" 
                                            mat-flat-button
                                            (click)="deleteVariableXEscenario()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
                                </div>
                            </div>

                            <div class="p-2">

                                <form [formGroup]="formVariable" class="row">


                                    <div class="form-group col-sm-5">
                                        <label for="id_variableCritica" class="form-label">Variable Crítica</label>
                                        <select formControlName="variableCritica" 
                                                class="form-control" 
                                                name="selectVariable"
                                                id="id_variableCritica"
                                                [ngClass]="{ 'is-invalid': submitFormVariable && i.variableCritica.errors }" 
                                                (change)="onChangeEventVariable()">
                                            <option [ngValue]="objeto"
                                                    *ngFor="let objeto of listVariablesCriticas">{{objeto.id}} - 
                                                                                                    {{objeto.descripcion}}</option>
                                        </select>
                                        <div *ngIf="submitFormVariable && i.variableCritica.errors" class="invalid-feedback">
                                            <div *ngIf="i.variableCritica.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-5">
                                        <label for="id_tipoEstres" class="form-label">Tipo de Estrés</label>
                                        <select formControlName="tipoEstres" 
                                                class="form-control" 
                                                name="selectVariables"
                                                id="id_tipoEstres"
                                                [ngClass]="{ 'is-invalid': submitFormVariable && i.tipoEstres.errors }" 
                                                (change)="onChangeEventTipoEstres()">
                                            <option [ngValue]="objeto"
                                                    *ngFor="let objeto of listTipoEstres">{{objeto.id}} - 
                                                                                            {{objeto.descripcion}}</option>
                                        </select>
                                        <div *ngIf="submitFormVariable && i.tipoEstres.errors" class="invalid-feedback">
                                            <div *ngIf="i.tipoEstres.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-2">
                                        <label for="id_valorEstres" class="form-label">Valor Estrés</label>
                                        <input formControlName="valorEstres" 
                                                class="form-control" 
                                                type="number" 
                                                id="id_valorEstres"  
                                            [ngClass]="{ 'is-invalid': submitFormVariable && i.valorEstres.errors }" />
                                        <div *ngIf="submitFormVariable && i.valorEstres.errors" class="invalid-feedback">
                                            <div *ngIf="i.valorEstres.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <div *ngIf="habilitaListaVariable" class="lista-inline">

                            <div class="lista-inline__nav" >
                                <p class="lista-inline__nav__tittle">Lista de Variables por Escenario de Riesgo: {{objSeleccionadoEscenario.descripcion}}</p>
                            </div>

                            <div class="scroll-table-macred__personas">
                                
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="table__escenarios-riesgos__ico"></th>
                                            <th class="table__escenarios-riesgos__variables__desc">Descripción</th>
                                            <th class="table__escenarios-riesgos__variables__tipoe">Tipo Estrés</th>
                                            <th class="table__escenarios-riesgos__variables__valore">Valor Estrés</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of listVariablesEscenario" (click)="selectVariableEscenario(obj)" >
                                            
                                            <td class="item-edit">
                                                <div> <a> <mat-icon>swap_horiz</mat-icon> </a> </div> </td>

                                            <td class="item-edit">{{obj.descripcionVariable}}</td>
                                            <td class="item-edit table__escenarios-riesgos__variables__tipoe__td">{{obj.descripcionTipoEstres}}</td>
                                            <td class="item-edit table__escenarios-riesgos__variables__valore__td">{{obj.valorEstres}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>