.articulo-generales {

    padding: 1%;
    background-color: var(--color_gris);

    &__contenedor {

        margin: 1% 1% 1% 1%;
        border-radius: 10px;

        // ************
        // ** HEADER **
        &__header {

            padding-bottom: 10px;
            border-bottom: 1px solid rgb(202, 202, 202);

            &__prev {
                width: 50%;

                padding-left: 1%;
                padding-top: 1%;

                display: inline-block;

                &__btns{
                    color: #053254;
                    transition: color 0.2s ease-in-out;

                    &__ok{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #129523;
                            cursor: pointer;
                        }
                    }
                    &__warn{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #F9A01B;
                            cursor: pointer;
                        }
                    }
                    &__new{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #B3B3B3;
                            cursor: pointer;
                        }
                    }
                    &__danger{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #b82424;
                            cursor: pointer;
                        }
                    }
                }
            }
            &__next {
                width: 50%;
                padding: 0.5% 2% 0 0;
                display: inline-block;
                text-align: right;
            }
        }

        // **********
        // ** BODY **
        &__body {
            padding: 1%;
            display: flex;

            &__prev_list{
                background-color: white;

                border-radius: 10px;

                width: 49%;

                display: flex;
                flex-direction: column;

                margin-right: 1%;
            }
            &__prev {

                background-color: #254156;
                color: white;
                width: 50%;
                display: flex;
                flex-direction: column;
                border-radius: 10px;

                &__form {
                    margin-right: 1%;
                    margin-left: 1%;
                    &__header {
                        border-bottom: 1px solid white;

                        &__titulo{
                            color: white;
                            font-size: 1rem;
                            font-weight: 500;
                            @media (max-width: 800px) { font-size: 0.9rem; }
                        }

                        &__prev{
                            width: 50%;
                            padding-left: 2%;
                            display: inline-block;
                            padding-top: 2%;
                            padding-bottom: 0.5%;

                            &__btns{
                                // color: #053254;
                                // transition: color 0.2s ease-in-out;

                                // &__ok{
                                //     margin-left: 0.2%;
                                //     margin-right: 0.2%;
                                //     &:hover {
                                //         color: #129523;
                                //         cursor: pointer;
                                //     }
                                // }
                                // &__warn{
                                //     margin-left: 0.2%;
                                //     margin-right: 0.2%;
                                //     &:hover {
                                //         color: #F9A01B;
                                //         cursor: pointer;
                                //     }
                                // }
                                // &__new{
                                //     margin-left: 0.2%;
                                //     margin-right: 0.2%;
                                //     &:hover {
                                //         color: #005188;
                                //         cursor: pointer;
                                //     }
                                // }
                                // &__danger{
                                //     margin-left: 0.2%;
                                //     margin-right: 0.2%;
                                //     &:hover {
                                //         color: #b82424;
                                //         cursor: pointer;
                                //     }
                                // }
                                &__otro{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #00AEEF;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &__next {
                            width: 50%;
                            padding-right: 2%;
                            padding-top: 1%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                }
                &__list {

                    &__header {

                        &__titulo{
                            color: #053254;
                        }

                        &__prev {

                            width: 90%;
                            padding-left: 1%;
                            display: inline-block;
                            text-align: left;
                            padding-top: 1%;

                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;

                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #129523;
                                        cursor: pointer;
                                    }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #F9A01B;
                                        cursor: pointer;
                                    }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #B3B3B3;
                                        cursor: pointer;
                                    }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #b82424;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &__next {
                            width: 10%;

                            padding-right   : 2%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{
                        width: 100%;
                    }
                }

            }
            &__next_list {
                background-color: white;

                border-radius: 10px;

                width: 49%;

                display: flex;
                flex-direction: column;

                margin-left: 1%;
            }
            &__next {
                // background-color: white;
                // border-radius: 10px;
                width: 50%;
                display: flex;
                flex-direction: column;

                &__list {
                    &__header {

                        &__titulo{ color: #053254; }

                        &__prev {

                            width: 90%;
                            padding-left: 1%;
                            display: inline-block;
                            text-align: left;
                            padding-top: 1%;

                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;

                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #129523;
                                        cursor: pointer;
                                    }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #F9A01B;
                                        cursor: pointer;
                                    }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #B3B3B3;
                                        cursor: pointer;
                                    }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #b82424;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &__next {
                            width: 10%;
                            display: inline-block;
                        }
                    }
                    // &__content{
                    //     width: 100%;
                    // }
                }
            }
            &__complete{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
        }
        // ************
        // ** FOOTER **
        &__footer {

            border-top: 1px solid rgb(202, 202, 202);
            &__prev {
                width: 50%;
                padding: 1% 0 0.5% 2%;
                display: inline-block;
                text-align: left;
            }
            &__next {
                width: 50%;
                padding: 1% 2% 0.5% 0;
                display: inline-block;
                text-align: right;
            }
        }
    }
}

.margin-icos-mat {
    padding-top: 35px;
}

.flexCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: self-end;
  padding: 0px;
}
