<main class="tw-flex-col">
  <!-- MODELOS -->
  <section class="tw-flex">
    <article class="tw-m-2 tw-my-6 tw-w-1/4">
      <div class="tw-border tw-shadow tw-rounded-lg tw-shadow">
        <section>
          <!-- header -->
          <div class="contenedor__header">
            <div class="contenedor__header__prev">
              <h2>Crear indicador</h2>
            </div>
            <div class="contenedor__header__next"></div>
          </div>
        </section>

        <section>
          <!-- body -->
          <div class="contenedor__body">
            <form [formGroup]="formIndicadoresRelevantes" class="row">
              <div class="form-group col-md-12">
                <label for="id" class="form-label">Código</label>
                <input formControlName="codigoIndicador" class="form-control tw-border tw-shadow" type="text" id="id_codigoIndicador" readonly />
              </div>

              <div class="form-group col-md-12">
                <label for="lbldescripcion" class="form-label">Descripción</label>
                <input
                  formControlName="descripcion"
                  class="form-control tw-border tw-shadow"
                  type="text"
                  id="id_descripcion"
                  [ngClass]="{
                    'is-invalid': submittedIndicadoresRelevantes && f.descripcion.errors
                  }"
                />
                <div *ngIf="submittedIndicadoresRelevantes && f.descripcion.errors" class="invalid-feedback">
                  <div *ngIf="f.descripcion.errors.required">La descripción es requerida</div>
                </div>
              </div>

              <div class="form-group col-md-12 tw-flex tw-items-center">
                <label for="estado" class="form-label">Estado</label>
                <input type="checkbox" class="tw-w-6 tw-h-6 tw-mx-2" formControlName="estado" />
                <div *ngIf="submittedIndicadoresRelevantes && f.estado.errors" class="invalid-feedback">
                  <div *ngIf="f.estado.errors.required">El estado debe estar definido</div>
                </div>
              </div>

              <div class="col-md-3 tw-my-2">
                <a class="btn btn-sm tw-border-2 tw-border-green-600" matTooltip="Añadir" (click)="handleCrearIndicadorRelevante()">
                  <i class="fa fa-plus tw-text-green-600"></i>
                </a>
              </div>
            </form>
          </div>
        </section>
      </div>
    </article>

    <article class="tw-m-2 tw-my-6 tw-flex-1">
      <div class="tw-border tw-shadow tw-rounded-lg tw-shadow">
        <section>
          <!-- header -->
          <div class="contenedor__header">
            <div class="contenedor__header__prev">
              <h2>Lista de Indicadores Relevantes</h2>
            </div>
            <div class="contenedor__header__next"></div>
          </div>
        </section>

        <section>
          <!-- body -->
          <div class="contenedor__body">
            <!-- *************** -->
            <mat-sidenav-container>
              <div class="content mat-elevation-z4 tblContenido">
                <main>
                  <article>
                    <section class="content__menu">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 40%">Nombre</th>
                            <th style="width: 15%">Usuario Crea</th>
                            <th style="width: 15%">Usuario Modifica</th>
                            <th style="width: 15%">Estado</th>
                            <th style="width: 15%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let modelo of lstIndicadoresRelevantes">
                            <td>{{ modelo.descripcion }}</td>
                            <td>{{ modelo.usuarioCreacion }}</td>
                            <td>{{ modelo.usuarioModificacion }}</td>
                            <td *ngIf="modelo.estado == true">Activo</td>
                            <td *ngIf="modelo.estado == false">Inactivo</td>
                            <td style="white-space: nowrap">
                              <a (click)="handleSeleccionarIndicadorRelevante(modelo)" class="btn btn-sm tw-border-2 tw-border-cyan-600" matTooltip="Seleccionar el indicador">
                                <i class="fa fa-check tw-text-cyan-600"></i>
                              </a>
                              <a (click)="handleEditarIndicadorRelevante(modelo)" style="margin-left: 5%" class="btn btn-sm tw-border-2 tw-border-blue-600" matTooltip="Editar el modelo">
                                <i class="fa fa-edit tw-text-blue-600"></i>
                              </a>
                              <a (click)="handleEliminarIndicadorRelevante(modelo)" style="margin-left: 5%" class="btn btn-sm tw-border-2 tw-border-red-600" matTooltip="Eliminar">
                                <i class="fa fa-trash tw-text-red-600"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </article>
                </main>
              </div>
            </mat-sidenav-container>
            <!-- *************** -->
          </div>
        </section>
      </div>
    </article>
  </section>

  <!-- NIVELES POR INDICADOR -->
  <section class="tw-flex" *ngIf="mostrarSectionNivel">
    <article class="tw-m-2 tw-my-6 tw-w-1/4">
      <div class="tw-border tw-shadow tw-rounded-lg tw-shadow">
        <section>
          <!-- header -->
          <div class="contenedor__header">
            <div class="contenedor__header__prev">
              <h2>Crear nivel al indicador</h2>
            </div>
            <div class="contenedor__header__next"></div>
          </div>
        </section>

        <section>
          <!-- body -->
          <div class="contenedor__body">
            <form [formGroup]="formNivelesPorIndicador" class="row">
              <div class="form-group col-md-12">
                <label for="id_CodNivel" class="form-label">Nivel:</label>
                <mat-select
                  formControlName="CodNivel"
                  id="id_CodNivel"
                  class="tw-border-solid tw-border tw-border-black tw-p-2 tw-mb-2"
                  [ngClass]="{
                    'is-invalid': submittedNivelPorIndicador && n.CodNivel.errors
                  }"
                  required
                  *ngIf="habilitarComboNiveles"
                >
                  <mat-option *ngFor="let variable of lstNivelesCapacidadPago" [value]="variable.id">
                    {{ variable.descripcion }}
                  </mat-option>
                </mat-select>
                <p *ngIf="!habilitarComboNiveles">{{ obtenerNombreNivel(n.CodNivel.value) }}</p>

                <div *ngIf="submittedNivelPorIndicador && n.CodNivel.errors" class="invalid-feedback">
                  <div *ngIf="n.CodNivel.errors.required">El nivel es requerido</div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="id_RangoInicial" class="form-label">Rango inicial</label>
                <input
                  formControlName="RangoInicial"
                  class="form-control tw-border tw-shadow"
                  type="text"
                  id="id_RangoInicial"
                  [ngClass]="{
                    'is-invalid': submittedNivelPorIndicador && n.RangoInicial.errors
                  }"
                />
                <div *ngIf="submittedNivelPorIndicador && n.RangoInicial.errors" class="invalid-feedback">
                  <div *ngIf="n.RangoInicial.errors.required">El rango inicial es requerido</div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="id_RangoFinal" class="form-label">Rango final</label>
                <input
                  formControlName="RangoFinal"
                  class="form-control tw-border tw-shadow"
                  type="text"
                  id="id_RangoFinal"
                  [ngClass]="{
                    'is-invalid': submittedNivelPorIndicador && n.RangoFinal.errors
                  }"
                />
                <div *ngIf="submittedNivelPorIndicador && n.RangoFinal.errors" class="invalid-feedback">
                  <div *ngIf="n.RangoFinal.errors.required">El rango inicial es requerido</div>
                </div>
              </div>

              <div class="col-md-3 tw-my-2">
                <a class="btn btn-sm tw-border-2 tw-border-green-600" matTooltip="Añadir" (click)="handleAsociarNivelPorIndicador()">
                  <i class="fa fa-plus tw-text-green-600"></i>
                </a>
              </div>
            </form>
          </div>
        </section>
      </div>
    </article>

    <article class="tw-m-2 tw-my-6 tw-flex-1">
      <div class="tw-border tw-shadow tw-rounded-lg tw-shadow">
        <section>
          <!-- header -->
          <div class="contenedor__header">
            <div class="contenedor__header__prev">
              <h2>Lista de Niveles por Indicador</h2>
            </div>
            <div class="contenedor__header__next">
              {{ indicadorRelevanteSeleccionado.descripcion }}
            </div>
          </div>
        </section>

        <section>
          <!-- body -->
          <div class="contenedor__body">
            <!-- *************** -->
            <mat-sidenav-container>
              <div class="content mat-elevation-z4 tblContenido">
                <main>
                  <article>
                    <section class="content__menu">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 40%">Nivel</th>
                            <th style="width: 20%">Rango Inicial</th>
                            <th style="width: 20%">Rango Final</th>
                            <th style="width: 20%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let modelo of lstNivelesxIndicador">
                            <td>{{ obtenerNombreNivel(modelo.codNivel) }}</td>
                            <td>{{ modelo.rangoInicial }}</td>
                            <td>{{ modelo.rangoFinal }}</td>
                            <td style="white-space: nowrap">
                              <a (click)="handleActualizarNivelPorIndicador(modelo)" style="margin-left: 5%" class="btn btn-sm tw-border-2 tw-border-blue-600" matTooltip="Editar el modelo">
                                <i class="fa fa-edit tw-text-blue-600"></i>
                              </a>
                              <a (click)="handleEliminarNivelPorIndicador(modelo)" style="margin-left: 5%" class="btn btn-sm tw-border-2 tw-border-red-600" matTooltip="Eliminar">
                                <i class="fa fa-trash tw-text-red-600"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </article>
                </main>
              </div>
            </mat-sidenav-container>
            <!-- *************** -->
          </div>
        </section>
      </div>
    </article>
  </section>
</main>
