<header class="header">
    <div class="header__logo">
        <a routerLink="/">
            <img class="header__img" src="./assets/images/inra/img_bankap_logo.png" alt="Bankapp - Selección Compañía">
        </a>
        <alert class="alertMessage"></alert>
    </div>
</header>

<!-- ====================== -->
<!-- Contenedor de la aplicación -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <router-outlet></router-outlet>
</div>


<!-- ====================== -->
<!-- ====================== -->

<!-- <footer class="footer">
    <p class="footer__compra">Compra: $ 615.00</p>
    <p class="footer__venta">Venta: $ 620.00</p>
</footer> -->