<header class="head">
    <div class="head__logo">
        <a routerLink="/">
            <img routerLink="/" class="head__img" src="./assets/images/inra/img_bankap_logo.png" alt="Logo principal Bankapp">
        </a>
    </div>
</header>

<!-- ====================== -->
<!-- Contenedor de la aplicación -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
<!-- ====================== -->
<!-- ====================== -->

<footer class="footer">
    <p class="footer__compra">Compra: $ 615.00</p>
    <p class="footer__venta">Venta: $ 620.00</p>
</footer>