<main>
    <article class="alerta">
        <section>
            <div class="alerta__messaje">
                <alert></alert>
            </div>
        </section>
    </article>

    <article>
        <div class="app-container" [ngClass]="{ 'bg-light': user }">
            <router-outlet></router-outlet>
        </div>
    </article>

    <article *ngIf="tc" class="contenidoTipoCambio">
        <aside class="tipoCambio">
            <span class="textoTipoCambio">US$ Compra: {{vcompra}}</span>
            <span class="textoTipoCambio">US$ Venta: {{vventa}}</span>

            <!-- <span class="textoTipoCambio">US$ Compra: 615.00</span>
            <span class="textoTipoCambio">US$ Venta: 628.00</span> -->
            <!-- <span class="textoTipoCambio">€ Compra: 716.97</span>
            <span class="textoTipoCambio">€ Venta: 758.96</span> -->
        </aside>
    </article>
    

</main>