<main>

    <article class="bloq">
        <div class="contenedor mat-elevation-z4">

            <section>   <!-- header -->
                <div class="contenedor__header">                    
                    <div class="contenedor__header__prev">
                        <h2 >Lista de Estados Civiles </h2>
                    </div>
                    <div class="contenedor__header__next">  </div>
                </div>
            </section>

            <section>   <!-- body -->
                <div class="contenedor__body">
                    <!-- *************** -->
                    <mat-sidenav-container *ngIf="showList">
                            
                        <div class="content mat-elevation-z4">
                            <main>
                                
                                  
                    
                                <!--<h1 style="color:#1A5276;margin-top: 2%;">Personas</h1>-->
                                
                                <article>
                                    <section class="content__menu">
                            
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%">Código</th>
                                                    <th style="width: 12%">Valor 1</th>
                                                    <th style="width: 12%">Valor 2</th>
                                                    <th style="width: 12%">Valor 3</th>
                                                    <th style="width: 12%">Valor 4</th>
                                                    <th style="width: 12%">Valor 5</th>
                                                    <th style="width: 12%">Encriptado</th>
                                                    <th style="width: 10%">
                                                        <a style="margin-top: 3%;" class="btn btn-sm btn-outline-success float-left" matTooltip="Nuevo">
                                                        <i class="fa fa-plus" aria-hidden="true" (click)="addParametroGeneral()"></i></a> 
                                                    </th>
                                                </tr>
                                            </thead>
                    
                                            <tbody>
                                                <tr *ngFor="let parametroGeneral of listParametrosGenerales">
                                                    <td>{{parametroGeneral.codigoParametro}}</td>
                                                    <td>{{parametroGeneral.valor1}}</td>
                                                    <td>{{parametroGeneral.valor2}}</td>
                                                    <td>{{parametroGeneral.valor3}}</td>
                                                    <td>{{parametroGeneral.valor4}}</td>
                                                    <td>{{parametroGeneral.valor5}}</td>
                                                    <td *ngIf="parametroGeneral.encriptado==true">Activo</td>
                                                    <td *ngIf="parametroGeneral.encriptado==false">Inactivo</td>
                                                    <td style="white-space: nowrap">
                    
                                                        <a style="margin-right: 5%;" (click)="editParametroGeneral(parametroGeneral)" class="btn btn-sm btn-outline-info" matTooltip="Editar">
                                                            <i class="fa fa-edit"></i> </a>
                                                    
                                                        <a style="margin-left: 5%;" (click)="deleteParametroGeneral(parametroGeneral.id)" class="btn btn-sm btn-outline-danger" matTooltip="Eliminar">
                                                            <i class="fa fa-trash"></i> </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                    
                                    </section>
                                </article>
                            </main>
                        </div>
                    </mat-sidenav-container>
                    
                    <!-- *************** -->
                </div>
            </section>

            <section> <!-- footer -->
                <div class="contenedor__footer">
                    <section class="sectionmenu">
                        <div class=" mat-elevation-z4">
            
                            
                        </div>
                    </section>

                </div>
            </section>

        </div>
    </article>
</main>


<article class="modal modal-config" id="parametroGeneralModal">

    <div class="modal-content">

        <section>
            <div class="contenedor__header-modal" >
                <div class="contenedor__header__prev">
                    <h1 style="color:#1A5276">Registro de Parámetro General</h1>
                </div>
                <div class="contenedor__header__next">
                    <button  style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                </div>
            </div>
        </section>


        <section>

            <div class="contenedor__body">

                <form [formGroup]="formParametroGeneral" class="row modal-config__formulario-body" >
                    
                    <div class="form-group col-md-3">
                        <label for="codigoParametro" class="form-label">Código</label>
                        <input formControlName="codigoParametro" class="form-control" type="text" id="id_codigo_parametro_general"
                            [ngClass]="{ 'is-invalid': submitted && f.codigoParametro.errors }" />
                        <div *ngIf="submitted && f.codigoParametro.errors" class="invalid-feedback">
                            <div *ngIf="f.codigoParametro.errors.required">El código del parámetro es requerido.</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="valor1" class="form-label">Valor 1</label>
                        <input formControlName="valor1" class="form-control" type="text" id="id_valor1_parametro_general" 
                            [ngClass]="{ 'is-invalid': submitted && f.valor1.errors }" />
                        <div *ngIf="submitted && f.valor1.errors" class="invalid-feedback">
                            <div *ngIf="f.valor1.errors.required">El valor 1 es requerido.</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="valor2" class="form-label">Valor 2</label>
                        <input formControlName="valor2" class="form-control" type="text" id="id_valor2_parametro_general" 
                            [ngClass]="{ 'is-invalid': submitted && f.valor1.errors }" />
                        <div *ngIf="submitted && f.valor2.errors" class="invalid-feedback">
                            <div *ngIf="f.valor2.errors.required">El valor 2 es requerido.</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="valor3" class="form-label">Valor 3</label>
                        <input formControlName="valor3" class="form-control" type="text" id="id_valor3_parametro_general" 
                            [ngClass]="{ 'is-invalid': submitted && f.valor3.errors }" />
                        <div *ngIf="submitted && f.valor3.errors" class="invalid-feedback">
                            <div *ngIf="f.valor3.errors.required">El valor 3 es requerido.</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="valor4" class="form-label">Valor 4</label>
                        <input formControlName="valor4" class="form-control" type="text" id="id_valor4_parametro_general" 
                            [ngClass]="{ 'is-invalid': submitted && f.valor4.errors }" />
                        <div *ngIf="submitted && f.valor4.errors" class="invalid-feedback">
                            <div *ngIf="f.valor4.errors.required">El valor 4 es requerido.</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="valor5" class="form-label">Valor 5</label>
                        <input formControlName="valor5" class="form-control" type="text" id="id_valor5_parametro_general" 
                            [ngClass]="{ 'is-invalid': submitted && f.valor5.errors }" />
                        <div *ngIf="submitted && f.valor5.errors" class="invalid-feedback">
                            <div *ngIf="f.valor5.errors.required">El valor 5 es requerido.</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-1 margin-icos-mat margin-icos-mat__cbx">
                        <mat-checkbox formControlName="encriptado">Encriptado</mat-checkbox>
                    </div>

                </form>

            </div>
        </section>

        <section>   
            <div class="contenedor__footer">
                <div class="contenedor__footer__prev">
                    <button  class="btn btn-success px-5" (click)="guardarParametroGeneral()">
                        Registrar </button>
                </div>
                <div class="contenedor__footer__next"> </div>
            </div>
        </section>

    </div>

</article>
