<div class="cont-main-analisis div-borde mat-elevation-z4"
      [ngClass]="{'borde-success': bordeSuccessFCL,
                  'borde-error': bordeErrorFCL }">

    <div class="cont-main-analisis__header">
      <div class="header-titles">
        <h1>Información de FCL para {{oPersona.nombre}} {{oPersona.primerApellido}}</h1>
        <h2 *ngIf="oAnalisis">Análisis: {{oAnalisis.codigoAnalisis}} </h2>
      </div>

      <div>
        <button *ngIf="habilitaBtnEditar"
                (click)="habilitaEditarFormulario()"
                class="btn btn-dark px-4" >
                <i class="fa-solid fa-pen-to-square"></i> Editar FCL </button>
        <button *ngIf="habilitaBtnEliminar"
                (click)="delete()"
                class="btn btn-danger px-4" >
                <i class="fa-solid fa-trash"></i> Eliminar FCL </button>
      </div>
    </div>

    <div class="cont-analisis__tabletas__body">
      <form [formGroup]="formularioFCL" class="row">

        <div class="row fcl_container">

          <section class="fcl_card col-sm-12">
            <aside class="fcl_header"><p class="fcl_title">Parámetros FCL</p></aside>

            <div class="row">

              <!-- actividadEconomica -->
              <div class="form-group col-sm-6">
                <label for="id_actividadEconomica" class="form-label">Actividad Económica</label>
                <select id="id_actividadEconomica"
                        formControlName="actividadEconomica"
                        class="form-control"
                        name="selectactividadEconomica"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.actividadEconomica.errors}" >
                  <option *ngFor="let actividad of lstTiposActividadEconomica"
                          [value]="actividad.codActividadEconomica"> {{ actividad.descripcion }} </option>
                </select>
                <div *ngIf="submittedFCLForm && j.actividadEconomica.errors" class="invalid-feedback" >
                  <div *ngIf="j.actividadEconomica.errors.required"> La actividad económica es requerida </div>
                </div>
              </div>

              <!-- proyeccionMeses -->
              <div class="form-group col-sm-3">
                <label for="id_proyeccionMeses" class="form-label" >Proyección en Meses</label>
                <input formControlName="proyeccionMeses"
                        class="form-control"
                        type="number"
                        id="id_proyeccionMeses"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.proyeccionMeses.errors}" />
                <div *ngIf="submittedFCLForm && j.proyeccionMeses.errors" class="invalid-feedback">
                  <div *ngIf="j.proyeccionMeses.errors.required"> La proyección es requerida </div>
                </div>
              </div>

              <!-- ajusteSalario -->
              <div class="form-group col-sm-3">
                <label for="id_ajusteSalario" class="form-label" >Ajuste de Salario</label>
                <input formControlName="ajusteSalario"
                        class="form-control"
                        type="number"
                        id="id_ajusteSalario"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.ajusteSalario.errors}" />
                <div *ngIf="submittedFCLForm && j.ajusteSalario.errors" class="invalid-feedback" >
                  <div *ngIf="j.ajusteSalario.errors.required"> El ajuste es requerido </div>
                </div>
              </div>

            </div>
          </section>

          <section class="fcl_card col-sm-4">
            <aside class="fcl_header"><p class="fcl_title">Efectivo Inicial</p></aside>
            <div class="form-group">
              <label for="id_flujoEfectivoInicial" class="form-label">Flujo de Efectivo Inicial</label>
              <input formControlName="flujoEfectivoInicial"
                    class="form-control"
                    type="number"
                    id="id_flujoEfectivoInicial"
                    [ngClass]="{'is-invalid': submittedFCLForm && j.flujoEfectivoInicial.errors}" />
              <div *ngIf="submittedFCLForm && j.flujoEfectivoInicial.errors" class="invalid-feedback">
                <div *ngIf="j.flujoEfectivoInicial.errors.required">El flujo de efectivo es requerido</div>
              </div>
            </div>
          </section>

          <section class="fcl_card col-sm-4">
            <aside class="fcl_header"><p class="fcl_title">Capital de Trabajo</p></aside>
            <div class="form-group">
              <label for="id_requerimientoCT" class="form-label">Requerimiento de Capital de Trabajo</label>
              <input formControlName="requerimientoCT"
                    class="form-control"
                    type="number"
                    id="id_requerimientoCT"
                    [ngClass]="{'is-invalid': submittedFCLForm && j.requerimientoCT.errors}" />
              <div *ngIf="submittedFCLForm && j.requerimientoCT.errors" class="invalid-feedback">
                <div *ngIf="j.requerimientoCT.errors.required">El Requerimiento CT es requerido</div>
              </div>
            </div>
          </section>

          <section class="fcl_card col-sm-4">
            <aside class="fcl_header"><p class="fcl_title">Ingresos</p></aside>
            <div class="form-group">
              <label for="id_ingresosMensuales" class="form-label">Ingresos Mensuales de la Actividad</label>
              <input formControlName="ingresosMensuales"
                    class="form-control"
                    type="number"
                    id="id_ingresosMensuales"
                    [ngClass]="{'is-invalid': submittedFCLForm && j.ingresosMensuales.errors}" />
              <div *ngIf="submittedFCLForm && j.ingresosMensuales.errors" class="invalid-feedback">
                <div *ngIf="j.ingresosMensuales.errors.required">Ingresos mensuales es requerido</div>
              </div>
            </div>
          </section>

          <section class="fcl_card col-sm-12">
            <aside class="fcl_header"><p class="fcl_title">Otros Ingresos y Gastos</p></aside>

            <div class="row">

              <!-- ingsIngresosIndirectos -->
              <div class="form-group col-sm-3">
                <label for="id_ingsIngresosIndirectos" class="form-label">Ingresos Indirectos</label>
                <input formControlName="ingsIngresosIndirectos"
                        class="form-control"
                        type="number"
                        id="id_ingsIngresosIndirectos"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.ingsIngresosIndirectos.errors}" />
                <div *ngIf="submittedFCLForm && j.ingsIngresosIndirectos.errors" class="invalid-feedback">
                  <div *ngIf="j.ingsIngresosIndirectos.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- ingsMejoradorCrediticio -->
              <div class="form-group col-sm-3">
                <label for="id_ingsMejoradorCrediticio" class="form-label">Mejorador Crediticio</label>
                <input formControlName="ingsMejoradorCrediticio"
                        class="form-control"
                        type="number"
                        id="id_ingsMejoradorCrediticio"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.ingsMejoradorCrediticio.errors}" />
                <div *ngIf="submittedFCLForm && j.ingsMejoradorCrediticio.errors" class="invalid-feedback" >
                  <div *ngIf="j.ingsMejoradorCrediticio.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- ingsAporteEfectivo -->
              <div class="form-group col-sm-3">
                <label for="id_ingsAporteEfectivo" class="form-label" >Aporte en Efectivo</label>
                <input formControlName="ingsAporteEfectivo"
                        class="form-control"
                        type="number"
                        id="id_ingsAporteEfectivo"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.ingsAporteEfectivo.errors}" />
                <div *ngIf="submittedFCLForm && j.ingsAporteEfectivo.errors" class="invalid-feedback">
                  <div *ngIf="j.ingsAporteEfectivo.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- ingsGastosIndirectos -->
              <div class="form-group col-sm-3">
                <label for="id_ingsGastosIndirectos" class="form-label">Gastos Indirectos</label>
                <input formControlName="ingsGastosIndirectos"
                        class="form-control"
                        type="number"
                        id="id_ingsGastosIndirectos"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.ingsGastosIndirectos.errors}" />
                <div *ngIf="submittedFCLForm && j.ingsGastosIndirectos.errors"class="invalid-feedback">
                  <div *ngIf="j.ingsGastosIndirectos.errors.required"> El dato es requerido </div>
                </div>
              </div>

            </div>
          </section>

          <section class="fcl_card col-sm-12">
            <aside class="fcl_header"><p class="fcl_title">Gastos</p></aside>

            <div class="row">

              <!-- gastosNegocio -->
              <div class="form-group col-sm-6">
                <label for="lblgastosNegocio" class="form-label">Del Negocio</label>
                <input formControlName="gastosNegocio"
                        class="form-control"
                        type="number"
                        id="id_gastosNegocio"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.gastosNegocio.errors}" />
                <div *ngIf="submittedFCLForm && j.gastosNegocio.errors" class="invalid-feedback">
                  <div *ngIf="j.gastosNegocio.errors.required"> Gastos del negocio es requerido </div>
                </div>
              </div>

              <!-- gastosPersonalesFamiliares -->
              <div class="form-group col-sm-6">
                <label for="id_gastosPersonalesFamiliares" class="form-label" >Personales y Familiares</label>
                <input formControlName="gastosPersonalesFamiliares"
                        class="form-control"
                        type="number"
                        id="id_gastosPersonalesFamiliares"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.gastosPersonalesFamiliares.errors}" />
                <div *ngIf="submittedFCLForm && j.gastosPersonalesFamiliares.errors" class="invalid-feedback">
                  <div *ngIf="j.gastosPersonalesFamiliares.errors.required">Gastos personales y de familia es requerido</div>
                </div>
              </div>

            </div>
          </section>

          <section class="fcl_card col-sm-12">
            <aside class="fcl_header"><p class="fcl_title">Estimaciones</p></aside>

            <div class="row">

              <!-- estimacionesSaldoTotalDeudaUno -->
              <div class="form-group col-sm-2">
                <label for="id_estimacionesSaldoTotalDeudaUno" class="form-label">Saldo total Deudas Año 1:</label>
                <input formControlName="estimacionesSaldoTotalDeudaUno"
                        class="form-control"
                        type="number"
                        id="id_estimacionesSaldoTotalDeudaUno"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.estimacionesSaldoTotalDeudaUno.errors}" />
                <div *ngIf="submittedFCLForm && j.estimacionesSaldoTotalDeudaUno.errors" class="invalid-feedback">
                  <div *ngIf="j.estimacionesSaldoTotalDeudaUno.errors.required">El dato es requerido</div>
                </div>
              </div>

              <!-- estimacionesSaldoTotalDeudaDos -->
              <div class="form-group col-sm-2">
                <label for="id_estimacionesSaldoTotalDeudaDos" class="form-label">Saldo Total Deudas Año 2:</label>
                <input formControlName="estimacionesSaldoTotalDeudaDos"
                        class="form-control"
                        type="number"
                        id="id_estimacionesSaldoTotalDeudaDos"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.estimacionesSaldoTotalDeudaDos.errors}" />
                <div *ngIf="submittedFCLForm && j.estimacionesSaldoTotalDeudaDos.errors" class="invalid-feedback">
                  <div *ngIf="j.estimacionesSaldoTotalDeudaDos.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- estimacionesValorPatrimonialActual -->
              <div class="form-group col-sm-2">
                <label for="id_estimacionesValorPatrimonialActual" class="form-label">Valor de Patrimonio Actual:</label>
                <input formControlName="estimacionesValorPatrimonialActual"
                        class="form-control"
                        type="number"
                        id="id_estimacionesValorPatrimonialActual"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.estimacionesValorPatrimonialActual.errors}" />
                <div *ngIf="submittedFCLForm && j.estimacionesValorPatrimonialActual.errors" class="invalid-feedback">
                  <div *ngIf="j.estimacionesValorPatrimonialActual.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- estimacionesValorPatrimonialFuturo -->
              <div class="form-group col-sm-2">
                <label for="id_estimacionesValorPatrimonialFuturo" class="form-label">Valor de Patrimonio Futuro:</label>
                <input formControlName="estimacionesValorPatrimonialFuturo"
                        class="form-control"
                        type="number"
                        id="id_estimacionesValorPatrimonialFuturo"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.estimacionesValorPatrimonialFuturo.errors}" />
                <div *ngIf="submittedFCLForm && j.estimacionesValorPatrimonialFuturo.errors" class="invalid-feedback">
                  <div *ngIf="j.estimacionesValorPatrimonialFuturo.errors.required">El dato es requerido</div>
                </div>
              </div>

              <!-- estimacionesCuotaMonedaExtranjeraAnoUno -->
              <div class="form-group col-sm-2">
                <label for="id_estimacionesCuotaMonedaExtranjeraAnoUno" class="form-label" >Cuota Moneda Extranjera Año 1:</label>
                <input formControlName="estimacionesCuotaMonedaExtranjeraAnoUno"
                        class="form-control"
                        type="number"
                        id="id_estimacionesCuotaMonedaExtranjeraAnoUno"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.estimacionesCuotaMonedaExtranjeraAnoUno.errors}" />
                <div *ngIf="submittedFCLForm && j.estimacionesCuotaMonedaExtranjeraAnoUno.errors" class="invalid-feedback">
                  <div *ngIf="j.estimacionesCuotaMonedaExtranjeraAnoUno.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- estimacionesCuotaMonedaExtranjeraAnoDos -->
              <div class="form-group col-sm-2">
                <label for="id_estimacionesCuotaMonedaExtranjeraAnoDos" class="form-label" >Cuota Moneda Extranjera Año 2:</label>
                <input formControlName="estimacionesCuotaMonedaExtranjeraAnoDos"
                  class="form-control"
                  type="number"
                  id="id_estimacionesCuotaMonedaExtranjeraAnoDos"
                  [ngClass]="{'is-invalid': submittedFCLForm && j.estimacionesCuotaMonedaExtranjeraAnoDos.errors}" />
                <div *ngIf="submittedFCLForm && j.estimacionesCuotaMonedaExtranjeraAnoDos.errors" class="invalid-feedback">
                  <div *ngIf="j.estimacionesCuotaMonedaExtranjeraAnoDos.errors.required"> El dato es requerido </div>
                </div>
              </div>

            </div>
          </section>


          <section class="fcl_card col-sm-12">
            <aside class="fcl_header"><p class="fcl_title">Obligaciones</p></aside>

            <div class="row">

              <!-- obligacionesCuotasPrestamos -->
              <div class="form-group col-sm-4">
                <label for="id_obligacionesCuotasPrestamos" class="form-label">Cuotas Préstamos del Sistema</label>
                <input formControlName="obligacionesCuotasPrestamos"
                        class="form-control"
                        type="number"
                        id="id_obligacionesCuotasPrestamos"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.obligacionesCuotasPrestamos.errors}" />
                <div *ngIf="submittedFCLForm && j.obligacionesCuotasPrestamos.errors" class="invalid-feedback">
                  <div *ngIf="j.obligacionesCuotasPrestamos.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- obligacionesNuevaObligacion -->
              <div class="form-group col-sm-4">
                <label for="id_obligacionesNuevaObligacion" class="form-label">Nuevas Obligaciones</label>
                <input formControlName="obligacionesNuevaObligacion"
                        class="form-control"
                        type="number"
                        id="id_obligacionesNuevaObligacion"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.obligacionesNuevaObligacion.errors}" />
                <div *ngIf="submittedFCLForm && j.obligacionesNuevaObligacion.errors" class="invalid-feedback">
                  <div *ngIf="j.obligacionesNuevaObligacion.errors.required"> El dato es requerido </div>
                </div>
              </div>

              <!-- obligacionAhorroGenerado -->
              <div class="form-group col-sm-4">
                <label for="id_obligacionAhorroGenerado" class="form-label">Ahorros Generados</label>
                <input formControlName="obligacionAhorroGenerado"
                        class="form-control"
                        type="number"
                        id="id_obligacionAhorroGenerado"
                        [ngClass]="{'is-invalid': submittedFCLForm && j.obligacionAhorroGenerado.errors}" />
                <div *ngIf="submittedFCLForm && j.obligacionAhorroGenerado.errors" class="invalid-feedback">
                  <div *ngIf="j.obligacionAhorroGenerado.errors.required"> El dato es requerido </div>
                </div>
              </div>

            </div>
          </section>

          <section class="fcl_card col-sm-12">
            <aside class="fcl_header"><p class="fcl_title">Observaciones</p></aside>

            <div class="row">

              <!-- observaciones -->
              <div class="form-group">
                <textarea formControlName="observaciones"
                          class="form-control"
                          type="number"
                          rows="1"
                          id="id_observaciones"
                          [ngClass]="{'is-invalid': submittedFCLForm && j.observaciones.errors}"></textarea>
                <div *ngIf="submittedFCLForm && j.observaciones.errors" class="invalid-feedback">
                  <div *ngIf="j.observaciones.errors.required"> El dato es requerido </div>
                </div>
              </div>

            </div>
          </section>

        </div>

      </form>
    </div>

    <div class="cont-main-analisis__footer">
      <div>
        <button *ngIf="habilitaBtnRegistrar"
              (click)="post()"
              class="btn btn-success px-5"
              mat-flat-button
              color="primary" > Registrar </button>
        <button *ngIf="habilitaBtnGuardar"
                (click)="put()"
                class="btn btn-success px-5"
                mat-flat-button
                color="primary" > Guardar Cambios </button>
      </div>
      <div>
        <button *ngIf="habilitaBtnEscenariosFCL"
                (click)="OnEscenariosFCL()"
                class="btn px-5 btn-info"
                mat-flat-button
                color="primary" > Esenarios FCL </button>
      </div>
    </div>

</div>
