<main class="main-modules">

  <div class="contenido-main">
    
    <div>
      <div>
        <p class="contenido-main__h1">{{ moduleName }}</p>
        <p class="contenido-main__h2">Porcentajes de Estimación por Categorías</p>
        <!-- <p class="contenido-main__h2">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_USERS.TITLE' | translate }}</p> -->
      </div>
      <hr>
      <button class="back-ico-one"
              title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
              mat-icon-button 
              (click)="redirectIndexModule()"> <mat-icon>arrow_back</mat-icon> </button>
    </div>

    <div class="card">  
      <div class="card-body">

        <div>
            <p *ngIf="add" class="contenido-main__h3">Actualización de Categorías</p>
            <p *ngIf="update" class="contenido-main__h3">Registro de Categorías</p>
            <!-- <p *ngIf="add" class="contenido-main__h3">{{ 'CONFIGURATION.ADD_EDIT_USER.PARAMETERS_USER' | translate: { nombreCompleto: objSeleccionado.nombreCompleto } }}</p>
            <p *ngIf="addEntitie" class="contenido-main__h3">{{ 'CONFIGURATION.ADD_EDIT_USER.REGISTER_USER' | translate }}</p> -->
        </div>

        <hr>

        <!-- *************************** -->
        <!-- SECCIÓN FORMULARIO USUARIO  -->
        <!-- *************************** -->
          
        <div class="formulario-izquierdo">
          <div class="formulario-izquierdo__nav">
            <div class="formulario-izquierdo__nav__prev">
              <p class="formulario-izquierdo__nav__prev__tittle">Parametrización de Categorías</p>
              <!-- <p class="formulario-izquierdo__nav__prev__tittle">{{ 'CONFIGURATION.ADD_EDIT_USER.TITLE' | translate }}</p> -->
            </div>

            <div class="formulario-izquierdo__nav__next">
              <button *ngIf="habilitaBtnNuevo" class="formulario-izquierdo__nav__next__btn-view" 
                    mat-flat-button 
                    (click)="limpiarFormulario()">{{ 'GENERAL.BTN_NEW' | translate }}</button>
            <button *ngIf="habilitaBtnActualiza" class="formulario-izquierdo__nav__next__btn-warn" 
                    mat-flat-button 
                    (click)="actualizar()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
            <button *ngIf="habilitaBtnRegistro" class="formulario-izquierdo__nav__next__btn-ok" 
                    mat-flat-button 
                    (click)="registrar()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
            <button *ngIf="habilitaBtnEliminar" class="formulario-izquierdo__nav__next__btn-delete" 
                    mat-flat-button 
                    (click)="eliminar()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>
            </div>
          </div>

          <div class="p-2">
            <form [formGroup]="formObject" class="row">

              <div class="col-sm-6">
                <span for="lblDescripcion" class="form-label">Descripción</span>
                <!-- <span for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</span> -->
                <input  maxlength="200"
                        formControlName="descripcion"
                        class="form-control"
                        type="text"
                        id="id_descripcion"
                        [ngClass]="{'is-invalid': submitForm && f.descripcion.errors}" />
                <div *ngIf="submitForm && f.descripcion.errors" class="invalid-feedback">
                  <div *ngIf="f.descripcion.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

              <div class="col-sm-6">
                <span for="lblNivel" class="form-label">Nivel</span>
                <!-- <span for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</span> -->
                <input  formControlName="nivel"
                        class="form-control"
                        type="number"
                        id="id_nivel"
                        [ngClass]="{'is-invalid': submitForm && f.nivel.errors}" />
                <div *ngIf="submitForm && f.nivel.errors" class="invalid-feedback">
                  <div *ngIf="f.nivel.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

              <div class="col-sm-6">
                <span for="lblEstimacionCubierta" class="form-label">Estimación Cubierta</span>
                <!-- <span for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</span> -->
                <input  formControlName="estimacionCubierta"
                        class="form-control"
                        type="number"
                        id="id_nivel"
                        [ngClass]="{'is-invalid': submitForm && f.estimacionCubierta.errors}" />
                <div *ngIf="submitForm && f.estimacionCubierta.errors" class="invalid-feedback">
                  <div *ngIf="f.estimacionCubierta.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

              <div class="col-sm-6">
                <span for="lblEstimacionDescubierta" class="form-label">Estimación Descubierta</span>
                <!-- <span for="lblNombreEntidad" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</span> -->
                <input  formControlName="estimacionDescubierta"
                        class="form-control"
                        type="number"
                        id="id_nivel"
                        [ngClass]="{'is-invalid': submitForm && f.estimacionDescubierta.errors}" />
                <div *ngIf="submitForm && f.estimacionDescubierta.errors" class="invalid-feedback">
                  <div *ngIf="f.estimacionDescubierta.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
              </div>

            </form>
          </div>
        </div>

        <!-- ************************ -->
        <!-- USUARIO SELECCIONADO     -->
        <!-- ************************ -->
              
        <div *ngIf="mostrarLista" class="contenido-main__table">
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                  <!-- <th class="contenido-main__table__aeup-id">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.ID' | translate }}</th>
                  <th class="contenido-main__table__aeup-name">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.USERNAME' | translate }}</th>
                  <th class="contenido-main__table__aeup-email">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.EMAIL' | translate }}</th>
                  <th class="contenido-main__table__aeup-position">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.POSITION' | translate }}</th>
                  <th class="contenido-main__table__aeup-role">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.ROLE' | translate }}</th> -->

                  <th class="contenido-main__table__rpec-ico-edit"></th>

                  <th class="contenido-main__table__rpec-desc">Descripción</th>
                  <th class="contenido-main__table__rpec-nivel">Nivel</th>
                  <th class="contenido-main__table__rpec-est-cub">Estim. Cubierta</th>
                  <th class="contenido-main__table__rpec-est-des">Estim. Descubierta</th>
                  <th class="contenido-main__table__rpec-registra">Registra</th>
                  <th class="contenido-main__table__rpec-fecha-r">Fecha</th>
                  <th class="contenido-main__table__rpec-modifica">Modifica</th>
                  <th class="contenido-main__table__rpec-fecha-m">Fecha</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let obj of listCategoriasCompania" (click)="seleccionarObjeto(obj)">
        
                <td class="item-list-edit"> <a> <mat-icon>edit</mat-icon> </a> </td>
                <td class="item-list-edit contenido-main__table__rpec-desc__td" >{{obj.descripcion}}</td>
                <td class="item-list-edit contenido-main__table__rpec-nivel__td" >{{obj.nivel}}</td>
                <td class="item-list-edit contenido-main__table__rpec-est-cub__td" >{{obj.estimacionCubierta}}</td>
                <td class="item-list-edit contenido-main__table__rpec-est-des__td" >{{obj.estimacionDescubierta}}</td>
                <td class="item-list-edit contenido-main__table__rpec-registra__td" >{{obj.adicionadoPor}}</td>
                <td class="item-list-edit contenido-main__table__rpec-fecha-r__td" >{{obj.fechaAdicion | date:'dd/MM/yyyy'}}</td>
                <td class="item-list-edit contenido-main__table__rpec-modifica__td" >{{obj.modificadoPor}}</td>
                <td class="item-list-edit contenido-main__table__rpec-fecha-m__td" >{{obj.fechaModificacion | date:'dd/MM/yyyy'}}</td>

              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</main>