<a routerLink="/_GeneralesModule/Index.html" class="btn btn-light mb-2">act</a>
<!-- <mat-sidenav-container>
    <div class="content mat-elevation-z4">
        <main>
            <article>

                <section class="content__menu">
        
                    <div class="content__menu__item"> -->
                        <!-- <p class="content__menu__item__titulo">Registro</p> -->
                        <!-- <p *ngIf="updateCompania" class="content__menu__item__titulo">Actualizar Información de Comañia</p>
                        <p *ngIf="addCompania" class="content__menu__item__titulo">Registro de Compañias</p> -->
                        <!-- <p class="content__menu__item__titulo">Parametrización de Compañía</p>
                    </div>

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="cedulajuridica">Cédula Jurídica</label>
                            <input type="text" formControlName="cedulajuridica" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cedulajuridica.errors }" />
                            <div *ngIf="submitted && f.cedulajuridica.errors" class="invalid-feedback">
                                <div *ngIf="f.cedulajuridica.errors.required">La Cédula Jurídica de la Sociedad es obligatoria</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre de Sociedad</label>
                            <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numeroTelefono">Número de teléfono</label>
                            <input type="text" formControlName="numeroTelefono" class="form-control" />
                        </div>
                        
                        <div class="form-group">
                            <button *ngIf="updateCompania" [disabled]="loading" class="btn btn-warning mb-2 float-right">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Actualizar
                            </button>
                            <button *ngIf="addCompania" [disabled]="loading" class="btn btn-success mb-2 float-right">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Registrar
                            </button>
            
                            <a routerLink="{{URLRedirectPage}}" class="btn btn-light mb-2">Atrás</a>
                        </div>
                    </form>

                </section>


                
                
            </article>
        </main>
    </div>
</mat-sidenav-container> -->