<mat-sidenav-container *ngIf="showList">
            
    <div class="content mat-elevation-z4">
        <main>
            
            <a (click)="onAdd()" class="btn btn-add btn-sm btn-outline-success float-right" matTooltip="Nuevo">
                <i class="fa fa-plus" aria-hidden="true"></i></a>

            <h1 class="h1-title">Niveles de Riesgo</h1>
            
            <article>
                <section class="content__menu">
        
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%">Código del Nivel</th>
                                <th style="width: 40%">Descripción del Nivel de Riesgo</th>
                                <th style="width: 10%">Mínimo</th>
                                <th style="width: 10%">Máximo</th>
                                <th style="width: 10%">Código Sugef</th>
                                <th style="width: 10%">Estado</th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let riskLevel of listRiskLevel">
                                <td>{{riskLevel.codigoNivel}}</td>
                                <td>{{riskLevel.descripcion}}</td>
                                <td>{{riskLevel.minimo}}</td>
                                <td>{{riskLevel.maximo}}</td>
                                <td>{{riskLevel.codigoSugef}}</td>
                                <td *ngIf="riskLevel.estado=='A'">Activo</td>
                                <td *ngIf="riskLevel.estado=='I'">Inactivo</td>
                                <td style="white-space: nowrap">

                                    <a style="margin-right: 5%;" (click)="onEdit(riskLevel)" class="btn btn-sm btn-outline-info" matTooltip="Editar">
                                        <i class="fa fa-edit"></i> </a>
                                    
                                    <a style="margin-left: 5%;" (click)="onDelete(riskLevel)" class="btn btn-sm btn-outline-danger" matTooltip="Eliminar">
                                        <i class="fa fa-trash"></i> </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </section>
            </article>
        </main>
    </div>

</mat-sidenav-container>

<!-- Modal -->
<div class="modal modal-cumplimiento" id="nivelRiesgoModal">
    <mat-sidenav-container>
        
        <div class="content-form-cumplimiento mat-elevation-z4">
            
            <div>
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    
                    <div  class="modal-content">
                        <div  class="modal-body">
                            <button style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                            <h1 style="color:#1A5276">Formulario Nivel de Riesgo</h1>
                            
                            <form style="width: 100%;" [formGroup]="riskForm" (ngSubmit)="onSubmit()" >
            
                                <div class="form-group">

                                    <label for="codigoNivel" class="form-label">Código del Nivel de Riesgo</label>
                                    <input formControlName="codigoNivel" class="form-control" type="text" id="id_codigo_nivel_riesgo"  
                                        [ngClass]="{ 'is-invalid': submitted && f.codigoNivel.errors }" />
                                    <div *ngIf="submitted && f.codigoNivel.errors" class="invalid-feedback">
                                        <div *ngIf="f.codigoNivel.errors.required">El código del nivel de riesgo es requerida</div>
                                    </div>

                                    <br>

                                    <label for="descripcion" class="form-label">Descripción del Nivel de Riesgo</label>
                                    <input formControlName="descripcion" class="form-control" type="text" id="id_descripcion_nivel_riesgo"  
                                        [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
                                    <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                                        <div *ngIf="f.descripcion.errors.required">La descripción del nivel de riesgo es requerida</div>
                                    </div>

                                    <br>

                                    <label for="minimo" class="form-label">Mínimo del Nivel de Riesgo</label>
                                    <input formControlName="minimo" class="form-control" type="text" id="id_minimo_nivel_riesgo"  
                                        [ngClass]="{ 'is-invalid': submitted && f.minimo.errors }" />
                                    <div *ngIf="submitted && f.minimo.errors" class="invalid-feedback">
                                        <div *ngIf="f.minimo.errors.required">El mínimo del nivel de riesgo es requerida</div>
                                    </div>

                                    <br>

                                    <label for="maximo" class="form-label">Máximo del Nivel de Riesgo</label>
                                    <input formControlName="maximo" class="form-control" type="text" id="id_maximo_nivel_riesgo"  
                                        [ngClass]="{ 'is-invalid': submitted && f.maximo.errors }" />
                                    <div *ngIf="submitted && f.maximo.errors" class="invalid-feedback">
                                        <div *ngIf="f.maximo.errors.required">El máximo del nivel de riesgo es requerida</div>
                                    </div>

                                    <br>

                                    <label for="codigoSugef" class="form-label">Código Sugef del Nivel de Riesgo</label>
                                    <input formControlName="codigoSugef" class="form-control" type="text" id="id_codigo_sugef_nivel_riesgo"  
                                        [ngClass]="{ 'is-invalid': submitted && f.maximo.errors }" />
                                    <div *ngIf="submitted && f.codigoSugef.errors" class="invalid-feedback">
                                        <div *ngIf="f.codigoSugef.errors.required">El código sugef del nivel de riesgo es requerida</div>
                                    </div>

                                    <br>

                                    <label style="margin-right: 1%;">
                                        <input type="radio" value="A" formControlName="estado">
                                            <span>Activo</span>
                                    </label>
                                    <label style="margin-left: 2%;">
                                        <input type="radio" value="I" formControlName="estado">
                                            <span>Inactivo</span>
                                    </label>

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-outline-info float-right" >{{buttomText}}</button>
                                    </div>

                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
</div>