<mat-sidenav-container *ngIf="showList">
            
    <div class="content mat-elevation-z4">
        <main>
            
            <a (click)="onAdd()" class="btn btn-add btn-sm btn-outline-success float-right" matTooltip="Nuevo">
                <i class="fa fa-plus" aria-hidden="true"></i></a>

            <h1 class="h1-title">Actividades Económicas</h1>
            
            <article>
                <section class="content__menu">
        
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50%">Descripción</th>
                                <th style="width: 10%">Nivel Riesgo</th>
                                <th style="width: 20%">Estado</th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let economicActivity of listEconomicActivity">
                                <td>{{economicActivity.descripcion}}</td>
                                <td>{{economicActivity.valorRiesgo}}</td>
                                <td *ngIf="economicActivity.estado=='A'">Activo</td>
                                <td *ngIf="economicActivity.estado=='I'">Inactivo</td>
                                <td style="white-space: nowrap">

                                    <a style="margin-right: 5%;" (click)="onEdit(economicActivity)" class="btn btn-sm btn-outline-info" matTooltip="Editar">
                                        <i class="fa fa-edit"></i> </a>
                                    
                                    <a style="margin-left: 5%;" (click)="onDelete(economicActivity)" class="btn btn-sm btn-outline-danger" matTooltip="Eliminar">
                                        <i class="fa fa-trash"></i> </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </section>
            </article>
        </main>
    </div>

</mat-sidenav-container>

<!-- Modal -->
<div class="modal modal-cumplimiento" id="economicActivityModal">
    <mat-sidenav-container>
        
        <div class="content-form-cumplimiento mat-elevation-z4">
            
            <div>
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    
                    <div  class="modal-content">
                        <div  class="modal-body">
                            <button style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                            <h1 style="color:#1A5276">Formulario Actividad Económica</h1>
                            
                            <form style="width: 100%;" [formGroup]="economicActivityForm" (ngSubmit)="onSubmit()" >
            
                                <div class="form-group">

                                    <label for="descripcion" class="form-label">Descripción de la Actividad</label>
                                    <input formControlName="descripcion" class="form-control" type="text" id="id_descripcion_actividad_economica"  
                                        [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
                                    <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                                        <div *ngIf="f.descripcion.errors.required">La descripción de la actividad es requerida</div>
                                    </div>

                                    <br>

                                    <label for="valorRiesgo" class="form-label">Valor de Riesgo</label>
                                    <input formControlName="valorRiesgo" class="form-control" type="text" id="id_valor_riesgo_actividad_economica"  
                                        [ngClass]="{ 'is-invalid': submitted && f.valorRiesgo.errors }" />
                                    <div *ngIf="submitted && f.valorRiesgo.errors" class="invalid-feedback">
                                        <div *ngIf="f.valorRiesgo.errors.required">El valor de riesgo es requerido</div>
                                    </div>

                                    <br>

                                    <label style="margin-right: 1%;">
                                        <input type="radio" value="A" formControlName="estado">
                                            <span>Activo</span>
                                    </label>
                                    <label style="margin-left: 2%;">
                                        <input type="radio" value="I" formControlName="estado">
                                            <span>Inactivo</span>
                                    </label>

                                    <div>
                                        <button type="submit" class="btn btn-sm btn-outline-info float-right" >{{buttomText}}</button>
                                    </div>

                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
</div>