@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; } 



.margin-icos-mat {
    margin: 30px 0 25px 0;

    &__cbx {
        margin-right: 4%;
    }
}
.titulo-menu-seleccionado {
    font-size: 1.7rem;
    font-weight: 850;
}
.sectionmenu {
    padding: 1% 1% 1% 1%;
}
.menuitems {
    margin: 0 2% 0 2%;
    border-radius: 10px;

    margin: 1% 1% 1% 1%;
    padding: 1% 0% 0% 0%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__items {

        margin: 0 1% 0 1%;

        display:         flex;
        flex-direction:  row;
        justify-content: center;
        align-items:     center;
        flex-wrap:       wrap;

        &__titulo {
            color: #005188;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.2s ease-in-out;

            padding-top: 1%;

            &:hover {
                color: #00AEEF;
                cursor: pointer;
            }
        }
    }
}


.contenedor-menu-asociados {

    height: 600px;

    margin: 1% 1% 1% 1%;
    border-radius: 10px;

    padding: 0.2% 1% 0.4% 1%;

    width: 100% ;

    border-bottom: 1px solid rgb(202, 202, 202);

    &__nav {

        width: 20%;
        padding: 0 0 0 2%;

        display: inline-block;
        text-align: left;

        &__items{

            &__titulo{

                color: #005188;
                font-size: 1rem;
                font-weight: 700;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: #00AEEF;
                    cursor: pointer;
                }
            }
        }
    }

    &__contenido {
        width: 80%;

        padding: 0 2% 0 0;
        display: inline-block;
        text-align: right;
    }
}




.contenedor-analisis {
    
    margin: 1% 1% 1% 1%;
    border-radius: 10px;

    &__menu {
        width: 18%;
        display: inline-block;
        text-align: center;

        &__body {
            padding: 0.5% 2% 0.5% 2%;
        }

        &__items {
            &__titulo{
                color: #005188;
                font-size: 1rem;
                font-weight: 700;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: #00AEEF;
                    cursor: pointer;
                }
            }
        }
    }

    &__tabletas {
        width: 82%;
        display: inline-block;

        &__body {
            padding: 0.5% 2% 0.5% 2%;
        }
    }
}