@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

.analisis_contenedor {

    margin: 2% 2% 5% 2%;
    border-radius: 10px;

    &__header {
        &__prev {
            width: 50%;
            padding: 0 0 1% 2%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            padding: 2% 2% 1% 0;
            display: inline-block;
            text-align: right;
        }
    }
    &__footer {
        &__prev {
            width: 50%;
            padding: 0 0 3% 2%;
            display: inline-block;
            text-align: left;
        }
        &__next {
            width: 50%;
            padding: 0 2% 3% 0;
            display: inline-block;
            text-align: right;
        }
    }
    &__body {
        margin: 2% 2% 0 2%;
        padding: 1% 2% 0 2%;

        &__estado {
            margin-top: 2%;
            margin-right: 4%;
        }
        &__analisisDefinitivo {
            margin-top: 2%;
        }
    }
}

.selecteditem {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;
    flex-wrap:       wrap;
    &__titulo {
        color: #005188;
        font-size: 1.7rem;
        font-weight: 850;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #35980a;
            cursor: pointer;
        }
    }
}
.sectionmenu {
    padding: 0 1% 2% 1%;
}
.menuitems {
    margin: 0 2% 0 2%;
    border-radius: 10px;

    &__items {

        display:         flex;
        flex-direction:  row;
        justify-content: center;
        align-items:     center;
        flex-wrap:       wrap;

        &__titulo {
            color: #005188;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.2s ease-in-out;

            padding-top: 1%;

            &:hover {
                color: #00AEEF;
                cursor: pointer;
            }
        }
    }
}