@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

td { vertical-align: middle; }

$paddingDirection:('right','left','top','bottom');
$paddingLength:(2,5,10,15,30,45,50);

@each $dir in $paddingDirection {
  @each $len in $paddingLength {
    .m-#{$dir}-#{$len}{ margin-#{$dir}: #{$len}px;}
  }
}

// borde success error
.div-borde { box-shadow: 0 0 0 0 transparent; transition: box-shadow 0.5s ease-in-out; }
.borde-success { box-shadow: 0 0 0 2px #4caf50; }
.borde-error { box-shadow: 0 0 0 2px #b82424; }

.margin-icos-mat {
    margin: 30px 0 25px 0;

    &__cbx {
        margin-right: 4%;
    }
}

.cont-modal-header {

    width: 100%;
    padding-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .header-titles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h1 {
      margin: 0;
      font-weight: 500;
      color: #1A5276;
    }
    h2 {
      margin: 0;
      font-weight: 450;
      color: #1A5276;
    }
}

.cont-main-analisis {
  margin: 1%;
  border-radius: 10px;
  background-color: var(--color_gris);

  &__header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(202, 202, 202);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .header-titles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h1 {
      margin: 0;
      font-weight: 600;
      color: #1A5276;
    }
    h2 {
      margin: 0;
      font-weight: 550;
      color: #1A5276;
    }
  }
  &__footer {
    width: 100%;
    padding: 20px;
    border-top: 1px solid rgb(202, 202, 202);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.cont-analisis {

    border-radius: 10px;
    display: flex;

    &__menu {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__items-submenu {
            color: #005188;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.2s ease-in-out;
            &:hover { color: #00AEEF; cursor: pointer; }
        }
    }
    &__tabletas {
        width: 85%;
        display: inline-block;

        &__body {
            padding: 0.5% 2% 0.5% 2%;

            .gridContainer {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 10px;

              .span2{
                grid-row: 3/ span 2;
                grid-column: 1;
              }
            }

            .flex{
              display: flex;
            }
            .chk{
              width: 20px;
              height: 20px;
            }
        }
    }
}

.fcl_cards{
  background-color: white;
  margin: 2px;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: #B3B3B3;
  border-style: solid;

  .encabezado{
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #053254;
    margin-bottom: 10px;
    margin-top: 10px;

    .titulo{
      color: #1c1c1c;
      font-weight: bold;
    }

  }

}

// acts 2025 maleku ti
// **

.margin-top-status { padding-top: 20px; }
.margin-status { padding-top: 20px; }
.margin-filter { padding-top: 30px; }
.margin-open { padding-top: 30px; }

.margin-icos-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.table {

    width: 100%;
    @media (max-width: 1200px) { overflow-x:auto; }

    &__rangos-extras {
        &__ico { width: 5%; }
        &__desc { width: 11%; }
        &__rangoi { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rangof { width: 10%; text-align: center; &__td { text-align: center; } }
        &__porc-acep { width: 13%; text-align: center; &__td { text-align: center; } }
        &__estado { width: 13%; text-align: center; &__td { text-align: center; } }

        &__add { width: 7%; text-align: center; &__td { text-align: center; } }
        &__edit { width: 7%; text-align: center; &__td { text-align: center; } }
    }
    &__ponderacion-riesgos {
        &__ico { width: 5%; }
        &__desc { width: 14%; }
        &__gen { width: 9%; text-align: center; &__td { text-align: center; } }
        &__nogen { width: 9%; text-align: center; &__td { text-align: center; } }
        &__desde { width: 8%; text-align: center; &__td { text-align: center; } }
        &__hasta { width: 8%; text-align: center; &__td { text-align: center; } }
        &__estado { width: 9%; text-align: center; &__td { text-align: center; } }

        &__add { width: 7%; text-align: center; &__td { text-align: center; } }
        &__edit { width: 7%; text-align: center; &__td { text-align: center; } }
    }
    &__tipo-moneda {
        &__ico { width: 5%; }
        &__desc { width: 10%; }
        &__simbolo { width: 20%; text-align: center; &__td { text-align: center; } }
        &__alias { width: 10%; }
        &__estado { width: 15%; text-align: center; &__td { text-align: center; } }

        &__add { width: 10%; text-align: center; &__td { text-align: center; } }
        &__edit { width: 10%; text-align: center; &__td { text-align: center; } }
    }
    &__personas-analisis {
        &__ico { width: 5%; }
        &__ident { width: 20%; }
        &__nombre { width: 25%; }
        &__apellido { width: 20%; }
        &__asoc { width: 15%; text-align: center; &__td { text-align: center; } }
        &__estado { width: 15%; text-align: center; &__td { text-align: center; } }
    }
    &__personas-analisis-select {
        &__ident { width: 10%; text-align: center; &__td { text-align: center; } }
        &__nombre { width: 15%; text-align: center; &__td { text-align: center; } }
        &__apellido { width: 15%; text-align: center; &__td { text-align: center; } }

        &__civil { width: 10%; text-align: center; &__td { text-align: center; } }
        &__laboral { width: 15%; text-align: center; &__td { text-align: center; } }
        &__habitacion { width: 10%; text-align: center; &__td { text-align: center; } }
        &__hijos { width: 5%; text-align: center; &__td { text-align: center; } }
        &__nacimiento { width: 10%; text-align: center; &__td { text-align: center; } }
        &__edad { width: 5%; text-align: center; &__td { text-align: center; } }

        &__asoc { width: 5%; text-align: center; &__td { text-align: center; } }
    }
    &__personas-creditos {
        &__ico { width: 5%; }
        &__cat { width: 15%; }
        &__asociado { width: 20%; }
        &__saldof { width: 20%; }
        &__cuotaf { width: 20%; }
        &__diasac { width: 20%; text-align: center; &__td { text-align: center; } }
    }
    &__personas-creditos-analisis {
        &__cat { width: 5%; text-align: center; &__td { text-align: center; } }
        &__asociado { width: 10%; text-align: center; &__td { text-align: center; } }

        &__cantf { width: 5%; text-align: center; &__td { text-align: center; } }
        &__saldof { width: 15%; text-align: center; &__td { text-align: center; } }
        &__cuotaf { width: 15%; text-align: center; &__td { text-align: center; } }

        &__tafiliacion { width: 5%; text-align: center; &__td { text-align: center; } }
        &__credhist { width: 10%; text-align: center; &__td { text-align: center; } }

        &__cph { width: 5%; text-align: center; &__td { text-align: center; } }
        &__cph12 { width: 5%; text-align: center; &__td { text-align: center; } }
        &__cph24 { width: 5%; text-align: center; &__td { text-align: center; } }

        &__amaximo { width: 5%; text-align: center; &__td { text-align: center; } }
        &__atraso12 { width: 5%; text-align: center; &__td { text-align: center; } }
        &__atraso24 { width: 5%; text-align: center; &__td { text-align: center; } }

        &__diasac { width: 5%; text-align: center; &__td { text-align: center; } }
    }
    &__modelos-calificacion {
        &__ico { width: 5%; }
        &__desc { width: 80%; }
        &__estado { width: 15%; text-align: center; &__td { text-align: center; } }

        &__grupo {
            &__desc { width: 70%; }
            &__peso { width: 10%; text-align: center; &__td { text-align: center; } }
        }
        &__indicador {
            &__desc { width: 70%; }
            &__peso { width: 10%; text-align: center; &__td { text-align: center; } }
        }
    }
    &__variables-pd {
        &__ico { width: 5%; }
        &__desc { width: 20%; }
        &__coeficiente { width: 20%; }
        &__equivalente { width: 13%; }
        &__estado { width: 10%; text-align: center; &__td { text-align: center; } }
        &__add { width: 8%; text-align: center; &__td { text-align: center; } }
        &__update { width: 8%; text-align: center; &__td { text-align: center; } }
    }
    &__nivel-capacidad-pago {
        &__ico { width: 3%; }
        &__desc { width: 20%; }
        &__puntaje { width: 9%; text-align: center; &__td { text-align: center; } }
        &__rangoi { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rangof { width: 10%; text-align: center; &__td { text-align: center; } }
        &__cappago { width: 15%; text-align: center; &__td { text-align: center; } }
        &__estado { width: 9%; text-align: center; &__td { text-align: center; } }
        &__add { width: 6%; text-align: center; &__td { text-align: center; } }
        &__update { width: 6%; text-align: center; &__td { text-align: center; } }
    }
    &__variables-criticas {
        &__ico { width: 3%; }
        &__desc { width: 45%; }
        &__estado { width: 12%; text-align: center; &__td { text-align: center; } }
        &__add { width: 10%; text-align: center; &__td { text-align: center; } }
        &__update { width: 10%; text-align: center; &__td { text-align: center; } }
    }
    &__indicadores-relevantes {
        &__ico { width: 5%; }
        &__desc { width: 80%; }
        &__estado { width: 15%; text-align: center; &__td { text-align: center; } }

        &__niveles {
            &__desc { width: 55%; }
            &__rangoi { width: 20%; text-align: center; &__td { text-align: center; } }
            &__rangof { width: 20%; text-align: center; &__td { text-align: center; } }
        }
    }
    &__escenarios-riesgos {
        &__ico { width: 5%; }
        &__desc { width: 70%; }
        &__estado { width: 25%; text-align: center; &__td { text-align: center; } }
        &__variables {
            &__desc { width: 45%; }
            &__tipoe { width: 25%; text-align: center; &__td { text-align: center; } }
            &__valore { width: 25%; text-align: center; &__td { text-align: center; } }
        }
    }
    &__nivel-riesgo {
        &__ico { width: 3%; }
        &__desc { width: 20%; }
        &__puntaje { width: 9%; text-align: center; &__td { text-align: center; } }
        &__rangoi { width: 10%; text-align: center; &__td { text-align: center; } }
        &__rangof { width: 10%; text-align: center; &__td { text-align: center; } }
        &__score { width: 15%; text-align: center; &__td { text-align: center; } }
        &__estado { width: 9%; text-align: center; &__td { text-align: center; } }
        &__add { width: 6%; text-align: center; &__td { text-align: center; } }
        &__update { width: 6%; text-align: center; &__td { text-align: center; } }
    }
    &__indicadores-scoring {
        &__ico { width: 5%; }
        &__desc { width: 80%; }
        &__estado { width: 15%; text-align: center; &__td { text-align: center; } }

        &__niveles {
            &__desc { width: 55%; }
            &__rangoi { width: 20%; text-align: center; &__td { text-align: center; } }
            &__rangof { width: 20%; text-align: center; &__td { text-align: center; } }
        }
    }
    &__modelos-analisis {
        &__ico { width: 5%; }
        &__desc { width: 80%; }
        &__estado { width: 15%; text-align: center; &__td { text-align: center; } }

        &__grupo {
            &__desc { width: 70%; }
            &__peso { width: 10%; text-align: center; &__td { text-align: center; } }
        }
        &__indicador {
            &__desc { width: 70%; }
            &__peso { width: 10%; text-align: center; &__td { text-align: center; } }
        }
    }
    &__hist-analisis {
        &__id { width: 5%; text-align: center; &__td { text-align: center; } }
        &__fecha { width: 10%; text-align: center; &__td { text-align: center; } }
        &__nivel-cap { width: 10%; text-align: center; &__td { text-align: center; } }
        &__estado { width: 5%; text-align: center; &__td { text-align: center; } }
        &__definitivo { width: 5%; text-align: center; &__td { text-align: center; } }
        &__scoring { width: 10%; text-align: center; &__td { text-align: center; } }
        &__cic { width: 15%; text-align: center; &__td { text-align: center; } }
        &__moneda { width: 10%; text-align: center; &__td { text-align: center; } }
        &__obs { width: 30%; text-align: center; }
    }
    &__codeudor-fiador {
        &__tipo { width: 25%; text-align: center; &__td { text-align: center; } }
        &__identif {width: 25%; text-align: center; &__td { text-align: center; } }
        &__monto {width: 25%; text-align: center; &__td { text-align: center; } }
        &__estado {width: 25%; text-align: center; &__td { text-align: center; } }
    }
    &__ingresos-analisis {
        &__tipo { width: 15%; text-align: center; &__td { text-align: center; } }
        &__bruto { width: 15%; text-align: center; &__td { text-align: center; } }
        &__neto { width: 15%; text-align: center; &__td { text-align: center; } }
        &__cargas { width: 10%; text-align: center; &__td { text-align: center; } }
        &__renta { width: 10%; text-align: center; &__td { text-align: center; } }
        &__extras { width: 15%; text-align: center; &__td { text-align: center; } }
        &__deducciones { width: 10%; text-align: center; &__td { text-align: center; } }
        &__ico { width: 10%; text-align: center; &__td { text-align: center; } }
    }
    &__extras-aplicables {
        &__monto { width: 16%; text-align: center; &__td { text-align: center; } }
        &__desviacion {width: 21%; text-align: right; &__td { text-align: right; } }
        &__coeficiente {width: 21%; text-align: right; &__td { text-align: right; } }
        &__porcentaje {width: 21%; text-align: right; &__td { text-align: right; } }
        &__promedio {width: 21%; text-align: right; &__td { text-align: right; } }
    }
}

.center-div {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;
    flex-wrap:       wrap;
    &__tittle {
        font-size: 1.7rem;
        font-weight: 850;
        color: #053254;
        transition: color 0.1s ease-in-out;
        &:hover { color: #F9A01B; cursor: pointer; }
    }
}

.back-ico-one {
    margin-bottom: 12px;
    &:hover { color: white; background-color: #F9A01B; cursor: pointer; }
}
.back-ico-two {
    margin-bottom: 12px;
    &:hover { color: white; background-color: #B3B3B3; cursor: pointer; }
}



.color-chechbox { color: white; font-weight:500; }

.item-list-search { color: white; &:hover { cursor: pointer; } }
.item-list-on { color: #129523; &:hover { cursor: pointer; } }
.item-list-delete { color: #b82424; &:hover { cursor: pointer; } }
.item-list-edit { color: #F9A01B; &:hover { cursor: pointer; } }
.item-list-view { 
    color: #053254; 
    transition: color 0.1s ease-in-out;
    &:hover { color: #F9A01B; cursor: pointer; } 
}

.form-list-inline { display: flex; }

.item-edit {
    color: #053254;
    transition: color 0.1s ease-in-out;
    &:hover { color: #F9A01B; cursor: pointer; }
}


.formulario-izquierdo {
    width: 50%;
    background-color: #254156;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media (max-width: 1000px) { width: 100%; }

    &__segundo {
        width: 50%;
        background-color: #7a7a7a;
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        @media (max-width: 1000px) { width: 100%; }
    }
    &__tercero {
        width: 50%;
        background-color: #eb8d00;
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        @media (max-width: 1000px) { width: 100%; }
    }

    &__nav {
        border-bottom: 1px solid white;
        &__prev {
            width: 50%;
            padding-left: 1%;
            display: inline-block;
            &__tittle {
                color: white;
                margin-top: 10px;
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
        &__next {
            width: 50%;
            padding-right : 1%;
            display: inline-block;
            text-align: right;
            &__btn-warn {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #F9A01B; }
            }
            &__btn-ok {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #129523; cursor: pointer; }
            }
            &__btn-view {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #053254; cursor: pointer; }
            }
            &__btn-delete {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #f91b1b; cursor: pointer; }
            }
            &__btn-ott {
                margin-left: 0.3%; margin-right: 0.3%;
                &:hover { color: #B3B3B3; cursor: pointer; }
            }
        }
    }
}

.btn-new {
    margin-left: 1%; margin-right: 1%;
    &:hover { color: #B3B3B3; cursor: pointer; }
}
.btn-put {
    margin-left: 1%; margin-right: 1%;
    &:hover { color: #F9A01B; }
}
.btn-post {
    margin-left: 1%; margin-right: 1%;
    &:hover { color: #129523; cursor: pointer; }
}
.btn-delete {
    margin-left: 1%; margin-right: 1%;
    &:hover { color: #f91b1b; cursor: pointer; }
}

.lista-inline {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &__nav {
        width: 100%;
        display: inline-block;
        
        &__tittle {
            color: #005188;
            margin-top: 10px;
            margin-left: 10px;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
}
.lista-inline-select-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  &__nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;

    &__tittle {
        margin-bottom: 1%;
        font-weight: 600;
        color: #1A5276;
    }
  }

  &__nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    &__btn-ott {
        margin-left: 0.3%; margin-right: 0.3%;
        &:hover { color: #B3B3B3; cursor: pointer; }
    }
  }
}
.scroll-table-macred {

    &__personas { max-height: 350px; overflow: auto; border-radius: 10px; }
    
    table {
        width: 100%;
        border-collapse: collapse;
    th, td {
      padding: 0.5rem;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
    }
    thead {
      background-color: #f9f9f9;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.contenido-main-macred {
    
    margin: 1% 1% 1% 1%;

    &__h1 {
        color: #053254; font-size: 1.5rem; font-weight: 700;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h2 {
        color: #B3B3B3; font-size: 1.2rem; font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3 {
        color: #005188; font-size: 1.2rem; font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-on {
        color: #129523;
        font-size: 1.2rem;
        font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-off {
        color: #b82424;
        font-size: 1.2rem;
        font-weight: 500;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-inline-black {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-inline-blue {
        color: #1A5276;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
        @media (max-width: 800px) { font-size: 1rem; }
    }
    &__h3-inline-red {
        color: #b82424;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
        @media (max-width: 800px) { font-size: 1rem; }
    }
}

.cont-modal-analisis {
    &__header {
        width: 100%;
        &__prev { width: 50%; display: inline-block; text-align: left; }
        &__next { width: 50%; display: inline-block; text-align: right; }
    }
    &__footer {
        width: 100%;
        border-top: 1px solid rgb(202, 202, 202);
        margin-top: 2%;
        &__prev { width: 50%; display: inline-block; text-align: left; }
        &__next { width: 50%; display: inline-block; text-align: right; }
    }
}

#analisisHistorialModal {
  .modal-dialog {
    max-width: 90vw;
    margin: 5px auto;
  }
  .modal-content {
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .modal-body {
    overflow-y: auto;
  }
  table {
    width: 100%;
    margin: 0 auto;
  }
}
#codeudoresFiadoresModal {
  .modal-dialog {
    max-width: 90vw;
    margin: 5px auto;
  }
  .modal-content {
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .modal-body {
    overflow-y: auto;
  }
  table {
    width: 100%;
    margin: 0 auto;
  }
}
#extrasModal {
  .modal-dialog {
    max-width: 90vw;
    margin: 5px auto;
  }
  .modal-content {
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .modal-body {
    overflow-y: auto;
  }
  table {
    width: 100%;
    margin: 0 auto;
  }
}