<main class="contenido-main">
    <div *ngIf="showList">
        <div class="mat-elevation-z4 mx-3">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-11">
                            <p class="contenido-main__h3">Tipos de Géneros</p>
                        </div>
                        <div class="col-md-1">
                            <button class="btn-add"
                                    title="Registrar Estado Civil"
                                    mat-icon-button 
                                    (click)="addTipoGenero()"> <mat-icon>add</mat-icon> </button>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="contenido-main__table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 20%">Código</th>
                                    <th style="width: 50%">Descripción</th>
                                    <th style="width: 20%">Estado</th>
                                    <th style="width: 10%"></th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let tipoGenero of listTiposGeneros">
                                    <td>{{tipoGenero.codigoGenero}}</td>
                                    <td>{{tipoGenero.descripcion}}</td>
                                    <td *ngIf="tipoGenero.estado==true">Activo</td>
                                    <td *ngIf="tipoGenero.estado==false">Inactivo</td>
                                    <td style="white-space: nowrap">
    
                                        <a style="margin-right: 5%;" (click)="editTipoGenero(tipoGenero)" class="btn btn-sm btn-outline-info" matTooltip="Editar">
                                            <i class="fa fa-edit"></i> </a>
                                    
                                        <a style="margin-left: 5%;" (click)="deleteTipoGenero(tipoGenero.id)" class="btn btn-sm btn-outline-danger" matTooltip="Eliminar">
                                            <i class="fa fa-trash"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="tipoGeneroModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <div class="cont-modal">
                    <div class="cont-modal__header">
                        <div class="cont-modal__header__prev">
                            <h1 style="color:#1A5276">Registro de Tipos de Géneros</h1>
                        </div>
                        <div class="cont-modal__header__next">
                            <button style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form [formGroup]="formTipoGenero" class="row" >
                    
                    <div class="form-group col-md-5">
                        <label for="id_codigoTipoGenero" class="form-label">Código</label>
                        <input formControlName="codigoGenero" 
                                class="form-control" 
                                type="text" 
                                id="id_codigoTipoGenero"  
                                [ngClass]="{ 'is-invalid': submitted && f.codigoGenero.errors }" />
                        <div *ngIf="submitted && f.codigoGenero.errors" class="invalid-feedback">
                            <div *ngIf="f.codigoGenero.errors.required">El código del tipo de género es requerido.</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id_descripcionTipoGenero" class="form-label">Descripción</label>
                        <input formControlName="descripcion" 
                                class="form-control" 
                                type="text" 
                                id="id_descripcionTipoGenero"  
                                [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                            <div *ngIf="f.descripcion.errors.required">La descripción es requerida.</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-1">
                        <mat-checkbox formControlName="estado"></mat-checkbox>
                    </div>
                </form>

                <br>

                <div class="cont-modal">
                    <div class="cont-modal__footer">
                        <div class="cont-modal__footer__prev"> </div>
                        <div class="cont-modal__footer__next">
                            <button class="btn btn-success px-5" 
                                    (click)="guardarTipoGenero()"> Registrar </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>