<main>

    <article class="bloq">
        <div class="contenedor mat-elevation-z4">

            <section>   <!-- header -->
                <div class="contenedor__header">                    
                    <div class="contenedor__header__prev">
                        <h2 >Consulta de Personas </h2>
                    </div>
                    <div class="contenedor__header__next">  </div>
                </div>
            </section>

            <section>   <!-- body -->
                <div class="contenedor__body">

                    <form [formGroup]="formPersona" class="row">

                        <div class="form-group col-md-3">
                            <label for="id" class="form-label">Id</label>
                            <input formControlName="id" class="form-control" type="text" id="id_id" readonly />
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="lblIdentificacion" class="form-label">Número de Identificación</label>
                            <input formControlName="identificacion" class="form-control" type="text" id="id_identificacion"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.identificacion.errors }" />
                            <div *ngIf="submittedPersonForm && f.identificacion.errors" class="invalid-feedback">
                                <div *ngIf="f.identificacion.errors.required">La identificación es requerida</div>
                            </div>
                        </div>

                        <div class="col-md-3 margin-icos-mat">
                            <a class="item-seleccionable"> <mat-icon (click)="SubmitPerson()">search</mat-icon> </a>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input formControlName="nombre" class="form-control" type="text" id="id_nombre"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.nombre.errors }" />
                            <div *ngIf="submittedPersonForm && f.nombre.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="primerApellido" class="form-label">Primer Apellido</label>
                            <input formControlName="primerApellido" class="form-control" type="text" id="id_nombre"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.primerApellido.errors }" />
                            <div *ngIf="submittedPersonForm && f.primerApellido.errors" class="invalid-feedback">
                                <div *ngIf="f.primerApellido.errors.required">El primer apellido es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                            <input formControlName="segundoApellido" class="form-control" type="text" id="id_nombre"
                                [ngClass]="{ 'is-invalid': submittedPersonForm && f.segundoApellido.errors }" />
                            <div *ngIf="submittedPersonForm && f.segundoApellido.errors" class="invalid-feedback">
                                <div *ngIf="f.segundoApellido.errors.required">El segundo apellido es requerido</div>
                            </div>
                        </div>
                        <button type="submit" (click)="SubmitPerson()"></button>
                    </form>
                </div>
            </section>

            <section> <!-- footer -->
                <div class="contenedor__footer">
                    <section class="sectionmenu">
                        
                    </section>

                </div>
            </section>

        </div>
    </article>

    <article class="bloq">
        <div class="contenedor mat-elevation-z4">

            <section>   <!-- header -->
                <div class="contenedor__header">                    
                    <div class="contenedor__header__prev">
                        <h2 >Lista de Personas </h2>
                    </div>
                    <div class="contenedor__header__next">  </div>
                </div>
            </section>

            <section>   <!-- body -->
                <div class="contenedor__body">
                    <!-- *************** -->
                    <mat-sidenav-container *ngIf="showList">
                            
                        <div class="content mat-elevation-z4">
                            <main>
                                
                                <!-- <a style="margin-top: 3%;" (click)="onAdd()" class="btn btn-sm btn-outline-success float-right" matTooltip="Nuevo">
                                    <i class="fa fa-plus" aria-hidden="true"></i></a> 
                    
                                <h1 style="color:#1A5276;margin-top: 2%;">Personas</h1>-->
                                
                                <article>
                                    <section class="content__menu">
                            
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 30%">Nombre</th>
                                                    <th style="width: 15%">Primer Apellido</th>
                                                    <th style="width: 15%">Segundo Apellido</th>
                                                    <th style="width: 10%">Identificación</th>
                                                    <th style="width: 10%">Estado</th>
                                                    <th style="width: 20%"></th>
                                                </tr>
                                            </thead>
                    
                                            <tbody>
                                                <tr *ngFor="let persona of listPersonas">
                                                    <td>{{persona.nombre}}</td>
                                                    <td>{{persona.primerApellido}}</td>
                                                    <td>{{persona.segundoApellido}}</td>
                                                    <td>{{persona.identificacion}}</td>
                                                    <td *ngIf="persona.estado==true">Activo</td>
                                                    <td *ngIf="persona.estado==false">Inactivo</td>
                                                    <td style="white-space: nowrap">
                    
                                                        <a  (click)="onEdit(persona)" class="btn btn-sm btn-outline-info" matTooltip="Editar">
                                                            <i class="fa fa-edit"></i> </a>
                                                        
                                                        <a  (click)="openPersonaModal()" class="btn btn-sm btn-outline-danger" matTooltip="Eliminar">
                                                            <i class="fa fa-trash"></i> </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                    
                                    </section>
                                </article>
                            </main>
                        </div>
                    
                    </mat-sidenav-container>
                    
                    <!-- *************** -->
                </div>
            </section>

            <section> <!-- footer -->
                <div class="contenedor__footer">
                    <section class="sectionmenu">
                        <div class=" mat-elevation-z4">
            
                            
                        </div>
                    </section>

                </div>
            </section>

        </div>
    </article>
</main>

<article class="modal" id="personaModal">

    <div class="contenedor__body">
                        
        <div class="modal-content">

            <section>
                <div class="contenedor__header">
                    <div class="contenedor__header__prev">
                        <h1 style="color:#1A5276">Registro de Personas</h1>
                    </div>
                    <div class="contenedor__header__next">
                        <button  style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="modal-body">
                
                    <form [formGroup]="formPersona" class="row" >
                        
                        <div class="form-group col-md-3">
                            <label for="nombrePersona" class="form-label">Nombre</label>
                            <input formControlName="nombre" class="form-control" type="text" id="id_nombre_persona"  
                                [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">El nombre de la persona es requerida.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="primerApellidoPersona" class="form-label">Primer Apellido</label>
                            <input formControlName="primerApellido" class="form-control" type="text" id="id_primer_apellido_persona"  
                                [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" />
                            <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
                                <div *ngIf="f.primerApellido.errors.required">El primer apellido es requerido.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="segundoApellidoPersona" class="form-label">Segundo Apellido</label>
                            <input formControlName="segundoApellido" class="form-control" type="text" id="id_segundo_apellido_persona"  
                                [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }" />
                            <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
                                <div *ngIf="f.segundoApellido.errors.required">El segundo apellido es requerido.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="fechaNacimientoPersona" class="form-label">Fecha Nacimiento</label>
                            <input formControlName="fechaNacimiento" class="form-control" type="text" id="id_fecha_nacimiento_persona"  
                                [ngClass]="{ 'is-invalid': submitted && f.fechaNacimiento.errors }" matInput [matDatepicker]="picker"/>
                        
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker> 

                            <div *ngIf="submitted && f.fechaNacimiento.errors" class="invalid-feedback">
                                <div *ngIf="f.fechaNacimiento.errors.required">La fecha de nacimiento es requerida.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="lblEstadosCiviles" class="form-label">Estados Civiles</label>
                            <select formControlName="estadoCivil" class="form-control" name="selectEstadosCiviles"
                                [ngClass]="{ 'is-invalid': submitted && e.estadosCiviles.errors }" >
                                    <option [ngValue]="objeto" *ngFor="let objeto of listEstadosCiviles">{{objeto.id}} - {{objeto.descripcion}}</option>
                            </select>
                            <div *ngIf="submitted && e.estadosCiviles.errors" class="invalid-feedback">
                                <div *ngIf="e.estadosCiviles.errors.required">El estado civil es requerido</div>
                            </div>
                        </div>

                    </form>
                </div>
            </section>


            <section>   <!-- footer -->
                <div class="contenedor__footer">
                    <div class="contenedor__footer__prev">
                        <button  class="btn btn-success px-5 " >
                            Registrar </button>
                    </div>
                    <div class="contenedor__footer__next"> </div>
                </div>
            </section>

        </div>

    </div>

</article>

<!-- Modal 
<div class="modal modal-cumplimiento" id="personaModal">
    <mat-sidenav-container>
        
        <div class="content-form-cumplimiento mat-elevation-z4">
            
            <main class="main-form">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    
                    <div  class="modal-content">
                        <div  class="modal-body">
                            <button style="color:red" type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                            <h1 style="color:#1A5276">Formulario Grupos de Riesgo</h1>
                            
                            <form style="width: 100%;" [formGroup]="personaForm" >
            
                                <div class="form-group">

                                    <label for="nombrePersona" class="form-label">Nombre</label>
                                    <input formControlName="nombrePersona" class="form-control" type="text" id="id_nombre_persona"  
                                        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                        <div *ngIf="f.nombre.errors.required">El nombre de la persona es requerida.</div>
                                    </div>
                                    <br>

                                    <label for="primerApellidoPersona" class="form-label">Nombre</label>
                                    <input formControlName="primerApellidoPersona" class="form-control" type="text" id="id_primer_apellido_persona"  
                                        [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" />
                                    <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
                                        <div *ngIf="f.primerApellido.errors.required">El primer apellido es requerido.</div>
                                    </div>
                                    <br>

                                    <label for="segundoApellidoPersona" class="form-label">Nombre</label>
                                    <input formControlName="segundoApellidoPersona" class="form-control" type="text" id="id_segundo_apellido_persona"  
                                        [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }" />
                                    <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
                                        <div *ngIf="f.segundoApellido.errors.required">El segundo apellido es requerido.</div>
                                    </div>
                                    <br>

                                    <!-- <label style="margin-right: 1%;">
                                        <input type="radio" value="A" formControlName="estado">
                                            <span>Activo</span>
                                    </label>
                                    <label style="margin-left: 2%;">
                                        <input type="radio" value="I" formControlName="estado">
                                            <span>Inactivo</span>
                                    </label> 

                                    <!-- <div>
                                        <button type="submit" class="btn btn-sm btn-outline-info float-right" >{{buttomText}}</button>
                                    </div> 

                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </mat-sidenav-container>
</div>-->