<main>
    <article class="articulo">

        <div class="articulo__contenedor mat-elevation-z4">

            <!-- // ************
            // ** HEADER ** -->
            <section>
                <div class="articulo__contenedor__header">

                    <div class="articulo__contenedor__header__prev" >

                        <p>{{ 'MODULES.INVERSIONES_TRANSITORIAS.personTypeMaintenance' | translate: {$INTERPOLATION: nombreModulo} }}</p>

                    </div>

                    <div class="articulo__contenedor__header__next" > </div>

                </div>
            </section>

            <!-- // **********
            // ** BODY ** -->

            <!-- *************** -->
            <!-- SECCIÓN PERSONA -->
            <!-- *************** -->

            
            <!-- ********************** -->
            <!-- SECCIÓN MONTOS MÁXIMOS -->
            <!-- ********************** -->

            <section >
                <div class="articulo__contenedor__body">

                    <div class="articulo__contenedor__body__prev" >

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__prev__form">

                                        <div class="articulo__contenedor__body__prev__form__header"> 
                                            
                                            <div class="articulo__contenedor__body__prev__form__header__prev" > 
                                                <p class="articulo__contenedor__body__prev__form__header__titulo" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.typePerson' | translate }}</p>
                                            </div>

                                            <div class="articulo__contenedor__body__prev__form__header__next" > 

                                                <button *ngIf="habilitaBtnNuevo" class="articulo__contenedor__header__prev__btns__new" 
                                                        mat-flat-button
                                                        (click)="limpiarFormularioTipoPersona()">{{ 'GENERAL.BTN_NEW' | translate }}</button>

                                                <button *ngIf="habilitaBtnActualiza" class="articulo__contenedor__header__prev__btns__warn" 
                                                        mat-flat-button
                                                        (click)="actualizaTipoPersona()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                                                <button *ngIf="habilitaBtnRegistro" class="articulo__contenedor__header__prev__btns__ok" 
                                                        mat-flat-button
                                                        (click)="submitTipoPersona()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
                                                <button *ngIf="habilitaBtnElimibar" class="articulo__contenedor__header__prev__btns__danger" 
                                                        mat-flat-button
                                                        (click)="eliminarTipoPersona()">{{ 'GENERAL.BTN_DELETE' | translate }}</button>

                                            </div>
                                        
                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__content">

                                            <form [formGroup]="formTipoPersona" class="row">

                                                <!-- <div class="col-sm-1 margin-icos-mat"> </div> -->
                    
                                                <!-- id -->
                    
                                                <div class="form-group col-md-3">
                                                    <label for="id" class="form-label">{{ 'MODULES.INVERSIONES_TRANSITORIAS.id' | translate }}</label>
                                                    <input formControlName="id" class="form-control" type="text" id="id_id" readonly />
                                                </div>
                    
                                                <!-- search campos -->
                                                
                                                <div class="form-group col-md-7">
                                                    <label for="lblDescripcion" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.description' | translate }}</label>
                                                    <input formControlName="descripcion" class="form-control" type="text" id="id_descripcion"
                                                        [ngClass]="{ 'is-invalid': submittedTipoPersonaForm && m.descripcion.errors }" />
                                                    <div *ngIf="submittedTipoPersonaForm && m.descripcion.errors" class="invalid-feedback">
                                                        <div *ngIf="m.descripcion.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.descriptionRequired' | translate }}</div>
                                                    </div>
                                                </div>
                    
                                                <div class="col-sm-1 margin-icos-mat">
                                                    <a class="item-list__search"> <mat-icon (click)="buscarTiposPersona()">search</mat-icon> </a>
                                                </div>
                    
                                                <!-- <div class="col-sm-3 margin-icos-mat"> </div> -->
                    
                                                <!-- search campos -->
                    
                                                <!-- actualiza form -->
                    
                                                <!-- linea 1 -->
                    
                                                <!-- <div class="col-sm-1 margin-icos-mat"> </div> -->
                    
                                                <div class="form-group col-md-3">
                                                    <label for="mascaraIdentificacion" class="form-label" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.identificationMask' | translate }}</label>
                                                    <input formControlName="mascaraIdentificacion" class="form-control" type="text" id="id_mascara_identificacion"
                                                        [ngClass]="{ 'is-invalid': submittedTipoPersonaForm && m.mascaraIdentificacion.errors }" />
                                                    <div *ngIf="submittedTipoPersonaForm && m.mascaraIdentificacion.errors" class="invalid-feedback">
                                                        <div *ngIf="m.mascaraIdentificacion.errors.required" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.identificationMaskRequired' | translate }}</div>
                                                    </div>
                                                </div>
                    
                                                <div class="form-group col-sm-1 margin-icos-mat">
                                                    <mat-checkbox formControlName="estado" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.status' | translate }}</mat-checkbox>
                                                </div>
                    
                                                <!-- <div class="col-sm-6 margin-icos-mat"> </div> -->
                    
                                                <!-- linea 1 -->
                    
                                                <!-- linea 2 -->
                    
                                                <!-- linea 2 -->
                    
                                            </form>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>
                    

                    <div class="articulo__contenedor__body__next">

                        <article>
                            <div>
                                <section>
                                    <div class="articulo__contenedor__body__next__list">

                                        <div class="articulo__contenedor__body__next__list__header"> 
                                            
                                            <div class="articulo__contenedor__body__next__list__header__prev" > 
                                                <p class="articulo__contenedor__body__next__list__header__titulo" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.currencyTypeList' | translate }}</p>
                                            </div>

                                            <div class="articulo__contenedor__body__next__list__header__next" > </div>
                                        
                                        </div>

                                        <div class="articulo__contenedor__body__next__list__content">



                                            <!-- <div class="articulo__contenedor__body__next"> -->

                                                <div *ngIf="listTiposPersonas" class="articulo__contenedor__body__next__tabla">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.id' | translate }}</th>
                                                                <th style="width: 25%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.description' | translate }}</th>
                                                                <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.identificationMask' | translate }}</th>
                                                                <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.status' | translate }}</th>
                                                                <th style="width: 10%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.modified' | translate }}</th>
                                                                <th style="width: 15%" >{{ 'MODULES.INVERSIONES_TRANSITORIAS.updated' | translate }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let obj of listTiposPersonas" class="item-list__confirm" (click)="selectTipoPersona(obj)" >
                                                                <td>{{obj.id}}</td>
                                                                <td>{{obj.descripcion}}</td>
                                                                <td>{{obj.mascaraIdentificacion}}</td>
                                                                <td>{{obj.estado}}</td>
                                                                <td>{{obj.modificadoPor}}</td>
                                                                <td>{{obj.fechaModificacion}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                        
                                            <!-- </div> -->



                                        </div>

                                    </div>
                                </section>
                            </div>
                        </article>

                    </div>
                    
                </div>
            </section>

            <!-- // ************
            // ** FOOTER ** -->
            <section>
                <div class="articulo__contenedor__footer">
                    <div class="articulo__contenedor__footer__prev" > </div>

                    <div class="articulo__contenedor__footer__next" > </div>
                </div>
            </section>

        </div>

    </article>
</main>