<article class="articulo">

    <div class="articulo__contenedor mat-elevation-z4">

        <!-- // ************
        // ** HEADER ** -->
        <section>
            <div class="articulo__contenedor__header">

                <div class="articulo__contenedor__header__prev" >

                    <p>{{nombreModulo}} / Mantenimiento de Personas</p>

                </div>

                <div class="articulo__contenedor__header__next" > </div>

            </div>
        </section>

        <!-- // **********
        // ** BODY ** -->

        <!-- *************** -->
        <!-- SECCIÓN PERSONA -->
        <!-- *************** -->
        <section>
            <div class="articulo__contenedor__body">

                <div class="articulo__contenedor__body__prev" >

                    <article>
                        <div>
                            <section>
                                <div class="articulo__contenedor__body__prev__form">

                                    <div class="articulo__contenedor__body__prev__form__header"> 
                                        
                                        <div class="articulo__contenedor__body__prev__form__header__prev" > 
                                            <p class="articulo__contenedor__body__prev__form__header__titulo">Formulario de Personas</p>
                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__header__next" > 

                                            <button *ngIf="habilitaBtnNuevo" class="articulo__contenedor__body__prev__form__header__prev__btns__new" 
                                                    mat-flat-button
                                                    (click)="limpiarFormularioTipoPersona()">Nuevo</button>
                    
                                            <button *ngIf="habilitaBtnActualiza" class="articulo__contenedor__body__prev__form__header__prev__btns__warn" 
                                                    mat-flat-button
                                                    (click)="actualizaObjeto()">Actualizar</button>
                                            <button *ngIf="habilitaBtnRegistro" class="articulo__contenedor__body__prev__form__header__prev__btns__ok" 
                                                    mat-flat-button
                                                    (click)="submitForm()">Registrar</button>
                                            <button *ngIf="habilitaBtnElimibar" class="articulo__contenedor__body__prev__form__header__prev__btns__danger" 
                                                    mat-flat-button
                                                    (click)="eliminarObjeto()">Eliminar</button>

                                        </div>
                                    
                                    </div>

                                    <div class="articulo__contenedor__body__prev__form__content">

                                        <form [formGroup]="formulario" class="row">
                
                                            <!-- id -->
                
                                            <div class="form-group col-md-3">
                                                <label for="id" class="form-label">Id</label>
                                                <input formControlName="id" class="form-control" type="text" id="id_id" readonly />
                                            </div>
                
                                            <!-- search campos -->
                                            
                                            <div class="form-group col-md-6">
                                                <label for="lblIdentificacion" class="form-label">Identificación</label>
                                                <input formControlName="identificacion" class="form-control" type="text" id="id_identificacion"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.identificacion.errors }" />
                                                <div *ngIf="submittedForm && m.identificacion.errors" class="invalid-feedback">
                                                    <div *ngIf="m.identificacion.errors.required">La identificación es requerida .</div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-3 margin-icos-mat">
                                                <a class="item-list__search"> <mat-icon (click)="buscarObjeto()">search</mat-icon> </a>
                                            </div>
                
                                            <!-- search campos -->
                
                                            <!-- actualiza form -->
                
                                            <!-- linea 1 -->
                
                
                                            <div class="form-group col-md-3">
                                                <label for="lblIdTipoPersona" class="form-label">Tipo de Persona</label>
                                                <select formControlName="idTipoPersona" class="form-control" name="selectIdTipoPersona"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.idTipoPersona.errors }" >
                                                        <option [ngValue]="objeto" *ngFor="let objeto of listTiposPersonas">{{objeto.id}} - {{objeto.descripcion}}</option>
                                                </select>
                                                <div *ngIf="submittedForm && m.idTipoPersona.errors" class="invalid-feedback">
                                                    <div *ngIf="m.idTipoPersona.errors.required">El Tipo de Persona es requerido</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-md-3">
                                                <label for="lblNombre" class="form-label">Nombre</label>
                                                <input formControlName="nombre" class="form-control" type="text" id="id_nombre"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.nombre.errors }" />
                                                <div *ngIf="submittedForm && m.nombre.errors" class="invalid-feedback">
                                                    <div *ngIf="m.nombre.errors.required">El nombre es requerido .</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-md-3">
                                                <label for="lblAlias1" class="form-label">Alias 1</label>
                                                <input formControlName="alias1" class="form-control" type="text" id="id_alias1"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.alias1.errors }" />
                                                <div *ngIf="submittedForm && m.alias1.errors" class="invalid-feedback">
                                                    <div *ngIf="m.alias1.errors.required">El primer alias es requerido .</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-md-3">
                                                <label for="lblAlias2" class="form-label">Alias 2</label>
                                                <input formControlName="alias2" class="form-control" type="text" id="id_alias2"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.alias2.errors }" />
                                                <div *ngIf="submittedForm && m.alias2.errors" class="invalid-feedback">
                                                    <div *ngIf="m.alias2.errors.required">El segundo alias es requerido .</div>
                                                </div>
                                            </div>
                
                                            <!-- linea 1 -->
                
                                            <!-- linea 2 -->
                
                                            <div class="form-group col-md-6">
                                                <label for="lblCorreo" class="form-label">Correo Electrónico</label>
                                                <input formControlName="correo" class="form-control" type="text" id="id_correo"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.correo.errors }" />
                                                <div *ngIf="submittedForm && m.correo.errors" class="invalid-feedback">
                                                    <div *ngIf="m.correo.errors.required">El correo es requerido .</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-md-3">
                                                <label for="lblTelefono" class="form-label">Número de Teléfono</label>
                                                <input formControlName="telefono" class="form-control" type="text" id="id_telefono"
                                                    [ngClass]="{ 'is-invalid': submittedForm && m.telefono.errors }" />
                                                <div *ngIf="submittedForm && m.telefono.errors" class="invalid-feedback">
                                                    <div *ngIf="m.telefono.errors.required">El teléfono es requerido .</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-sm-1 margin-icos-mat">
                                                <mat-checkbox formControlName="estado">Estado</mat-checkbox>
                                            </div>
                
                                            <!-- linea 2 -->
                
                                        </form>

                                    </div>

                                </div>
                            </section>
                        </div>
                    </article>

                </div>
                

                <div class="articulo__contenedor__body__next">

                    <article>
                        <div>
                            <section>
                                <div class="articulo__contenedor__body__next__list">

                                    <div class="articulo__contenedor__body__next__list__header"> 
                                        
                                        <div class="articulo__contenedor__body__next__list__header__prev" > 
                                            <p class="articulo__contenedor__body__next__list__header__titulo">Listado de Personas</p>
                                        </div>

                                        <div class="articulo__contenedor__body__next__list__header__next" > </div>
                                    
                                    </div>

                                    <div class="articulo__contenedor__body__next__list__content">

                                        <div *ngIf="listObjetos">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10%">Identificación</th>
                                                        <th style="width: 11%">Nombre</th>
                                                        <th style="width: 11%">Alias</th>
                                                        <th style="width: 15%">Correo Electrónico</th>
                                                        <th style="width: 5%">Estado</th>
                                                        <th style="width: 10%">Modificado</th>
                                                        <th style="width: 15%">Se actualizó</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let obj of listObjetos" class="item-list__confirm" (click)="selectObjectList(obj)" >
                                                        <td>{{obj.identificacion}}</td>
                                                        <td>{{obj.nombre}}</td>
                                                        <td>{{obj.alias1}}</td>
                                                        <td>{{obj.correo}}</td>
                                                        <td>{{obj.estado}}</td>
                                                        <td>{{obj.modificadoPor}}</td>
                                                        <td>{{obj.fechaModificacion}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </section>
                        </div>
                    </article>

                </div>
                
            </div>
        </section>
        
        <!-- ********************** -->
        <!-- SECCIÓN MONTOS MÁXIMOS -->
        <!-- ********************** -->

        <section *ngIf="habilitaMontosMaximosPersona">
            <div class="articulo__contenedor__body">

                <div *ngIf="habilitaFormularioMontosPersona" class="articulo__contenedor__body__prev" >

                    <article>
                        <div>
                            <section>
                                <div class="articulo__contenedor__body__prev__form">

                                    <div class="articulo__contenedor__body__prev__form__header"> 
                                        
                                        <div class="articulo__contenedor__body__prev__form__header__prev" > 
                                            <p class="articulo__contenedor__body__prev__form__header__titulo">Montos de la Persona</p>
                                        </div>

                                        <div class="articulo__contenedor__body__prev__form__header__next" > 

                                            <button *ngIf="habilitaBtnNuevoMonto" class="articulo__contenedor__body__prev__form__header__prev__btns__new" 
                                                    mat-flat-button
                                                    (click)="limpiarFormularioMontosPersona()">Nuevo</button>
                    
                                            <button *ngIf="habilitaBtnActualizaMonto" class="articulo__contenedor__body__prev__form__header__prev__btns__warn" 
                                                    mat-flat-button
                                                    (click)="actualizaObjetoMontoPersona()">Actualizar</button>
                                            <button *ngIf="habilitaBtnRegistroMonto" class="articulo__contenedor__body__prev__form__header__prev__btns__ok" 
                                                    mat-flat-button
                                                    (click)="submitFormMontosPersona()">Registrar</button>
                                            <button *ngIf="habilitaBtnEliminarMonto" class="articulo__contenedor__body__prev__form__header__prev__btns__danger" 
                                                    mat-flat-button
                                                    (click)="eliminarObjetoMontoPersona()">Eliminar</button>

                                        </div>
                                    
                                    </div>

                                    <div class="articulo__contenedor__body__prev__form__content">

                                        <form [formGroup]="formularioMontosPersona" class="row">
                

                                            <div class="form-group col-md-2">
                                                <label for="id" class="form-label">Id</label>
                                                <input formControlName="id" class="form-control" type="text" id="id_id" readonly />
                                            </div>

                                            <!-- actualiza form -->
                
                                            <!-- linea 1 -->
                
                
                                            <div class="form-group col-md-4">
                                                <label for="lblIdMoneda" class="form-label">Seleccione la Moneda</label>
                                                <select formControlName="idMoneda" class="form-control" name="selectIdMoneda"
                                                    [ngClass]="{ 'is-invalid': submittedFormMontosPersona && p.idMoneda.errors }" >
                                                        <option [ngValue]="objeto" *ngFor="let objeto of listTiposMonedas">{{objeto.id}} - {{objeto.descripcion}}</option>
                                                </select>
                                                <div *ngIf="submittedFormMontosPersona && p.idMoneda.errors" class="invalid-feedback">
                                                    <div *ngIf="p.idMoneda.errors.required">El Tipo de Moneda es requerido .</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-md-3">
                                                <label for="lblMontoMaximoInversiones" class="form-label">+ Inversiones</label>
                                                <input formControlName="montoMaximoInversiones" class="form-control" type="text" id="id_montoMaximoInversiones"
                                                        placeholder=".00"
                                                    [ngClass]="{ 'is-invalid': submittedFormMontosPersona && p.montoMaximoInversiones.errors }" />
                                                <div *ngIf="submittedFormMontosPersona && p.montoMaximoInversiones.errors" class="invalid-feedback">
                                                    <div *ngIf="p.montoMaximoInversiones.errors.required">El Monto Máximo de Inversión es requerido .</div>
                                                </div>
                                            </div>
                
                                            <div class="form-group col-md-3">
                                                <label for="lblMontoMaximoFondos" class="form-label">+ Fondos</label>
                                                <input formControlName="montoMaximoFondos" class="form-control" type="text" id="id_montoMaximoFondos"
                                                        placeholder=".00"
                                                    [ngClass]="{ 'is-invalid': submittedFormMontosPersona && p.montoMaximoFondos.errors }" />
                                                <div *ngIf="submittedFormMontosPersona && p.montoMaximoFondos.errors" class="invalid-feedback">
                                                    <div *ngIf="p.montoMaximoFondos.errors.required">El primer alias es requerido .</div>
                                                </div>
                                            </div>
                
                                            <!-- linea 1 -->
                
                                            <!-- linea 2 -->

                                            <!-- linea 2 -->
                
                                        </form>

                                    </div>

                                </div>
                            </section>
                        </div>
                    </article>

                </div>
                

                <div *ngIf="habilitaListaMontosPersona" class="articulo__contenedor__body__next">

                    <article>
                        <div>
                            <section>
                                <div class="articulo__contenedor__body__next__list">

                                    <div class="articulo__contenedor__body__next__list__header"> 
                                        
                                        <div class="articulo__contenedor__body__next__list__header__prev" > 
                                            <p class="articulo__contenedor__body__next__list__header__titulo">Listado Asignación de Montos por Persona</p>
                                        </div>

                                        <div class="articulo__contenedor__body__next__list__header__next" > </div>
                                    
                                    </div>

                                    <div class="articulo__contenedor__body__next__list__content">

                                        <div *ngIf="listObjetos">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10%">Id Moneda</th>
                                                        <th style="width: 15%">Máximo para Inversiones</th>
                                                        <th style="width: 15%">Máximo para Fondos</th>
            
                                                        <th style="width: 10%">Modificado</th>
                                                        <th style="width: 15%">Se actualizó</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let obj of listObjetosMontosPersonas" class="item-list__confirm" (click)="selectObjectListMontosPersona(obj)" >
                                                        <td>{{obj.idMoneda}}</td>
                                                        <td>{{obj.maximoInversiones}}</td>
                                                        <td>{{obj.maximoFondos}}</td>
            
                                                        <td>{{obj.modificadoPor}}</td>
                                                        <td>{{obj.fechaModificacion}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </section>
                        </div>
                    </article>

                </div>
                
            </div>
        </section>

        <!-- // ************
        // ** FOOTER ** -->
        <section>
            <div class="articulo__contenedor__footer">
                <div class="articulo__contenedor__footer__prev" > </div>

                <div class="articulo__contenedor__footer__next" > </div>
            </div>
        </section>

    </div>

</article>