<h2>Registro de Roles <h4 style="color:#1A5276">{{user.empresa}}</h4></h2>
<br><br>

<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="identificacion">Identificación del Rol</label>
                <input type="text" formControlName="identificacion" placeholder="id-rol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }" />
                <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.identificacion.errors.required">La identificación del rol es requerida !</div>
                </div>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">El nombre del rol es requerido !</div>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
                <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                    <div *ngIf="f.descripcion.errors.required">Username is required</div>
                </div>
            </div>
            
            
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-outline-success mb-2 float-right">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Registrar
                </button>
                <a routerLink="/_RoleModule/AdministracionRoles/{{user.empresa}}" class="btn btn-outline-secondary mb-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>