<br><hr>
<h2 style="margin-left: 1%; display: inline; color:#1A5276">{{ 'CONFIGURATION.WELCOME' | translate}} !</h2>
<br><hr><br>

<div class="card">
    <div class="card-body">
        <br>
        <h1 style="color:#1A5276">{{ 'CONFIGURATION.USER_PARAMETERS' | translate}}</h1>
        <br>
        <a routerLink="{{URLConfigureUserPage}}{{userObservable.identificacion}}" class="btn btn-outline-dark mb-2">{{ 'CONFIGURATION.BTN_UPDATE_INFORMATION' | translate}}</a>
        <br><hr><br>

        <!-- // *************************************************************************************************************************************************** // -->

        <h1 style="color:#1A5276">{{ 'CONFIGURATION.MODULES_SISTEM_ADMIN' | translate}}</h1>
        <br>
        <a style="margin-right: 1%;" routerLink="{{URLListUserPage}}" class="btn btn-outline-dark mb-2">{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}</a>
        <!-- access technical user -->
        <a *ngIf="userObservable.esAdmin" style="margin-right: 1%; background-color: #1A5276; color: aliceblue;" routerLink="{{URLListBusinessPage}}" class="btn btn-outline-dark mb-2">{{ 'CONFIGURATION.BTN_ADMIN_COMPANIES' | translate}}</a>
        <a *ngIf="userObservable.esAdmin" style="margin-right: 1%; background-color: #1A5276; color: aliceblue;" routerLink="{{URLListPlanPage}}" class="btn btn-outline-dark mb-2">{{ 'CONFIGURATION.BTN_ADMIN_PLANES' | translate}}</a>
        <!-- --------------------- -->
        <a style="margin-right: 1%;" routerLink="{{URLListModulePage}}" class="btn btn-outline-dark mb-2">{{ 'CONFIGURATION.BTN_ADMIN_MODULES' | translate}}</a>
        <a style="margin-right: 1%;" routerLink="{{URLListRolePage}}" class="btn btn-outline-dark mb-2">{{ 'CONFIGURATION.BTN_ADMIN_ROLES' | translate}}</a>
        <br>
    </div>
</div>
<br>
<hr>
