<div class="contenido-main">
  
  <div>
    <div>
      <p class="contenido-main__h1">{{businessObservable.nombre}}</p>
      <p class="contenido-main__h2">{{ 'CONFIGURATION.ADMIN_PAGE_LIST_USERS.TITLE' | translate }}</p>
    </div>
    <hr>
    <button class="back-ico-two"
            title="{{ 'CONFIGURATION.BTN_ADMIN_USERS' | translate}}"
            mat-icon-button 
            (click)="redirectListUsersPage()"> <mat-icon>arrow_back</mat-icon> </button>
  </div>

  <div class="card">  
    <div class="card-body">

      <div>
          <p *ngIf="updateUser" class="contenido-main__h3">{{ 'CONFIGURATION.ADD_EDIT_USER.PARAMETERS_USER' | translate: { nombreCompleto: usuarioSeleccionado.nombreCompleto } }}</p>
          <p *ngIf="addUser" class="contenido-main__h3">{{ 'CONFIGURATION.ADD_EDIT_USER.REGISTER_USER' | translate }}</p>
      </div>

      <hr>

      <!-- *************************** -->
      <!-- SECCIÓN FORMULARIO USUARIO  -->
      <!-- *************************** -->
        
      <div class="formulario-izquierdo">
        <div class="formulario-izquierdo__nav">
          <div class="formulario-izquierdo__nav__prev">
            <p class="formulario-izquierdo__nav__prev__tittle">{{ 'CONFIGURATION.ADD_EDIT_USER.TITLE' | translate }}</p>
          </div>

          <div class="formulario-izquierdo__nav__next">
            <button *ngIf="updateUser" 
                    class="formulario-izquierdo__nav__next__btn-warn" 
                    mat-flat-button 
                    (click)="actualizarUsuario()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
            <button *ngIf="addUser" 
                    class="formulario-izquierdo__nav__next__btn-ok" 
                    mat-flat-button 
                    (click)="registrarUsuario()">{{ 'GENERAL.BTN_REGISTER' | translate }}</button>
          </div>
        </div>

        <div class="p-2">
          <form [formGroup]="usuarioForm" class="row">

            <div class="col-md-4">
              <span for="lblIdentificacionUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_ID' | translate }}</span>
              <input formControlName="identificacionUsuario"
                      class="form-control"
                      type="text"
                      id="id_identificacionUsuario"
                      [ngClass]="{'is-invalid': submitFormUsuario && f.identificacionUsuario.errors}"
                      [pattern]="ussPattern" />
              <div *ngIf="submitFormUsuario && f.identificacionUsuario.errors" class="invalid-feedback">
                <div *ngIf="f.identificacionUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
              </div>

              <div *ngIf="f.identificacionUsuario.errors?.pattern" class="invalid-feedback">
                <div style="text-align: center">{{ 'GENERAL.VALIDATES.REGEX' | translate }}</div>
              </div>
            </div>

            <div class="col-md-8">
              <span for="lblNombreCompletoUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_USERNAME' | translate }}</span>
              <input  maxlength="300"
                      formControlName="nombreCompletoUsuario"
                      class="form-control"
                      type="text"
                      id="id_nombreCompletoUsuario"
                      [ngClass]="{'is-invalid': submitFormUsuario && f.nombreCompletoUsuario.errors}" />
              <div *ngIf="submitFormUsuario && f.nombreCompletoUsuario.errors" class="invalid-feedback">
                <div *ngIf="f.nombreCompletoUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
              </div>
            </div>

            <div class="col-md-4">
              <span for="lblNumeroTelefonoUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_PHONE' | translate }}</span>
              <input  maxlength="15"
                      formControlName="numeroTelefonoUsuario"
                      class="form-control"
                      type="text"
                      id="id_numeroTelefonoUsuario"
                      [ngClass]="{'is-invalid': submitFormUsuario && f.numeroTelefonoUsuario.errors}" />
              <div *ngIf="submitFormUsuario && f.numeroTelefonoUsuario.errors" class="invalid-feedback">
                  <div *ngIf="f.numeroTelefonoUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
              </div>
            </div>

            <div class="col-md-8">
                <span for="lblCorreoElectronicoUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_EMAIL' | translate }}</span>
                <input  formControlName="correoElectronicoUsuario"
                        class="form-control"
                        type="text"
                        id="id_correoElectronicoUsuario"
                        [ngClass]="{'is-invalid': submitFormUsuario && f.correoElectronicoUsuario.errors}" />
                <div *ngIf="submitFormUsuario && f.correoElectronicoUsuario.errors" class="invalid-feedback">
                    <div *ngIf="f.correoElectronicoUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                </div>
                <div *ngIf="f.correoElectronicoUsuario.errors?.pattern" class="invalid-feedback">
                  <div style="text-align: center">{{ 'GENERAL.VALIDATES.REGEX' | translate }}</div>
                </div>
            </div>

            <div class="col-md-4">
              <span for="lblPasswordUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_PASSWORD' | translate }}</span>
              <input  formControlName="passwordUsuario"
                      class="form-control"
                      type="password"
                      id="id_passwordUsuario"
                      [ngClass]="{'is-invalid': submitFormUsuario && f.passwordUsuario.errors}"
                      [pattern]="pwdPattern" />
              <div *ngIf="submitFormUsuario && f.passwordUsuario.errors" class="invalid-feedback">
                  <div *ngIf="f.passwordUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                  <div *ngIf="f.passwordUsuario.errors.minlength">{{ 'GENERAL.VALIDATES.PASSWORD_MIN' | translate:{ MIN: 5 } }}</div>
              </div>
              <div *ngIf="f.passwordUsuario.errors?.pattern" class="invalid-feedback">
                <div style="text-align: center">{{ 'GENERAL.VALIDATES.REGEX' | translate }}</div>
              </div>
            </div>

            <div class="col-md-8">
              <span for="lblPuestoUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_POSITION' | translate }}</span>
              <input  maxlength="100"
                      formControlName="puestoUsuario"
                      class="form-control"
                      type="text"
                      id="id_puestoUsuario"
                      [ngClass]="{'is-invalid': submitFormUsuario && f.puestoUsuario.errors}" />
              <div *ngIf="submitFormUsuario && f.puestoUsuario.errors" class="invalid-feedback">
                  <div *ngIf="f.puestoUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
              </div>
            </div>

            <div class="col-md-12">
              <span for="lblRolUsuario" class="form-label">{{ 'CONFIGURATION.ADD_EDIT_USER.FORM.TXT_ROLE' | translate }}</span>
              <input  maxlength="100"
                      formControlName="rolUsuario"
                      class="form-control"
                      type="text"
                      id="id_rolUsuario"
                      [ngClass]="{'is-invalid': submitFormUsuario && f.rolUsuario.errors}" />
              <div *ngIf="submitFormUsuario && f.rolUsuario.errors" class="invalid-feedback">
                  <div *ngIf="f.rolUsuario.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
              </div>
            </div>

          </form>
        </div>
      </div>

      <!-- ************************ -->
      <!-- USUARIO SELECCIONADO     -->
      <!-- ************************ -->
            
      <div *ngIf="updateUser" class="contenido-main__table">
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
                <th class="contenido-main__table__aeup-id">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.ID' | translate }}</th>
                <th class="contenido-main__table__aeup-name">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.USERNAME' | translate }}</th>
                <th class="contenido-main__table__aeup-email">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.EMAIL' | translate }}</th>
                <th class="contenido-main__table__aeup-position">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.POSITION' | translate }}</th>
                <th class="contenido-main__table__aeup-role">{{ 'CONFIGURATION.ADD_EDIT_USER.TABLE.ROLE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{usuarioSeleccionado.identificacion}}</td>
                <td>{{usuarioSeleccionado.nombreCompleto}}</td>
                <td>{{usuarioSeleccionado.email}}</td>
                <td>{{usuarioSeleccionado.puesto}}</td>
                <td>{{nombreRol}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>