<h1 style="color:#1A5276">Usuarios</h1>
<h4>Lista de de usuarios registrados en el sistema</h4>
<a routerLink="{{URLAdministratorPage}}" class="btn btn-light mb-2 mr-3">Volver</a><br>
<div class="card">

    <div class="card-body">

        <button routerLink="{{URLAddEditUsertPage}}"
                class="item-list__confirm float-right" 
                mat-icon-button > <mat-icon>person_add</mat-icon>
        </button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 1%"></th>
                    <th style="width: 9%">Identificación</th>
                    <th style="width: 20%">Nombre</th>
                    <th style="width: 20%">Email</th>
                    <th style="width: 25%">Puesto</th>
                    <th style="width: 10%">Estado</th>

                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>
                    <th style="width: 1%"></th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let us of listUsers"
                    class="item-list__list" >

                    <td style="white-space: nowrap" 
                        class="item-list__edit"
                        (click)="selectObjetoUsuario(us)">
                        <a> <mat-icon>edit</mat-icon> </a>
                    </td>

                    <td (click)="selectObjetoUsuario(us)">{{us.identificacion}}</td>
                    <td (click)="selectObjetoUsuario(us)">{{us.nombreCompleto}}</td>
                    <td (click)="selectObjetoUsuario(us)">{{us.email}}</td>
                    <td (click)="selectObjetoUsuario(us)">{{us.puesto}}</td>
                    <td (click)="selectObjetoUsuario(us)">{{us.estado}}</td>

                    <td style="white-space: normal">
                        <button *ngIf="isUserSuperAdmin" (click)="selectEmpresa(us)" 
                                                            class="btn-sm item-list__admin__view"> 
                            Empresa 
                        </button>
                    </td>

                    <td style="white-space: normal">
                        <button routerLink="{{URLAddRoleUsertPage}}{{us.identificacion}}" 
                                class="btn-sm item-list__admin__view"> 
                            Rol 
                        </button>
                    </td>

                    <td style="white-space: normal">
                        <button *ngIf="us.estado!='Activo'"
                            (click)="activateUser(us.identificacion, us.id)"
                            class="btn-sm item-list__admin__ok" 
                            mat-icon-button > <mat-icon>thumb_down_alt</mat-icon>
                        </button>

                        <button *ngIf="us.estado=='Activo'"
                            (click)="inActivateUser(us.identificacion, us.id)"
                            class="btn-sm item-list__admin__warn" 
                            mat-icon-button > <mat-icon>thumb_up_alt</mat-icon>
                        </button>
                    </td>

                    <td style="white-space: normal">

                        <button (click)="deleteUser(us.identificacion, us.id)"
                            class="bbtn-sm item-list__admin__danger" 
                            mat-icon-button > <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>
            </tbody>

        </table>

    </div>
</div>
