<article class="articulo-generales">
  <section>
    <div class="articulo__contenedor__tittle">
      <p class="articulo__contenedor__tittle__h2">{{ 'MODULES.GENERAL.TITLE' | translate: {DESC:moduleObservable.descripcion, NM:companiaObservable.nombre} }}</p>
    </div>
  </section>

  <section>
    <div class="card">
      <div class="card-body">
        <article class="articulo__contenedor__body">
          <section>
            <div class="articulo__contenedor__body__prev">
              <div class="articulo__contenedor__body__prev__form">
                <div class="articulo__contenedor__body__prev__form__header p-2">
                  <div class="articulo__contenedor__body__prev__form__header__prev">
                    <p class="tittle_form_h1">{{ 'MODULES.GENERAL.SUBTITLE' | translate }}</p>
                  </div>
  
                  <div class="articulo__contenedor__body__prev__form__header__next">
                    <button class="articulo__contenedor__header__prev__btns__warn" mat-flat-button (click)="UpdateCompania()">{{ 'GENERAL.BTN_UPDATE' | translate }}</button>
                  </div>
                </div>
  
                <div class="articulo__contenedor__body__prev__form__content p-2">
                  <form [formGroup]="companiaForm" class="row">
                    <div class="form-group col-md-3">
                      <label for="lbltipoIdentificacionCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.TYPE_IDENTIFICATION' | translate }}</label>
                      <input maxlength="50" formControlName="tipoIdentificacionCompania" class="form-control" type="text" id="id_tipoIdentificacion" [ngClass]="{'is-invalid': submitFormCompania && f.tipoIdentificacionCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.tipoIdentificacionCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.tipoIdentificacionCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-3">
                      <label for="lblnumeroIdentificacionCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.IDENTIFICATION' | translate }}</label>
                      <input maxlength="200" formControlName="numeroIdentificacionCompania" class="form-control" type="text" id="id_numeroIdentificacionCompania" [ngClass]="{'is-invalid': submitFormCompania && f.numeroIdentificacionCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.numeroIdentificacionCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.numeroIdentificacionCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-6">
                      <label for="lblnombreCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.COMPANY_NAME' | translate }}</label>
                      <input maxlength="50" formControlName="nombreCompania" class="form-control" type="text" id="id_nombreCompania" [ngClass]="{'is-invalid': submitFormCompania && f.nombreCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.nombreCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.nombreCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-4">
                      <label for="lblcodigoPaisUbicacionCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.COUNTRY_CODE' | translate }}</label>
                      <input formControlName="codigoPaisUbicacionCompania" class="form-control" type="text" id="id_codigoPaisUbicacionCompania" [ngClass]="{'is-invalid': submitFormCompania && f.codigoPaisUbicacionCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.codigoPaisUbicacionCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.codigoPaisUbicacionCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2">
                      <label for="lblprovinciaCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.PROVINCE' | translate }}</label>
                      <input formControlName="provinciaCompania" class="form-control" type="text" id="id_provinciaCompania" [ngClass]="{'is-invalid': submitFormCompania && f.provinciaCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.provinciaCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.provinciaCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2">
                      <label for="lblcantonCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.CANTON' | translate }}</label>
                      <input formControlName="cantonCompania" class="form-control" type="text" id="id_cantonCompania" [ngClass]="{'is-invalid': submitFormCompania && f.cantonCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.cantonCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.cantonCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2">
                      <label for="lbldistritoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.DISTRICT' | translate }}</label>
                      <input formControlName="distritoCompania" class="form-control" type="text" id="id_distritoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.distritoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.distritoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.distritoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2">
                      <label for="lblbarrioCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.NEIGHBORHOOD' | translate }}</label>
                      <input formControlName="barrioCompania" class="form-control" type="text" id="id_barrioCompania" [ngClass]="{'is-invalid': submitFormCompania && f.barrioCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.barrioCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.barrioCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2"></div>
  
                    <div class="form-group col-md-12">
                      <label for="lbldetalleDireccionCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.ADDRESS_DETAIL' | translate }}</label>
                      <input formControlName="detalleDireccionCompania" class="form-control" type="text" id="id_detalleDireccionCompania" [ngClass]="{'is-invalid': submitFormCompania && f.detalleDireccionCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.detalleDireccionCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.detalleDireccionCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-4">
                      <label for="lblcodigoTelefonoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.AREA_CODE_PHONE' | translate }}</label>
                      <input formControlName="codigoTelefonoCompania" class="form-control" type="text" id="id_codigoTelefonoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.codigoTelefonoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.codigoTelefonoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.codigoTelefonoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-4">
                      <label for="lbltelefonoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.PHONE' | translate }}</label>
                      <input formControlName="telefonoCompania" class="form-control" type="text" id="id_telefonoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.telefonoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.telefonoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.telefonoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-4"></div>
  
                    <div class="form-group col-md-6">
                      <label for="lblcorreoElectronicoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.EMAIL' | translate }}</label>
                      <input formControlName="correoElectronicoCompania" class="form-control" type="text" id="id_correoElectronicoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.correoElectronicoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.correoElectronicoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.correoElectronicoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-6">
                      <label for="lblclaveCorreoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.PASSWORD' | translate }}</label>
                      <input formControlName="claveCorreoCompania" class="form-control" type="password" id="id_claveCorreoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.claveCorreoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.claveCorreoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.claveCorreoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-5">
                      <label for="lblhostCorreoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.EMAIL_PROVIDER_HOST' | translate }}</label>
                      <input formControlName="hostCorreoCompania" class="form-control" type="text" id="id_hostCorreoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.hostCorreoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.hostCorreoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.hostCorreoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2">
                      <label for="lblpuertoCorreoCompania" class="form-label">{{ 'MODULES.GENERAL.FORM.PORT' | translate }}</label>
                      <input formControlName="puertoCorreoCompania" class="form-control" type="text" id="id_puertoCorreoCompania" [ngClass]="{'is-invalid': submitFormCompania && f.puertoCorreoCompania.errors}" />
                      <div *ngIf="submitFormCompania && f.puertoCorreoCompania.errors" class="invalid-feedback">
                        <div *ngIf="f.puertoCorreoCompania.errors.required">{{ 'GENERAL.VALIDATES.EMPTY' | translate }}</div>
                      </div>
                    </div>
  
                    <div class="form-group col-md-2 margin-icos-mat">
                      <mat-checkbox formControlName="estadoSSLCompania">{{ 'MODULES.GENERAL.FORM.SSL_STATUS' | translate }}</mat-checkbox>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          </article>

          <article>
          <section>
            <div class="articulo__contenedor__body__complete">
              <div class="articulo__contenedor__body__next__list">
                <div class="articulo__contenedor__body__next__list">
                  <div class="articulo__contenedor__body__next__list__header">
                    <hr>
                    <div class="articulo__contenedor__body__prev__list__header__prev">
                      <p class="articulo__contenedor__tittle__h3">{{ 'MODULES.GENERAL.TITLE_LIST' | translate }}</p>
                    </div>
    
                    <div class="articulo__contenedor__body__prev__list__header__next"></div>
                  </div>
    
                  <div class="articulo__contenedor__body__next__list__content">
                    <div class="articulo__contenedor__table">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 20%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_NAME' | translate }}</th>
                            <th style="width: 10%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_LEGAL_ID' | translate }}</th>
                            <th style="width: 20%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_EMAIL' | translate }}</th>
                            <th style="width: 30%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_ADDRESS_DETAIL' | translate }}</th>
                            <th style="width: 5%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_PHONE' | translate }}</th>
                            <th style="width: 5%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_UPDATED' | translate }}</th>
                            <th style="width: 10%">{{ 'MODULES.GENERAL.TABLE.TABLE_HEADER_DATE' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="item-list__list" (click)="selectObjetoCompania()">
                            <td>{{companiaSeleccionada.nombre}}</td>
                            <td>{{companiaSeleccionada.cedulaJuridica}}</td>
                            <td>{{companiaSeleccionada.correoElectronico}}</td>
                            <td>{{companiaSeleccionada.detalleDireccion}}</td>
                            <td>{{companiaSeleccionada.telefono}}</td>
                            <td>{{companiaSeleccionada.modificadoPor}}</td>
                            <td>{{companiaSeleccionada.fechaModificacion}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>

      </div>
    </div>
  </section>

  <section>
    <div class="articulo__contenedor__footer">
      <div class="articulo__contenedor__footer__prev"></div>

      <div class="articulo__contenedor__footer__next"></div>
    </div>
  </section>

</article>
