.fonTranslate {
    
    width: 120px;
    height: 30px;
    
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    
    border-radius: 3px;
    overflow: hidden;

    display: flex;
    align-items: center;

    padding-top: 25px;

    @media (max-width: 800px) {  width: 120px; }
}

/* .select {
    width: 40%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: #343434;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
}  */
/* 
.select-label {
    font-size: 1em;
    color: #343434;
    margin-right: 5px;
}

.option-selection {
    opacity: 0.75;
    font-size: 1em;
  } */