

.fonTranslate {
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 84px;
    height: 21px;
    border-radius: 3px;
    overflow: hidden;

    display: flex;
    align-items: center;

    padding-left: 9px;
    padding-top: 9px;

    @media (max-width: 800px) { 
        width: 75px;
        height: 15px;

        padding-left: 5px;
        padding-top: 7px;

        font-size: 0.9em;
    }
}

.select {
    width: 40%;
    /* height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: #343434;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center; */
}

.select-label {
    font-size: 1em;
    color: #343434;
    margin-right: 5px;
}

.option-selection {
    opacity: 0.75;
    font-size: 1em;
  }