.container { width: 400px; padding: 5%; }

.buttoms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.buttom { margin: 2%; }