@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

@mixin font-aero {
    font-family: "../../assets/fonts/Aero.ttf";
    font-size: 1.4rem;
    font-weight: 750;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 1rem;
    }
}
@mixin font-info {
    font-size: 0.8rem;
    font-weight: 550;
    text-align: center;
}

.info {
    height: 25px;

    @include bg-color-darkest-blue;
    display: flex;

    justify-content: flex-end;
    flex-direction: row;

    &__logout {
        margin-top: 1px;
        margin-right: 2%;
        color: white;
    }
    &__user {
        display: flex;
        padding-right: 1%;

        color: white;
    }
    &__user__icon {
        margin-right: 2%;
        margin-top: 5px;
    }
    &__logout__icon {
        margin-left: 2%;
        margin-top: 5px;
    }
    &__user__icon:hover {
        cursor: pointer;
        color: #F9A01B;
    }
    &__logout__icon:hover {
        cursor: pointer;
        color: #F9A01B;
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#00AEEF 1%, #005188, #053254 90%);

    &__description {
        color: white;
        display: flex;
        padding-top: 1%;
        @include font-aero;
    }

    &__deco--left {
        height: 13%;
        width: 13%;
        padding-left: 1%;
    }

    &__deco--right {
        height: 13%;
        width: 13%;
        padding-right: 1%;
    }
}

.footer {

    position: fixed;
    bottom: 0px;
    left: 0px;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: flex;

    width: 100%;
    height: 3%;

    padding-left: 20%;
    padding-right: 20%;

    @include bg-color-darkest-blue;

    &__compra{
        margin-top: 2.1%;
        @include font-info;
        color: white;
    }

    &__venta{
        margin-top: 2.1%;
        @include font-info;
        color: white;
    }
}

.styleLayout {
    margin-top: 1%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 1%;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightsteelblue;

    border-radius: 10px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon{
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
// -- >> FIN CAMBIOS DEL MENÚ HAMBURGUESA


.articulo {
    &__contenedor {
        border-radius: 10px;
        &__header {
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(202, 202, 202);
            &__prev {
                width: 50%;
                padding-left: 1%;
                padding-top: 1%;
                display: inline-block;
                &__btns{
                    color: #053254;
                    transition: color 0.2s ease-in-out;
                    &__ok{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #129523;
                            cursor: pointer;
                        }
                    }
                    &__warn{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #F9A01B;
                            cursor: pointer;
                        }
                    }
                    &__new{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #B3B3B3;
                            cursor: pointer;
                        }
                    }
                    &__danger{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover {
                            color: #b82424;
                            cursor: pointer;
                        }
                    }
                }
            }
            &__next {
                width: 50%;
                padding: 0.5% 2% 0 0;
                display: inline-block;
                text-align: right;
            }
        }
        &__body {
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 1%;
            padding-right: 1%;
            display: flex;
            &__prev_list{
                background-color: white;
                border-radius: 10px;
                width: 49%;
                display: flex;
                flex-direction: column;
                margin-right: 1%;
            }
            &__prev {
                background-color: #254156;
                color: white;
                width: 50%;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                &__form {
                    &__header {
                        &__titulo{
                            color: white;
                        }
                        border-bottom: 1px solid white;
                        &__prev {
                            width: 50%;
                            padding-left: 2%;
                            display: inline-block;
                            text-align: left;
                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;
                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #129523;
                                        cursor: pointer;
                                    }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #F9A01B;
                                        cursor: pointer;
                                    }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #005188;
                                        cursor: pointer;
                                    }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #b82424;
                                        cursor: pointer;
                                    }
                                }
                                &__otro{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #00AEEF;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &__next {
                            width: 50%;
                            padding-right   : 2%;
                            padding-top: 0.5%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{
                        width: 100%;
                        padding-left: 4%;
                        padding-right: 4%;
                        &__div_icon_search {
                            text-align: center;
                            padding-top: 35px;
                        }
                    }
                }
                &__list {
                    &__header {
                        &__titulo{
                            color: #053254;
                        }
                        &__prev {
                            width: 90%;
                            padding-left: 1%;
                            display: inline-block;
                            text-align: left;
                            padding-top: 1%;
                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;
                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #129523;
                                        cursor: pointer;
                                    }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #F9A01B;
                                        cursor: pointer;
                                    }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #B3B3B3;
                                        cursor: pointer;
                                    }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #b82424;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &__next {
                            width: 10%;

                            padding-right   : 2%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{
                        width: 100%;
                    }
                }
            }
            &__next_list {
                background-color: white;
                border-radius: 10px;
                width: 49%;
                display: flex;
                flex-direction: column;
                margin-left: 1%;
            }
            &__next {
                background-color: white;
                border-radius: 10px;
                width: 50%;
                display: flex;
                flex-direction: column;
                &__list {
                    &__header {
                        &__titulo{
                            color: #053254;
                        }
                        &__prev {
                            width: 90%;
                            padding-left: 1%;
                            display: inline-block;
                            text-align: left;
                            padding-top: 1%;
                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;
                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #129523;
                                        cursor: pointer;
                                    }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #F9A01B;
                                        cursor: pointer;
                                    }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #B3B3B3;
                                        cursor: pointer;
                                    }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover {
                                        color: #b82424;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &__next {
                            width: 10%;

                            padding-right   : 2%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{
                        width: 100%;
                    }
                }
            }
            &__complete{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
        }
        &__footer {
            border-top: 1px solid rgb(202, 202, 202);
            &__prev {
                width: 50%;
                padding: 1% 0 0.5% 2%;
                display: inline-block;
                text-align: left;
            }
            &__next {
                width: 50%;
                padding: 1% 2% 0.5% 0;
                display: inline-block;
                text-align: right;
            }
        }
    }
}

.margin-icos-mat {
    padding-top: 35px;
}

.flexCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: self-end;
  padding: 0px;
}


// actualizaciones 2024 *****************

.articulo {
    margin-top: 1%;
    margin-bottom: 1%;
    &__contenedor {
        &__tittle{
            &__h1{
                color: #053254;
                font-size: 1.5rem;
                font-weight: 700;
                @media (max-width: 800px) { font-size: 1rem; }
            }
            &__h2{
                color: #B3B3B3;
                font-size: 1.2rem;
                font-weight: 500;
                @media (max-width: 800px) { font-size: 1rem; }
            }
            &__h3{
                color: #005188;
                font-size: 1.2rem;
                font-weight: 500;
                @media (max-width: 800px) { font-size: 1rem; }
            }
        }
        &__header {
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(202, 202, 202);
            &__prev {
                width: 50%;
                padding-left: 1%;
                padding-top: 1%;
                display: inline-block;
                &__title{
                    color: #053254;
                    font-size: 1.5rem;
                    font-weight: 700;
                    @media (max-width: 800px) { font-size: 1rem; }
                }
                &__subtitle{
                    color: #F9A01B;
                    font-size: 1.2rem;
                    font-weight: 500;
                    @media (max-width: 800px) { font-size: 1rem; }
                }
                &__btns{
                    color: #053254;
                    transition: color 0.2s ease-in-out;
                    &__ok{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover { color: #129523; cursor: pointer; }
                    }
                    &__warn{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover { color: #F9A01B; cursor: pointer; }
                    }
                    &__new{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover { color: #B3B3B3; cursor: pointer; }
                    }
                    &__danger{
                        margin-left: 0.2%;
                        margin-right: 0.2%;
                        &:hover { color: #b82424; cursor: pointer;
                        }
                    }
                }
            }
            &__next {
                width: 50%;
                padding: 0.5% 2% 0 0;
                display: inline-block;
                text-align: right;
            }
        }
        &__body {
            display: flex;
            &__prev_list{
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-right: 0.5%;
            }
            &__prev_form{
                background-color: #254156;
                color: white;
                width: 50%;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                margin-top: 1%;
            }
            &__prev {
                background-color: #254156;
                color: white;
                width: 50%;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                @media (max-width: 1200px) { width: 100%; }
                &__form {
                    &__header {
                        border-bottom: 1px solid white;
                        &__prev {
                            width: 50%;
                            padding-left: 2%;
                            display: inline-block;
                            text-align: left;
                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;
                                &__ok{ &:hover { color: #0F426A; cursor: pointer; } }
                                &__warn{ &:hover { color: #F9A01B; cursor: pointer; } }
                                &__new{ &:hover { color: green; cursor: pointer; } }
                                &__danger{ &:hover { color: #b82424; cursor: pointer; } }
                                &__otro{ &:hover { color: #00AEEF; cursor: pointer; } }
                            }
                        }
                        &__next {
                            width: 50%;
                            padding-right : 2%;
                            padding-top: 0.5%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{
                        padding-top: 1%;
                        padding-left: 3%;
                        padding-right: 1%;
                        &__span{
                            color: white;
                            font-size: 1rem;
                            font-weight: 400;
                            @media (max-width: 800px) { font-size: 0.9rem; font-weight: 450; }
                        }
                        &__div_icon_search { text-align: center; padding-top: 35px; }
                    }
                }
                &__list {
                    &__header {
                        &__titulo{ color: #053254; }
                        &__prev {
                            width: 90%;
                            padding-top: 1%;
                            padding-left: 1%;
                            display: inline-block;
                            text-align: left;
                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;
                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #129523; cursor: pointer; }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #F9A01B; cursor: pointer; }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #B3B3B3; cursor: pointer; }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #b82424; cursor: pointer; }
                                }
                            }
                        }
                        &__next {
                            width: 10%;
                            padding-right : 1%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{ width: 100%; }
                }
            }
            &__next_list {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-left: 0.5%;
            }
            &__next {
                background-color: white;
                border-radius: 10px;
                width: 50%;
                display: flex;
                flex-direction: column;
                &__list {
                    &__header {
                        &__titulo{ color: #053254; }
                        &__prev {
                            width: 90%;
                            padding-left: 1%;
                            display: inline-block;
                            text-align: left;
                            padding-top: 1%;
                            &__btns{
                                color: #053254;
                                transition: color 0.2s ease-in-out;
                                &__ok{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #129523; cursor: pointer; }
                                }
                                &__warn{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #F9A01B; cursor: pointer; }
                                }
                                &__new{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #B3B3B3; cursor: pointer; }
                                }
                                &__danger{
                                    margin-left: 0.2%;
                                    margin-right: 0.2%;
                                    &:hover { color: #b82424; cursor: pointer; }
                                }
                            }
                        }
                        &__next {
                            width: 10%;
                            padding-right: 2%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    &__content{ width: 100%; }
                }
            }
            &__complete{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
        }
        &__table{ 
            width: 100%;
            @media (max-width: 1200px) { overflow-x:auto; }
        }
        &__footer {
            border-top: 1px solid rgb(202, 202, 202);
            margin-top: 1%;
            &__prev {
                width: 50%;
                padding: 1% 0 0.5% 2%;
                display: inline-block;
                text-align: left;
            }
            &__next {
                width: 50%;
                padding: 1% 2% 0.5% 0;
                display: inline-block;
                text-align: right;
            }
        }
    }
}