<article class="tw-flex">

  <article class="tw-m-2 tw-my-6 tw-w-1/4">
    <div class="tw-border tw-shadow tw-rounded-lg tw-shadow">
      <section>
        <!-- header -->
        <div class="contenedor__header">
          <div class="contenedor__header__prev">
            <h2>Crear parametro PD</h2>
          </div>
          <div class="contenedor__header__next"></div>
        </div>
      </section>

      <section>
        <!-- body -->
        <div class="contenedor__body tw-bg-gray-100">
          <form [formGroup]="formVariablesPD" class="row tw-flex-col">
            <div class="form-group col-md-12">
              <label for="codigoVariablePD" class="form-label">Código de la variable</label>
              <input
                formControlName="codigoVariablePD"
                class="form-control tw-border tw-shadow"
                type="text"
                id="id_codigoVariablePD"
                readonly
              />
            </div>

            <div class="form-group col-md-12">
              <label for="descripcion" class="form-label"
                >Descripción de la variable</label
              >
              <input
                formControlName="descripcion"
                class="form-control tw-border tw-shadow"
                type="text"
                id="id_descripcion"
                [ngClass]="{
                  'is-invalid':
                    submittedModeloPDForm && f.descripcion.errors
                }"
              />
              <div
                *ngIf="submittedModeloPDForm && f.descripcion.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.descripcion.errors.required">
                  La variable es requerida.
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label for="coeficiente" class="form-label"
                >Valor coeficiente</label
              >
              <input
                formControlName="coeficiente"
                class="form-control tw-border tw-shadow"
                type="number"
                id="id_coeficiente"
                [ngClass]="{
                  'is-invalid':
                    submittedModeloPDForm && f.coeficiente.errors
                }"
              />
              <div
                *ngIf="submittedModeloPDForm && f.coeficiente.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.coeficiente.errors.required">
                  El coeficiente es requerido
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label for="campoEquivalente" class="form-label">Campo equivalente</label>
              <input
                formControlName="campoEquivalente"
                class="form-control tw-border tw-shadow"
                type="text"
                id="id_campoEquivalente"
                [ngClass]="{
                  'is-invalid':
                    submittedModeloPDForm && f.campoEquivalente.errors
                }"
              />
              <div
                *ngIf="submittedModeloPDForm && f.campoEquivalente.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.campoEquivalente.errors.required">
                  El campo equivalente es requerido
                </div>
              </div>
            </div>

            <div class="form-group col-md-12 tw-flex tw-items-center">
              <label for="estado" class="form-label">Estado</label>
              <input type="checkbox" class="tw-w-6 tw-h-6 tw-mx-2" formControlName="estado">
              <div
                *ngIf="submittedModeloPDForm && f.estado.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.estado.errors.required">
                  El estado debe estar definido
                </div>
              </div>
            </div>

            <div class="col-md-3 tw-my-2">
              <a
                (click)="handleRegistrarVariable()"
                class="btn btn-sm tw-border-2 tw-border-green-600"
                matTooltip="Añadir"
              >
                <i class="fa fa-plus tw-text-green-600"></i>
              </a>
            </div>

          </form>
        </div>
      </section>
    </div>
  </article>

  <article class="tw-m-2 tw-my-6 tw-flex-1">
    <div class="tw-border tw-shadow tw-rounded-lg tw-shadow">
      <section>
        <!-- header -->
        <div class="contenedor__header">
          <div class="contenedor__header__prev">
            <h2>Lista de variables PD</h2>
          </div>
          <div class="contenedor__header__next"></div>
        </div>
      </section>

      <section>
        <!-- body -->
        <div class="contenedor__body">
          <!-- *************** -->
          <mat-sidenav-container *ngIf="mostrarLista">
            <div class="content mat-elevation-z4">
                <article>
                  <section class="content__menu">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 20%">Variable</th>
                          <th style="width: 20%">Coeficiente</th>
                          <th style="width: 20%">Campo equivalente</th>
                          <th style="width: 15%">Usuario Crea</th>
                          <th style="width: 15%">Usuario Modifica</th>
                          <th style="width: 15%">Estado</th>
                          <th style="width: 15%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let variable of lstVariables">
                          <td>{{ variable.descripcionVariable }}</td>
                          <td>{{ variable.valorCoeficiente }}</td>
                          <td>{{ variable.codCampoEquivalente }}</td>
                          <td>{{ variable.usuarioCreacion }}</td>
                          <td>{{ variable.usuarioModificacion }}</td>
                          <td *ngIf="variable.estado == true">Activo</td>
                          <td *ngIf="variable.estado == false">Inactivo</td>
                          <td style="white-space: nowrap">
                            <a
                              (click)="handleEditarVariable(variable)"
                              class="btn btn-sm tw-border-2 tw-border-blue-600"
                              matTooltip="Información Crediticia"
                            >
                              <i class="fa fa-edit tw-text-blue-600"></i>
                            </a>
                            <a
                              (click)="handleEliminarVariable(variable)"
                              style="margin-left: 5%"
                              class="btn btn-sm tw-border-2 tw-border-red-600"
                              matTooltip="Eliminar"
                            >
                              <i class="fa fa-trash tw-text-red-600"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </article>
            </div>
          </mat-sidenav-container>
          <!-- *************** -->
        </div>
      </section>
    </div>
  </article>

</article>
