@mixin bg-color-orange { background-color: #F9A01B; }
@mixin bg-color-dark-blue { background-color: #0F426A; }
@mixin bg-color-darkest-blue { background-color: #053254; }
@mixin bg-color-blue { background-color: #005188; }
@mixin bg-color-skyblue { background-color: #00AEEF; }
@mixin bg-color-light-gray { background-color: #B3B3B3; }

@mixin font-aero {
    font-family: "../../assets/fonts/Aero.ttf";
    font-size: 1.8rem;
    font-weight: 750;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 1.5rem;
    }
}
@mixin font-info {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    @media (max-width: 600px) {
        font-size: 0.7rem;
    }
}

.info {
    height: 25px;

    @include bg-color-darkest-blue;
    display: flex;
    
    justify-content: flex-end;
    // flex-direction: row;
    
    &__logout {
        margin-top: 1px;
        margin-right: 2%;
        color: white;
    }
    &__user {
        padding-right: 1%;
        
        color: white;
    }
    &__user__icon {
        margin-right: 2%;
        margin-top: 5px;
    }
    &__logout__icon {
        margin-left: 2%;
        margin-top: 5px;
    }
    &__user__icon:hover {
        cursor: pointer;
        color: #F9A01B;
    }
    &__logout__icon:hover {
        cursor: pointer;
        color: #F9A01B;
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    &__description {
        color: white;
        display: flex;
        padding-top: 1%;
        @include font-aero;
    }

    &__deco--left {
        height: 13%;
        width: 13%;
    }

    &__deco--right {
        height: 13%;
        width: 13%;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        padding-right: 3%;
        padding-left: 3%;

        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;

        &__logo {
            transition: opacity 0.5s ease-in-out;
            cursor: pointer;
        }
        &__titulo {
            color: #005188;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.2s ease-in-out;

            @media (min-width: 1500px) {
                font-size: 1.5rem;
            }

            &:hover {
                color: #00AEEF;
                cursor: pointer;
            }
        }
    }
}


.content {
    margin: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        padding-top: 2%;
    
        &__item {
            padding-right: 3%;
            padding-left: 3%;
    
            padding-top: 2%;
            padding-bottom: 1%;
            text-align: center;
    
            &__logo {
                transition: opacity 0.5s ease-in-out;
                cursor: pointer;
            }
            &__titulo {
                color: #005188;
                font-size: 1rem;
                font-weight: 700;
                transition: color 0.2s ease-in-out;
    
                @media (min-width: 1500px) {
                    font-size: 1.5rem;
                }
    
                &:hover {
                    color: #00AEEF;
                    cursor: pointer;
                }
            }
        }
    }
}
mat-toolbar {
    background: linear-gradient(#00AEEF 1%, #005188, #053254 40%);
    color: white;
}