<h2 *ngIf="updateUser">Actualizar Información de Usuario</h2>
<h2 *ngIf="addUser">Registro de Usuarios</h2>

<!-- <div *ngIf="user.empresa">
    <h4 style="color:#1A5276">{{business.nombre}}</h4>
    <h5 style="color:#1A5276">{{business.cedulaJuridica}}</h5>
    <br>
</div> -->

<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="identificacion">Identificación</label>
                <input type="text" formControlName="identificacion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }" />
                <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.identificacion.errors.required">La identificación es obligatoria</div>
                </div>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="primerApellido">Primer apellido</label>
                <input type="text" formControlName="primerApellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" />
                <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
                    <div *ngIf="f.primerApellido.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="segundoApellido">Segundo apellido</label>
                <input type="text" formControlName="segundoApellido" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="numeroTelefono">Número de teléfono</label>
                <input type="text" formControlName="numeroTelefono" class="form-control" />
            </div>
            <div class="form-group" *ngIf="this.role">
                <label for="role">Rol asignado al usuario</label>
                <input type="text" formControlName="role" class="form-control" placeholder="{{role.nombre}}"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button *ngIf="updateUser" [disabled]="loading" class="btn btn-outline-warning mb-2 float-right">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Actualizar
                </button>
                <button *ngIf="addUser" [disabled]="loading" class="btn btn-outline-success mb-2 float-right">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Registrar
                </button>

                <a routerLink="{{URLRedirectPage}}" class="btn btn-outline-secondary mb-2">Atrás</a>
            </div>
        </form>
    </div>
</div>