<article class="var-menu">
  <section>
    <!-- menú -->
    <div class="var-menu__prev"> </div>

    <!-- título -->
    <div class="var-menu__center">
      <div class="var-menu__center__left"> </div>
      <div class="var-menu__center__center">
        <p class="var-menu__center__center__titulo">{{ 'CONFIGURATION.TITLE' | translate }}</p>
      </div>
      <div class="var-menu__center__rigth"> </div>
    </div>

    <!-- cerrar sesión -->
    <div class="var-menu__next">
      <button class="btn-sm var-menu__next__home" mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <button class="btn-sm var-menu__next__logout" mat-icon-button (click)="logout()">
        <mat-icon>input</mat-icon>
      </button>
    </div>
  </section>
</article>

<div class="styleLayout">
  <router-outlet></router-outlet>
</div>
