<div class="var-admin">
    
    <!-- menú -->
    <div class="var-admin__prev-icons"> </div>

    <div class="var-admin__prev">
      <div class="var-admin__prev__div">
        <img class="var-admin__prev__div__img" src="./assets/images/inra/img_bankap_left.png " />
      </div>
    </div>

    <!-- título -->
    <div class="var-admin__center">
      <p class="var-admin__center__titulo">{{ 'CONFIGURATION.TITLE' | translate }}</p>
    </div>

    <div class="var-admin__next">
      <div class="var-admin__next__div">
        <img class="var-admin__next__div__img" src="./assets/images/inra/img_bankap_rigth.png " />
      </div>
    </div>

    <div class="var-admin__next-icons">
      <button class="var-admin__next__home" 
              mat-icon-button
              (click)="redirectIndex()"> <mat-icon>home</mat-icon> </button>

      <button class="var-admin__next__logout" 
              mat-icon-button 
              (click)="logout()"> <mat-icon>input</mat-icon> </button>
    </div>

</div>

<main class="main-admin"> <router-outlet></router-outlet> </main>