<div class="contLogin">
  <div class="divLoginTittle"> 
    <span class="textLoginTittle"> Inicio de Sesión </span>
  </div>

  <div class="bodyLogin">
    <form [formGroup]="form" 
          (ngSubmit)="onSubmit()" 
          class="formulario-login">

      <div class="wrap-input100 m-b-26 form-group">
        <span class="lnr lnr-user label-input100"></span>
        <input  type="text"
                style="text-align: center"
                formControlName="username" 
                class="input100" 
                name="username" 
                placeholder="Nombre de usuario" 
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                [pattern]="ussPattern" />

        <span class="focus-input100"></span>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" class="textalign-center">El nombre de usuario es requerido</div>
        </div>
        <div *ngIf="f.username.errors?.pattern" class="invalid-feedback">
          <div class="textalign-center">no cumple con la regla regex de seguridad</div>
        </div>
      </div>
      
      <div class="flexInput">
        <div class="wrap-input100 m-b-19 form-group">
          <span class="lnr lnr-lock label-input100"></span>
          <input  [type]="mostrarContrasena ? 'text' : 'password'" 
                  style="text-align: center"
                  formControlName="password" 
                  class="input100" 
                  name="pass" 
                  placeholder="Contraseña" 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  [pattern]="pwdPattern" />

          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="textalign-center">La contraseña es requerida</div>
          </div>
          <div *ngIf="f.password.errors?.pattern" class="invalid-feedback">
            <div class="textalign-center">no cumple con la regla regex de seguridad</div> </div>
        </div>
        <div class="iconoVisibilidad" (click)="visualizarContrasena()"> <mat-icon>visibility</mat-icon> </div>
      </div>

      <div class="w-full p-b-2">
          <input type="checkbox" formControlName="rememberme" name="rememberme" id="rememberme_id" />
          <span for="lbl_rememberme"> recordarme </span>
      </div>

      <div *ngIf="intentosFallidosInicioSesion > 0">
          <div class="texto-error textalign-center">Inicio fallido (Intento número {{ intentosFallidosInicioSesion }})</div>
      </div>

      <div class="">
        <button class="login100-form-btn btn-iniciarsesion">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Iniciar Sesión </button>
      </div>

    </form>
  </div>
</div>