<div class="contLogin">
  <div class="login100-form-title headerLogin"> 
    <img src="./assets/images/inra/securebi.png" class="imgLoginHeaderTitle" /> </div>

  <div class="bodyLogin">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login100-form validate-form">
      <div class="wrap-input100 m-b-26 form-group">
        <span class="lnr lnr-user label-input100"></span>
        <input  type="text"
                style="text-align: center"
                formControlName="username" 
                class="input100" 
                name="username" 
                [placeholder]="'HOME.USERNAME' | translate" 
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                [pattern]="ussPattern" />

        <span class="focus-input100"></span>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" class="textalign-center">{{ 'HOME.VALIDATES.USERNAME' | translate }}</div>
        </div>
        <div *ngIf="username.errors?.pattern" class="invalid-feedback">
          <div class="textalign-center">{{ 'GENERAL.VALIDATES.REGEX' | translate }}</div>
        </div> 
        
      </div>
      
      <div class="flexInput">
        <div class="wrap-input100 m-b-19 form-group">
          <span class="lnr lnr-lock label-input100"></span>
          <input  [type]="mostrarContrasena ? 'text' : 'password'" 
                  style="text-align: center"
                  formControlName="password" 
                  class="input100" 
                  name="pass" 
                  [placeholder]="'HOME.PASSWORD' | translate" 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  [pattern]="pwdPattern" />

          <span class="focus-input100"></span>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="textalign-center">{{ 'HOME.VALIDATES.PASSWORD' | translate }}</div>
          </div>
          <div *ngIf="password.errors?.pattern" class="invalid-feedback">
            <div class="textalign-center">{{ 'GENERAL.VALIDATES.REGEX' | translate }}</div> </div>

        </div>
        <div class="iconoVisibilidad" (click)="visualizarContrasena()"> <mat-icon>visibility</mat-icon> </div>

      </div>

      <div class="w-full p-b-2">
          <input class="" type="checkbox" formControlName="rememberme" name="rememberme" id="rememberme_id" />
          <span class="" for="lbl_rememberme"> {{ 'HOME.REMEMBER' | translate }} </span>
        <!-- <div> <a href="#" class="txt1"> Recuperar Contraseña </a> </div> -->
      </div>

      <div *ngIf="intentosFallidosInicioSesion > 0">
          <div class="texto-error textalign-center">{{ 'HOME.VALIDATES.FAIL_LOGIN' | translate:{ intentosFallidosInicioSesion } }}</div>
      </div>

      <div>
        <button class="login100-form-btn btn-iniciarsesion">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           {{'HOME.LOGIN' | translate}} </button>
      </div>
    </form>

  </div>
</div>
