<div class="cont-main-analisis mat-elevation-z4">
  
  <div class="cont-main-analisis__header">
    <div>
      <h2>
        Información de Análisis para {{_personaAnalisis.nombre}} {{_personaAnalisis.primerApellido}}</h2>
    </div>

    <div class="cont-main-analisis__header__next">
      <h2 *ngIf="analisisSeleccionado"> Codigo de Análisis: {{analisisSeleccionado.codigoAnalisis}} </h2>
      <button *ngIf="habilitaBtnHistoprialIngreso"
              (click)="openHistorialModal()"
              class="btn btn-dark px-5" > Historial </button>
      <button *ngIf="habilitaBtnRegistroDeudor"
              class="btn btn-dark px-5" > Nuevo Deudor </button>
    </div>
  </div>

  <div class="cont-analisis__tabletas__body">
    <form [formGroup]="formAnalisis" class="row">
      <div class="col-md-3">
        <label for="lblFechaAnalisis" class="form-label"
          >Fecha de Análisis</label
        >
        <input
          formControlName="fechaAnalisis"
          class="form-control"
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <div
        class="form-group col-sm-1 margin-icos-mat margin-icos-mat__cbx"
      >
        <mat-checkbox formControlName="estado">Estado</mat-checkbox>
      </div>
      <div class="form-group col-sm-1 margin-icos-mat">
        <mat-checkbox formControlName="analisisDefinitivo"
          >Análisis definitivo ?</mat-checkbox
        >
      </div>

      <div class="col-sm-7"></div>

      <div class="form-group col-md-6">
        <label for="lblCapacidadPago" class="form-label"
          >Nivel de Capacidad de Pago</label
        >
        <select
          formControlName="capacidadPago"
          class="form-control"
          name="selectCapacidadPago"
          readonly
        >
          <option
            [disabled]="true"
            [ngValue]="objeto"
            *ngFor="let objeto of listNivelesCapacidadpago"
          >
            {{objeto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="submittedAnalisisForm && g.capacidadPago.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.capacidadPago.errors.required">
            El Nivel de Capacidad de Pago es requerido
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="lblPuntajeAnalisis" class="form-label"
          >Puntaje del Análisis</label
        >
        <input
          formControlName="puntajeAnalisis"
          class="form-control"
          type="text"
          id="id_puntajeAnalisis"
          readonly
        />
      </div>
      <div class="form-group col-md-2">
        <label for="lblCalificacionCic" class="form-label"
          >Calificación CIC</label
        >
        <input
          formControlName="calificacionCic"
          class="form-control"
          type="text"
          id="id_calificacionCic"
          readonly
        />
      </div>
      <div class="form-group col-md-2">
        <label for="lblCalificacionFinalCic" class="form-label"
          >Calificación FINAL CIC</label
        >
        <input
          formControlName="calificacionFinalCic"
          class="form-control"
          type="text"
          id="id_calificacionFinalCic"
          readonly
        />
      </div>

      <div class="form-group col-md-3">
        <label for="lblTipoIngresoAnalisis" class="form-label"
          >Tipo de Ingreso de Análisis</label
        >
        <select
          formControlName="tipoIngresoAnalisis"
          class="form-control"
          name="selectTipoIngresoAnalisis"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoIngresoAnalisis.errors }"
        >
          <option
            [ngValue]="objeto"
            *ngFor="let objeto of listTipoIngresoAnalisis"
          >
            {{objeto.id}} - {{objeto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="submittedAnalisisForm && g.tipoIngresoAnalisis.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.tipoIngresoAnalisis.errors.required">
            El Tipo de Ingreso es requerido
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="tipoFormaPagoAnalisis" class="form-label"
          >Forma de Pago de Análisis</label
        >
        <select
          formControlName="tipoFormaPagoAnalisis"
          class="form-control"
          name="tipoFormaPagoAnalisis"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoFormaPagoAnalisis.errors }"
        >
          <option
            [ngValue]="objeto"
            *ngFor="let objeto of listTipoFormaPagoAnalisis"
          >
            {{objeto.id}} - {{objeto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="submittedAnalisisForm && g.tipoFormaPagoAnalisis.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.tipoFormaPagoAnalisis.errors.required">
            La Forma de Pago es requerida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="lblModeloAnalisis" class="form-label"
          >Modelo de Análisis</label
        >
        <select
          formControlName="modeloAnalisis"
          class="form-control"
          name="selectModeloAnalisis"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.modeloAnalisis.errors }"
        >
          <option
            [ngValue]="objeto"
            *ngFor="let objeto of listModelosAnalisis"
          >
            {{objeto.id}} - {{objeto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="submittedAnalisisForm && g.modeloAnalisis.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.modeloAnalisis.errors.required">
            El Modelo de Análisis es requerido
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="tipoMoneda" class="form-label">Moneda</label>
        <select
          formControlName="tipoMoneda"
          class="form-control"
          name="tipoMoneda"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoMoneda.errors }"
        >
          <option
            [ngValue]="objeto"
            *ngFor="let objeto of listTiposMonedas"
          >
            {{objeto.simbolo}} {{objeto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="submittedAnalisisForm && g.tipoMoneda.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.tipoMoneda.errors.required">
            La Moneda es requerida
          </div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="lblTipoGenerador" class="form-label"
          >Tipo de Generador</label
        >
        <select
          formControlName="tipoGenerador"
          class="form-control"
          name="selectTipoGenerador"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.tipoGenerador.errors }"
        >
          <option
            [ngValue]="objeto"
            *ngFor="let objeto of listTiposGeneradores"
          >
            {{objeto.codigoGenerador}} - {{objeto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="submittedAnalisisForm && g.tipoGenerador.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.tipoGenerador.errors.required">
            El Tipo de Generador es requerido
          </div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="lblIndicadorCsd" class="form-label"
          >Indicador CSD</label
        >
        <input
          formControlName="indicadorCsd"
          class="form-control"
          type="number"
          id="id_indicadorcsd"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.indicadorCsd.errors }"
        />
        <div
          *ngIf="submittedAnalisisForm && g.indicadorCsd.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.indicadorCsd.errors.required">
            El Indicador CSD es requerido
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="lblPonderacionLvt" class="form-label"
          >Ponderación LVT</label
        >
        <input
          formControlName="ponderacionLvt"
          class="form-control"
          type="text"
          id="id_ponderacionLvt"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.ponderacionLvt.errors }"
        />
        <div
          *ngIf="submittedAnalisisForm && g.ponderacionLvt.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.ponderacionLvt.errors.required">
            La ponderación LVT es requerida
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="lblNumeroDependientes" class="form-label"
          >Número de Dependientes</label
        >
        <input
          formControlName="numeroDependientes"
          class="form-control"
          type="number"
          id="id_numeroDependientes"
          [ngClass]="{ 'is-invalid': submittedAnalisisForm && g.numeroDependientes.errors }"
        />
        <div
          *ngIf="submittedAnalisisForm && g.numeroDependientes.errors"
          class="invalid-feedback"
        >
          <div *ngIf="g.numeroDependientes.errors.required">
            El Número de Dependientes es requerido
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <hr />
        <textarea
          matInput
          formControlName="observaciones"
          class="form-control"
          id="id_observaciones"
          placeholder="Ingrese las observaciones..."
        ></textarea>
        <hr />
      </div>
    </form>
  </div>

  <div class="contenedor__footer">
    <div class="contenedor__footer__prev">
      <button
        *ngIf="habilitaBtnGeneraNuevoAnalisis"
        (click)="SubmitNuevoAnalisis()"
        class="btn btn-success px-5"
        mat-flat-button
        color="primary"
      >
        Registrar
      </button>

      <button
        *ngIf="habilitaBtnGuardarAnalisis"
        (click)="GuardarAnalisis()"
        class="btn btn-success px-5"
        mat-flat-button
        color="primary"
      >
        Guardar Cambios
      </button>
    </div>
    <div class="contenedor__footer__next">
      <button
        *ngIf="habilitaBtnIngreso"
        (click)="handleOnIngresos()"
        class="btn px-5 btn-info"
        mat-flat-button
        color="primary"
      >
        Ingresos
      </button>
      <button
        *ngIf="habilitaBtnPD_analisisIndependiente"
        (click)="handleOnPD()"
        class="btn px-5 btn-info"
        mat-flat-button
        color="primary"
      >
        Probability Of Default (PD)
      </button>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="analisisHistorialModal" tabindex="-1">

  <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <div class="cont-modal-analisis__header">
              <div class="cont-modal-analisis__header__prev">
                  <h1 style="color:#1A5276">Historial de Análisis de Capacida de Pago</h1>
              </div>
              <div class="cont-modal-analisis__header__next">
                  <button type="button"
                          class="btn-close"
                          data-dismiss="modal"></button>
              </div>
          </div>
        </div>

        <div class="modal-body">

          <form [formGroup]="formHistorialAnalisis" class="row">
            
            <div class="form-group col-md-3">
              <label  for="id_codigoAnalisisHistorial" class="form-label" >Código de Análisis del Historial</label>
              <input  formControlName="codigoAnalisisHistorial"
                      class="form-control"
                      type="number"
                      id="id_codigoAnalisisHistorial"
                      [ngClass]="{ 'is-invalid': submittedHistorialAnalisisForm && h.codigoAnalisisHistorial.errors }"/>
              
              <div *ngIf="submittedHistorialAnalisisForm && h.codigoAnalisisHistorial.errors"
                    class="invalid-feedback" >
                <div *ngIf="h.codigoAnalisisHistorial.errors.required" > El Código de Análisis del Historial es requerido </div>
              </div>
            </div>

            <div class="col-md-3 margin-filter">
              <a class="item-edit"> <mat-icon>filter_list</mat-icon> </a>
            </div>
          </form>

          <hr>

          <div *ngIf="listHistorialAnalisis">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="table__hist-analisis__id">Análisis</th>
                    <th class="table__hist-analisis__definitivo">Definitivo</th>

                    <th class="table__hist-analisis__nivel-cap">Nivel Cap pago</th>
                    
                    <th class="table__hist-analisis__scoring">Scoring</th>
                    <th class="table__hist-analisis__cic">Puntaje Final CIC</th>
                    <th class="table__hist-analisis__moneda">Moneda</th>

                    <th class="table__hist-analisis__fecha">Fecha de Análisis</th>
                    <th class="table__hist-analisis__estado">Estado</th>
                    <th class="table__hist-analisis__obs">Observaciones</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let obj of listHistorialAnalisis"
                      class="item-list__confirm"
                      (click)="selectAnalisisHistorial(obj)" >

                    <td class="item-edit table__hist-analisis__id__td">{{obj.codigoAnalisis}}</td>

                    <td *ngIf="obj.analisisDefinitivo==true" class="item-edit table__hist-analisis__estado__td">Sí</td>
                    <td *ngIf="obj.analisisDefinitivo==false" class="item-edit table__hist-analisis__estado__td">No</td>

                    <td class="item-edit table__hist-analisis__nivel-cap__td">{{obj.codigoNivelCapPago}}</td>
                    
                    <td class="item-edit table__hist-analisis__scoring__td">{{obj.puntajeAnalisis}}</td>
                    <td class="item-edit table__hist-analisis__cic__td">{{obj.puntajeFinalCic}}</td>
                    <td class="item-edit table__hist-analisis__moneda__td">{{obj.codigoMoneda}}</td>

                    <td class="item-edit table__hist-analisis__fecha__td">{{obj.fechaAnalisis | date:'dd/MM/yyyy'}}</td>

                    <td *ngIf="obj.estado==true" class="item-edit table__hist-analisis__estado__td">Activo</td>
                    <td *ngIf="obj.estado==false" class="item-edit table__hist-analisis__estado__td">Inactivo</td>

                    <td class="item-edit table__hist-analisis__obs__td">{{obj.observaciones}}</td>
                  </tr>
                </tbody>
              </table>
          </div>

          <div class="cont-modal-analisis__footer">
              <div class="cont-modal-analisis__footer__prev"> </div>
              <div class="cont-modal-analisis__footer__next"> </div>
          </div>

        </div>

      </div>
  </div>
</div>